{% set title = "User Profile" %}
{% extends "base.html" %}

{% block scripts %}
    {{super()}}
    <script type="text/javascript" src="{{url_for('static', filename='js/emergencyContactInfo.js') }}?u={{lastStaticUpdate}}"></script>
{% endblock %}

{% block app_content %}

<div class="text-center">
    <h1> Emergency Contact </h1> <br>
</div>

<div id='username' hidden value='{{username}}'></div>

<form id='contactForm' enctype="multipart/form-data" role='form' action='/profile/{{username}}/emergencyContact' method='POST'>
    <div class='row'>
        <!--Left side-->
        <div class='col-md-6'>

            <div class='form-group mb-4'>
                <label class='form-label' for='name'><strong> Contact Name </strong></label>
                <input {{'disabled' if readOnly else ''}} class='form-control' type='text' id='name' value="{{contactInfo.name if contactInfo else ''}}" name='name'/>
            </div>

            <div class='form-group mb-4'>
                <label class='form-label' for='relationship'><strong> Relationship to You </strong></label>
                <input {{'disabled' if readOnly else ''}} class='form-control' type='text' id='relationship' value="{{contactInfo.relationship if contactInfo else ''}}" name='relationship'/>
            </div>
            <div class='form-group mb-4'>
                <label class='form-label' for='email'><strong> Email Address </strong></label>
                <input {{'disabled' if readOnly else ''}} class='form-control' type='email' id='email' value="{{contactInfo.emailAddress if contactInfo else ''}}" name='emailAddress'/>
            </div>

        </div>



        <!--Right side-->


        <div class='col-md-6'>

            <div class='form-group mb-4'>
                <label class='form-label' for='cellPhone'><strong> Cell Phone Number </strong></label>
                <input {{'disabled' if readOnly else ''}} class='form-control phone-input' type='text' id='cellPhone' value="{{contactInfo.cellPhone if contactInfo else ''}}" name='cellPhone'/>
            </div>
            <div class='form-group mb-4'>
                <label class='form-label' for='workPhone'><strong> Work Phone Number </strong></label>
                <input {{'disabled' if readOnly else ''}} class='form-control phone-input' type='text' id='workPhone' value="{{contactInfo.workPhone if contactInfo else ''}}" name='workPhone'/>
            </div>
            <div class='form-group mb-4'>
                <label class='form-label' for='cellPhone'><strong> Home Phone </strong></label>
                <input {{'disabled' if readOnly else ''}} class='form-control phone-input' type='text' id='homePhone' value="{{contactInfo.homePhone if contactInfo else ''}}" name='homePhone'/>
            </div>
        </div>

       
        <!--Bottom-->
        <div class='form-group'>
            <label class='form-label' for='address'><strong> Home Address </strong></label>
            <input {{'disabled' if readOnly else ''}} class='form-control' type='text' id='address' value="{{contactInfo.homeAddress if contactInfo else ''}}" name='homeAddress'/>
        </div>

    </div>

    <br>

    <div class='form-group' style='text-align:right'>
        {% if readOnly %}
            <a href='/profile/{{username}}' class='btn btn-primary'>Exit</a>           
        {% else %}
            <a id='exit' href='/profile/{{username}}' class='btn btn-secondary'>Cancel</a>
            <a id='saveExit' class='btn btn-primary'> Save & Exit </a>
            <a id='saveContinue' class='btn btn-primary'>Continue to Insurance Info</a>
        {% endif %}
    </div>

</form>




{% endblock %}