{% set title = "Home" %}
{% extends "base.html" %}
{% block scripts %}
  {{super()}}
  <script type="module" src="/static/js/landingPage.js"></script>
{% endblock %}
{% block app_content %}
<h1 class="text-center mb-5">Welcome to <span><img src="{{url_for('static', filename='images/logos/celts_logo.png')}}" style="width:160px"></span></h1>
<div class="d-flex justify-content-center row row-cols-xl-4 row-cols-lg-3 row-cols-md-3 row-cols-1 g-4">
  {% for program, data in managerProgramDict.items() %}
    <div class="card m-2">
      <div class="mt-1 mx-1 d-flex" style="height:200px">
        <img src="{{data.image}}" class="img-fluid rounded align-self-center m-auto" style="max-height:200px" alt="card-image">
      </div>
      <div class="card-body">
        <a class="btn btn-sm m-0 p-0"><h5 class="eventsListButton card-title" data-term="{{term.id}}" data-program_id="{{program.id}}">{{program.programName}}</h5></a>
        <p class="card-subtitle text-muted">
          Managed by: {{data.managers}}</p>
        <p class="card-text">{{program.programDescription|truncate(160)}}
          {% if not program.programDescription == program.programDescription|truncate(160) %}
            <a type="button" class="float-end link-primary" data-bs-toggle="modal"
              data-bs-target="#descriptionModal" data-bs-url="{{program.programUrl}}" data-bs-program="{{program.programName}}"
              data-bs-image="{{data.image}}" data-bs-description="{{program.programDescription}}" data-bs-id="{{program.id}}" data-bs-list="{{programsWithEventsList}}">
                Read more
            </a><br /><br />
          {% endif %}
        </p>
      </div>
      <div class="card-footer text-center">
        {% if not program.isBonnerScholars %}
          {% if program in programsWithEventsList %}
            <a class="btn btn-primary m-auto eventsListButton" data-term="{{term.id}}" data-program_id="{{program.id}}">View Upcoming Events</a>
          {% else %}
            <a class="btn btn-secondary m-auto disabled">No Upcoming Events</a>
          {% endif %}
        {% else %}
          {% if g.current_user.isBonnerScholar %}
            {% if program in programsWithEventsList %}
              <a class="btn btn-primary m-auto eventsListButton" data-term="{{term.id}}" data-program_id="{{program.id}}">View Upcoming Events</a>
            {% else %}
              <a class="btn btn-secondary m-auto disabled">No Upcoming Events</a>
            {% endif %}
          {% else %}
            <a class="btn disabled opacity-0" style="opacity:0">Bonner Scholars</a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
<!-- MODAL -->
<div class="modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="descriptionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <img id="modalImage" src="" class="img-fluid rounded" alt="program-image">
        </div>
        <p class="mt-3" id="modalDescription"></p>
        <a type="button" id="modalLearnMore" class="float-end link-primary" href="">Learn more</a>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary eventsListButton" id="modalProgram" data-term="{{term.id}}" data-program_id="">View Events</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
