{% extends "base.html" %}
{% block app_content %}




<div id="wrapper">
  <div class ="container">
    <a class="skipContent" href="#backButton" tabindex="1" style="top:8%">Click to Skip</a>
    <div class="contributors" align="center">
      <h2> Manage Service Learning Faculty </h2>
  <table class="table table-striped">
    <thead>
   <tr>
    <th scope = "col">Name</th>
    <th scope = "col">Prev Classes</th>
    <th scope= "col">Remove</th>
    <th scope= "col">Select</th>
  </tr>
  </thead>
  <tbody>
  {% for user in users%}
  <tr>
    <td>{{user.username}}</td>
    <td>Maria Anders</td>
    <td><button class="close-button danger">x </button></td>
    <td><button input type="checkbox"> [] </td>
  </tr>
  {% endfor %}


  </tbody>
</table>

<div class="input-group">
  <input type="input" id="{{inputId}}" name="{{inputId}}" class="form-control" placeholder="Search" autocomplete="off"/>
  <button type="button" class="btn btn-secondary btn-sm" disabled>
    <span class="bi bi-search"></span>
  </button></div>
  <div class="col-md-4">
  <button type="button" >Add Faculty</button>
  <button type="button" > send Email</button>
</div>

{% endblock %}
