{%set title ="User Profile"%}
{% extends "base.html"%}

{% block scripts %}
  {{super()}}
  <script type="text/javascript" src="{{url_for('static', filename='js/userProfile.js') }}?u={{lastStaticUpdate}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename ='css/volunteerProfile.css') }}?u={{lastStaticUpdate}}">

{% endblock %}

{% block app_content %}
<div class="row">
  <h1>{{volunteer.firstName}} {{volunteer.lastName}}</h1>
  <div class="col-md-6 col-lg-3">
    <div>{{volunteer.bnumber}}</div>
    <div>{{volunteer.email}} </div>
  </div>
  <div class="col-md-6 col-lg-3">
    {% if volunteer.major -%}
    <div>{{volunteer.major}}</div>
    {% endif %}
    {% if volunteer.classLevel -%}
    <div>{{volunteer.classLevel}}</div> 
    {% endif %}
  </div>
  <div class="row pb-2 pe-0">
    <div class="col-md-6 col-lg-3">
      <input type="text" style="border: none" size="14" class="bfh-phone" data-value="{{volunteer.phoneNumber}}" id="phoneInput" value="{{volunteer.phoneNumber}}" placeholder="Phone Number" />
      <a class="text-decoration-none primary editButton" tabindex="0" id="updatePhone" data-username="{{volunteer.username}}" type="button">Edit</a>
    </div> &nbsp;
    <div class="col"></div>
    <div class="col-auto pe-0 ">
      <select data-username="{{volunteer.username}}" id="actions" class=form-select align="right">
        <option value="" selected disabled hidden>Choose an Action</option>
        {% if volunteer == g.current_user or g.current_user.isCeltsAdmin %}
            <option value="Emergency Contact"> {{'Edit' if volunteer == g.current_user else 'View'}} Emergency Contact </option>
            <option value="Insurance Information"> {{'Edit' if volunteer == g.current_user else 'View'}} Insurance Information </option>
        {% endif %}
        {% if g.current_user.isAdmin %}
          <option value="Manage CCE Minor"> Manage CCE Minor </option>
        {% endif %}
        {% if volunteer == g.current_user or g.current_user.isCeltsAdmin %}
            <option value="Print Travel Form"> Print Travel Form </option>
        {% endif %}
        <option value="View Service Transcript"> View Service Transcript </option>
      </select>
    </div>
  </div>
  
</div>
<div class="accordion" id="userProfile">



<!-- ################# Upcoming Events ################ -->
  <div class="accordion-item">
    <h3 class="accordion-header" id="headingOne">
      {% set focus = "open" if visibleAccordion == "upcoming" or (not visibleAccordion and volunteer.username == g.current_user.username) else "collapsed" %}
      <button class="accordion-button {{focus}}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Upcoming Events</button>
    </h3>
    {% set show = "show" if visibleAccordion == "upcoming" or (not visibleAccordion and volunteer.username == g.current_user.username) else ""%}
    <div id="collapseOne" class="accordion-collapse collapse {{show}} " aria-labelledby="headingOne" data-bs-parent="#userProfile">
      <div class="accordion-body">
        <div class="row table-responsive">
          <table class="table table-striped">
            {% if upcomingEvents|length > 0 %}
              <thead class="tableHeader">
                <th scope="col">Program</th>
                <th scope="col">Event Name</th>
                <th scope="col">Event Date</th>
                <th nowrap scope="col">Start Time</th>
                <th scope="col">Location</th>
                <th scope="col">RSVP Status</th>
              </thead>
              {% for event in upcomingEvents %}
                <tr class="{% if event.startDate == currentDateTime.date() and event.timeStart < currentDateTime.time() %} ongoing-event {% endif %}{% if event.startDate == currentDateTime.date() and not event.timeStart < currentDateTime.time() %} bg-info {% endif %}">
                  <td>{{event.program.programName if event.program else '--'}}</td>
                  <td><a href= '/event/{{event.id}}/view' class="link-primary">{{event.name}}</a></td>
                  <td nowrap>{{event.startDate.strftime('%m/%d/%Y')}}</td>
                  <td nowrap>{{event.timeStart.strftime('%-I:%M %p')}}</td>
                  <td>{{event.location}}</td>
                  {% if (event.isRsvpRequired) and (event.id in rsvpedEvents) %}
                    <td>You have RSVP'd for this event.</td>
                  {% elif (event.isRsvpRequired) and (event.id not in rsvpedEvents) %}
                    <td>You have not RSVP'd for this event.</td>
                  {% else %}
                    <td>This event does not require RSVP.</td>
                  {% endif %}
                </tr>
              {% endfor %}
            {% else %}
              <h5>You have no upcoming events.</h5>
            {% endif %}
          </table>
        </div>
      </div>
    </div>
  </div>
<!-- ################# Upcoming Events ################ -->

<!-- ################# Participation History ################ -->
  <div class="accordion-item">
    <h3 class="accordion-header" id="headingTwo">
      {% set focus = "open" if visibleAccordion == "history" else "collapsed" %}
      <button class="accordion-button {{focus}}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Participation History
      </button>
    </h3>
    {% set show = "show" if visibleAccordion == "history" else "" %}
    <div id="collapseTwo" class="accordion-collapse collapse {{show}}" aria-labelledby="headingTwo" data-bs-parent="#userProfile">
      <div class="accordion-body">
        <div class="table-responsive">
          <table class="table table-striped banTable">
            {% if participatedEvents|length > 0 %}
              <thead>
                <th scope="col">Program</th>
                <th scope="col">Event Name</th>
                <th scope="col">Event Date</th>
              </thead>
              {% for event in participatedEvents %}
              <tr>
                <td>{{event.programName}}</td>
                <td><a href= '/event/{{event.id}}/view' class="link-primary">{{event.name}}</a></td>
                <td nowrap>{{event.startDate.strftime('%m/%d/%Y')}}</td>
              </tr>
              {% endfor %}
            {% else %}
              <h5>You have not participated in any events.</h5>
            {% endif %}
          </table>
        </div>
      </div>
    </div>
  </div>
<!-- ################# Participation History ################ -->

<!-- ################# Program Table ################ -->
  <div class="accordion-item">
    <h3 class="accordion-header" id="headingThree">
      {% set focus = "open" if visibleAccordion == "programTable" or (not visibleAccordion and volunteer.username != g.current_user.username) else "collapsed" %}
      <button class="accordion-button {{focus}}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Programs
      </button>
    </h3>
    {% set show = "show" if visibleAccordion == "programTable" or (not visibleAccordion and volunteer.username != g.current_user.username) else "" %}
    <div id="collapseThree" class="accordion-collapse collapse {{show}}" aria-labelledby="headingThree" data-bs-parent="#userProfile">
      <div class="accordion-body">
        <div class="table-responsive">
          <table class="table table-striped banTable">
            <thead>
              <tr>
                <th scope="col">Program</th>
                <th scope="col">Notify</th>
                <th scope="col">Training</th>
                {% if g.current_user.isCeltsAdmin or g.current_user.isCeltsStudentStaff%}
                  <th scope="col">Eligibility</th>
                {% endif %}
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for row in eligibilityTable %}
                {% set trainingList = row['trainingList'][volunteer.username] %}
                {% set checked = "" %}
                {% if row.program in programsInterested %}
                  {% set checked = "checked" %}
                {% endif %}
                {% from 'trainingsHoverMacro.html' import trainingsHover %}
                <tr>
                  <td><a href="{{row.program.url}}" id="programNameTable">{{row.program.programName}}</a></td>
                  <td><input class="form-check-input notifyInput" id="notifyInput" type="checkbox" data-programid="{{row.program.id}}" data-username="{{volunteer.username}}" {{checked}}></td>
                  <td>
                    {% set hasCompletedAllTrainings = row.completedTraining %}
                    <i class="bi bi-{{'check' if hasCompletedAllTrainings else 'x'}}-lg"></i> &nbsp&nbsp
                    <a class="trainingPopover" id="{{row.program.id}}" href="javascript:void(0);" data-toggle="popover" title="Program Trainings" data-content= "{{trainingsHover(trainingList)}}">View</a>
                  </td>
                  {% if g.current_user.isCeltsAdmin or g.current_user.isCeltsStudentStaff %}
                    {% if row.isNotBanned %}
                      <td class="programBan"> Eligible </td>
                      {% set label = "Ban" %}
                    {% else %}
                      <td class="programBan text-danger"> Banned </td>
                      {% set label = "Unban" %}
                    {% endif %}
                    <td>
                    {% if g.current_user.isCeltsAdmin %}
                      <button type="button" class="ban btn btn-primary" data-programid="{{row.program.id}}" data-name="{{row.program.programName}}" data-note="{{row.banNote}}" value="{{label}}">Edit</button>
                    {% endif %}
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        <a href="https://next.berea.edu/centers/center-for-excellence-in-learning-through-service">For more information about CELTS opportunities, click here.</a>
        </div>
      </div>
    </div>
  </div>
<!-- ################# Program Table ################ -->

<!-- ################# CELTS Labor Section ################ -->
  {% if participatedInLabor or volunteer.isCeltsStudentStaff%}
    <div class="accordion-item">
      <h3 class="accordion-header" id="headingFour">
        {% set focus = "open" if visibleAccordion == "celtsLabor" else "collapsed" %}
        <button class="accordion-button {{focus}}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">CELTS Labor</button>
      </h3>
      {% set show = "show" if visibleAccordion == "celtsLabor" else "" %}
      <div id="collapseFour" class="accordion-collapse collapse {{show}}" aria-labelledby="headingFour" data-bs-parent="#userProfile">
        <div class="accordion-body">
          <!-- This makes sure that the CeltsAdmins can make someone program manager or not.  -->
          <div class="row">
            {% if participatedInLabor %}
            <div class="col-md-6">
              <h5>CELTS Labor History:</h5>
              {% for program, term in participatedInLabor.items() %}
                <p>{{term}}: {{program}}</p> 
              {% endfor %}
            </div>
            {% endif %}
            {% if volunteer.isCeltsStudentStaff %}
            <div class="col-md-6">
              {% if g.current_user.isCeltsAdmin %}
                <h5>Choose programs to manage:</h5>
              {% else %}
                <h5>{{volunteer.firstName}} {{volunteer.lastName}} is the manager of:</h5>
              {% endif %}
              <ul class="list-unstyled">
                {% for program in programs %}
                  {% set action = "add" %}
                  {% set checked = "" %}
                  {% if program.id in permissionPrograms %}
                    {% set action = "remove" %}
                    {% set checked = "checked" %}
                    {% if not g.current_user.isCeltsAdmin%}
                      <li>{{program.programName}}</li>
                    {% endif %}
                  {% endif %}
                  {% if g.current_user.isCeltsAdmin%}
                    <li>
                      <input  type="checkbox" id="mgr-{{ program.id }}" data-name="{{volunteer.firstName}} {{volunteer.lastName}}" data-programName="{{program.programName}}" data-programid="{{program.id}}" {{checked}}  onclick="updateManagers(this,'{{volunteer.username}}')">
                      <label  style="padding-left: 15px;" for="mgr-{{ program.id }}">{{program.programName}}</label>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
<!-- ################# CELTS Labor Section ################ -->

<!-- ################# Background Check Section ################ -->
  {% if g.current_user.isCeltsAdmin %}
    <div class="accordion-item">
      <h3 class="accordion-header" id="headingFive">
        {% set focus = "open" if visibleAccordion == "background" else "collapsed" %}
        <button class="accordion-button {{focus}}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Background Check</button>
      </h3>
      {% set show = "show" if visibleAccordion == "background" else "" %}
      <div id="collapseFive" class="accordion-collapse collapse {{show}}" aria-labelledby="headingFive" data-bs-parent="#userProfile">
        <div class="accordion-body">
          <div class="table-responsive">
            <table class="table table-striped" id="bgHistoryTable">
              <thead>
                <tr>
                  <th scope="col">Description</th>
                   {% if g.current_user.isCeltsAdmin%}
                     <th scope="col">Status</th>
                     <th scope="col">Date</th>
                     <th class="" id="displaySave" scope="col"></th>
                   {% endif %}
                 </tr>
               </thead>
               <tbody>
                 {% for bgType in backgroundTypes %}
                 <tr>
                   <td>
                       <h6>{{bgType.description}}</h6>
                       <ul class="mb-0" id="bgHistory{{bgType.id}}" >
                          {% for bgStatus in allBackgroundHistory[bgType.id] %}
                           <li>
                             {{bgStatus.backgroundCheckStatus}}: {{bgStatus.dateCompleted.strftime("%m/%d/%Y")}}
                             <button class="bg-transparent border-0 text-danger" id="deleteBgHistory" data-id="{{bgStatus.id}}">X</button>
                           </li>
                          {% endfor %}
                       </ul>
                   </td>
                   {% if g.current_user.isCeltsAdmin %}
                      <td>
                          <select class="passedBackgroundCheck form-select" id="{{bgType.id}}" data-id="{{bgType.id}}">
                              <option value=''></option>
                              <option value="Submitted">Submitted</option>
                              <option value="Passed">Passed</option>
                              <option value="Failed">Failed</option>
                          </select>
                      </td>
                      <td><input name="dateCompleted" type="date" id="{{bgType.id}}_date" class="form-control"></td>
                      <td><button type="button" class="savebtn btn btn-primary" id="{{bgType.id}}" data-id="{{bgType.id}}" data-username="{{volunteer.username}}">Save</button></td>
                  {% endif %}
                  </tr>
                {%endfor%}
               </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
<!-- ################# Background Check Section  ################ -->

<!-- ################# Notes Section ################ -->
  <div class="accordion-item">
    <h3 class="accordion-header" id="headingSix">
      {% set focus = "open" if visibleAccordion == "notes" else "collapsed" %}
      <button class="accordion-button {{focus}}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Notes</button>
    </h3>
    {% set show = "show" if visibleAccordion == "notes" else "" %}
    <div id="collapseSix" class="accordion-collapse collapse {{show}}" aria-labelledby="headingSix" data-bs-parent="#userProfile">
      <div class="accordion-body">
        <table class="table table-responsive table-striped" id="profileTable">
          <thead>
            <tr>
              <th>Date</th>
              <th>Creator</th>
              <th>Note</th>
              <th>Visible To</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% if g.current_user.isCeltsAdmin %}
              {% set userTier = 3 %}
            {% elif g.current_user.isCeltsStudentStaff %}
              {% set userTier = 2 %}
            {% else %}
              {% set userTier = 1 %}
            {% endif %}
            {% set note = namespace(count=0) %}
            {% for row in profileNotes %}
              {% if userTier >= row.viewTier and (not row.isBonnerNote or g.current_user.isBonnerScholar) %}
                <tr>
                  <td>{{row.note.createdOn.strftime('%m/%d/%Y')}}</td>
                  <td>{{row.note.createdBy.firstName+ " "+ row.note.createdBy.lastName}}{{ " (you)" if row.note.createdBy == g.current_user else ""}}</td>
                  <td>{{row.note.noteContent}}</td>
                  <td>
                    {% set bonner = "Bonner " if row.isBonnerNote else "" %}
                    {% if row.viewTier == 3 %}
                      {{bonner}}Admins
                    {% elif row.viewTier == 2 %}
                      {{bonner}}Admins/Student Staff
                    {% else %}
                      {{ "Bonner Scholar " if row.isBonnerNote else "Everyone"}}
                    {% endif %}
                  </td>
                  <td>
                    {% if (g.current_user == row.note.createdBy) or g.current_user.isCeltsAdmin%}
                      <button type="button" class="btn btn-sm btn-danger deleteNoteButton float-end" data-noteid="{{row.id}}" data-username="{{volunteer.username}}">Delete</button>
                    {% else %}
                      <button type="button" class="btn btn-sm btn-danger deleteNoteButton float-end disabled" data-noteid="{{row.id}}" data-username="{{volunteer.username}}">Delete</button>
                    {% endif %}
                  </td>
                </tr>
                {% set note.count = note.count + 1 %}
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
        {% if note.count == 0 %}
          <tr>There are no notes yet</tr>
        {% endif %}
        <br>
        <br>
        <button type="button" name="button" class="btn btn-primary" id="addNoteButton">Add Note</button>
      </div>
    </div>
  </div>
<!-- ################# Notes Section ################ -->

<!-- ################# Dietary Restrictions Section  ################ -->
  <div class="accordion-item">
    <h3 class="accordion-header" id="headingSeven">
    {% set focus = "open" if visibleAccordion == "dietaryInformation" else "collapsed" %}
    <button class="accordion-button {{focus}}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
      Dietary Restrictions
    </button>
    </h3>
    {% set show = "show" if visibleAccordion == "dietaryInformation" else "" %}
    <div id="collapseSeven" class="accordion-collapse collapse {{show}}" aria-labelledby="headingSeven" data-bs-parent="#userProfile">
      <div class="accordion-body">
        <div class="container">
          <form>
            <div class="form-group">
              <label for="usr">Please enter any dietary restrictions you have:</label>
              <textarea class="form-control" id="diet" placeholder="Dietary Restrictions">{%if volunteer.dietRestriction%}{{volunteer.dietRestriction}}{%endif%}</textarea>
            </div>
            <br>
            <button type="button" class="saveDiet btn btn-primary" data-user="{{volunteer.username}}">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- ################# Dietary Restrictions Section  ################ -->

<!-- ################# Bonner Scholar ################ -->
  {% set canViewBonner = (g.current_user.isCeltsAdmin or g.current_user == volunteer) %}
  {% if volunteer.isBonnerScholar and canViewBonner %}
  <div class="accordion-item">
    <h3 class="accordion-header" id="headingEight">
      {% set focus = "open" if visibleAccordion == "bonner" else "collapsed" %}
      <button class="accordion-button {{focus}}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">Bonner Program</button>
    </h3>
    {% set show = "show" if visibleAccordion == "bonner" else "" %}
    <div id="collapseEight" class="accordion-collapse collapse {{show}}" aria-labelledby="headingEight" data-bs-parent="#userProfile">
      <div class="accordion-body container">
          <div class="row">
            <div class="col-md-6">
            {# Bonner Events #}
              {% set address = "Your" if g.current_user == volunteer else volunteer.firstName~"'s" %}
              <h5>{{address}} Upcoming Bonner Events</h5>
              {% set bonnerEvents =  upcomingEvents|selectattr("program.isBonnerScholars")|list %}
              {% if bonnerEvents|length %}
                  <ul class='ps-1'>
                  {% for event in bonnerEvents %}
                      <li class="d-flex flex-row justify-content-start">
                        <div class="me-2">{{event.startDate.strftime('%B %-m')}} at {{event.timeStart.strftime('%-I:%M%p')|lower}}:</div>
                        <div><a href= '/event/{{event.id}}/view' class="link-primary">{{event.name}}</a></div>
                      </li>
                  {% endfor %}
                  </ul>
              {% else %}
                <p class='ps-1'>No RSVPs for any upcoming Bonner events.</p>
              {% endif %}
              <br>

            {# Bonner Notes #}
              <h5>Notes</h5>
              {% set bonnerNotes =  profileNotes|selectattr("isBonnerNote")|list %}
              {% if bonnerNotes|length %}
              <dl class="bonnerNotes">
                {% for row in profileNotes|selectattr("isBonnerNote") %}
                    <dt>{{row.note.noteContent}}</dd>
                    <dd class='text-muted'>{{row.note.createdBy.fullName}} <span class="float-end">{{row.note.createdOn.strftime('%m/%d/%Y')}}</span></dt>
                {% endfor %}
              </dl>
              {% else %}
                <p class='ps-1'>No one has left a Bonner note.</p>
              {% endif %}
                <button type="button" name="button" class="btn btn-primary" id="addBonnerNoteButton">Add Bonner Note</button>
            </div>

            {# Bonner Requirements #}
            <div class="col-md-6">
              <h5>Requirement Progress</h5>
              <ul>
              {% for req in bonnerRequirements %}
                <li>{{req.name}}
                {% if req.completed %}
                  <span class="bi bi-check fs-3 text-success"></span>
                {% else %}
                  <span class="bi bi-x fs-3"></span>
                {% endif %}
                </li>
              {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
<!-- ################# Bonner Scholar ################ -->
</div>

<!-- ################# Add Notes Modal ################ -->
<div class="modal fade" id="noteModal" tabindex="-1" aria-labelledby="addProfileNoteModalLabel" aria-hidden="true" style="width:-60px;">
  <form id="addNoteForm">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Notes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="align=center">
          <div class="input-group">
            <div class="form-group input-group-x form-outline">
              {%  set vis = "" if g.current_user.isCeltsStudentStaff or g.current_user.isCeltsAdmin else "d-none" %}
              {% if vis != "" %}
                <p><b>This note will only be visible to you, CELTS Student Staff, and Administrators.</b></p>
              {% endif %}

              <label class="form-label" style="display:none" for='inputEventTerm' id="bonnerStatement"><strong>Bonner notes are visible to {{volunteer.firstName}} and CELTS administrators.</strong></label>
              <label class="form-label {{vis}}" for='inputEventTerm' id="visibilityLabel"><strong>Visibility</strong></label>
              <select class="form-select {{vis}}" name='visibility' id='noteDropdown'>
              

                
                  {% if g.current_user.isCeltsAdmin %}
                    <option value='3'>Admins</option>
                  {% endif %}
                  {% if g.current_user.isCeltsAdmin or g.current_user.isCeltsStudentStaff %}
                    <option value='2'>Admin/Student Staff</option>
                  {% endif %}
                  <option value='1' selected>Everyone</option>
                </select>
               
              <div id="addVisibility"> 
                {% if g.current_user.isBonnerScholar and volunteer.isBonnerScholar %}
                  <div class="form-check form-switch pt-4">
                    <input class="form-check-input" name="bonner" id="bonnerInput" type="checkbox" />
                    <label class="form-check-label" for="bonnerInput"><strong>Related to Bonner Scholars Program</strong></label>
                  </div>
                {% endif %}
              </div>
              
              <br>
            </div>
            <div class="form-group input-group-x form-outline ui-widget">
              <textarea required name="noteTextbox" rows="8" cols="80" type="input" id="addNoteTextArea" class="form-control" placeholder="This will add a note to a user's profile." ></textarea>
            </div>
          </div>
        </div>
  		  <div class="modal-footer justify-content-between">
    			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    			<button id="notesSaveButton" data-username="{{volunteer.username}}" type="submit" class="btn btn-primary">Save</button>
  		  </div>
      </div>
    </div>
  </form>
</div>
<!-- ################# Add Notes Modal ################ -->

<!-- ################# Ban or Unban Modal ################ -->
<div class="modal fade" id="banModal" tabindex="-1" aria-labelledby="banVolunteerModalLabel" aria-hidden="true" style="width:-60px;">
  <form onsubmit="return validate();">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ban Volunteer</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="align=center">
          <h6 align="left">Full Name: {{volunteer.firstName}} {{volunteer.lastName}} </h6>
          <h6 align="left">Email Address: {{volunteer.email}}</h6>
          <h6 align="left">Phone Number: <a href="tel:{{volunteer.phoneNumber}}">{{volunteer.phoneNumber}}</a></h6>
          <div id="banNoteDiv">
            <h6 align="left">Reason for ban:</h6>
            <p align="left" id="banNote">Why the student was banned</p>
          </div>
          <div id="banEndDate">
            <h6 align="left" class="d-inline-flex" id="unbanVolunteerEndDate">End Date: &nbsp<input id="banEndDatepicker" type="date"></h6>
          </div>
          <div class="input-group">
            <div class="form-group input-group-x form-outline ui-widget col-xs-10">
              <textarea name="name" rows="8" cols="80" type="input" id="banNoteTxtArea" class="form-control" placeholder="Please add a note for this change" ></textarea>
            </div>
          </div>
        </div>
  		  <div class="modal-footer justify-content-between">
    			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    			<button id="banButton" type="button" class="btn btn-danger" data-banOrUnban="" >Ban/Unban Volunteer</button>
  		  </div>
      </div>
    </div>
  </form>
</div>
<!-- ################# Ban or Unban Modal ################ -->
{% endblock %}
