{%set title ="Volunteer Profile"%}
{% extends "base.html"%}

{% block scripts %}
  {{super()}}
  <script type="text/javascript" src="{{url_for('static', filename='js/volunteerProfile.js') }}?u={{lastStaticUpdate}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename ='css/volunteerProfile.css') }}?u={{lastStaticUpdate}}">
{% endblock %}

{% block app_content %}
<div>
    <h1 align="center">{{volunteer.firstName}} {{volunteer.lastName}}</h1>
    <h6 align="center">{{volunteer.email}}</h6>
    <div align="center">
          <input size="14" id="phoneInput" type="text"  class="bfh-phone" value="{{volunteer.phoneNumber}}">
          <button class=" btn-success btn-sm" id="updatePhone" data-username="{{volunteer.username}}">Update</button>
    </div>
</div>
<div class="row">
  <h4 class="col-sm-9"><p>Upcoming Events: </p></h4>
  <a class="text-nowrap col-sm-3 float-end" href="/profile/{{volunteer.username}}/serviceTranscript">View Service Transcript</a>
</div>
 <div class="row table-responsive">
   <table class="table">
     {% if upcomingEvents|length > 0 %}
       <thead class="tableHeader">
         <th scope="col">Program</th>
         <th scope="col">Event Name</th>
         <th scope="col">Event Date</th>
         <th scope="col">Time</th>
         <th scope="col">Location</th>
         <th scope="col">RSVP Status</th>
       </thead>
       {% for event in upcomingEvents %}
           <tr>
             <td>{{event.singleProgram.programName if event.singleProgram else '--'}}</td>
             <td><a href= '/eventsList/{{event.id}}/view' class="link-primary">{{event.name}}</a></td>
             <td nowrap>{{event.startDate.strftime('%m/%d/%Y')}}</td>
             <td nowrap>{{event.timeStart.strftime('%-I:%M %p')}}</td>
             <td>{{event.location}}</td>
             <td>{{"RSVP'ed" if event.id in rsvpedEvents else "Not RSVP'ed"}}</td>
           </tr>
       {% endfor %}
     {% else %}
       <h5>You have no upcoming events.</h5>
     {% endif %}
   </table>
 </div>
 <!-- Start Program Eligibility Table -->
 <div class="table-responsive">
  <h5>Choose interests below to be notified about your upcoming events:</h5>
   <table class="table banTable">
      <thead>
        <tr>
          <th scope="col">Program</th>
          <th scope="col">Notify</th>
          <th scope="col">Training</th>
          {% if g.current_user.isCeltsAdmin or g.current_user.isCeltsStudentStaff%}
            <th scope="col">Eligibility</th>
          {% endif %}
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      {% for row in eligibilityTable %}
      {% set trainingList = row['trainingList'] %}
      {% macro trainingListView() %}
        {% if trainingList %}
            {% for trainings, participated in trainingList.items() %}
                {% if g.current_user.isCeltsAdmin %}
                  <li>{{trainings}}</li>
                {% else %}
                    {% if participated == 1 %}
                        <p><b>{{trainings}}</b>: <br>Attended</p>
                    {% elif participated == 0 %}
                        <p><b>{{trainings}}</b>: <br>Not attended</p>
                    {% elif not participated[0] %}
                        <p><b>{{trainings}}</b>: <br>Takes place on {{participated[1]}}</p>
                    {% endif%}
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No trainings for this program.</p>
        {% endif %}
      {% endmacro %}
        {% set checked = "" %}
        {% if row.program in programsInterested %}
            {% set checked = "checked" %}
        {% endif %}
          <tr>
            <td><a href="{{row.program.url}}" id="programNameTable">{{row.program.programName}}</a></td>
            <td><input class="form-check-input" type="checkbox" data-programid="{{row.program.id}}" data-username="{{volunteer.username}}" {{checked}}></td>
            <td>
                {% if row.completedTraining or not trainingList %}
                    <i class="bi bi-check-lg"></i> &nbsp&nbsp
                    <a class="trainingPopover" id="{{row.program.id}}" href="#" data-toggle="popover" title="Program Trainings" data-content= "{{trainingListView()}}">View</a>
                {% else %}
                    <i class="bi bi-x-lg"></i> &nbsp&nbsp
                    <a class="trainingPopover" id="{{row.program.id}}" href="#" data-toggle="popover" title="Program Trainings" data-content= "{{trainingListView()}}">View</a>
                {% endif %}
            </td>
          {% if g.current_user.isCeltsAdmin or g.current_user.isCeltsStudentStaff %}
              {% if row.isNotBanned %}
                <td class="programBan">
                  {% set label = "Ban" %}
                  Eligible
              {% else %}
                <td class="programBan text-danger">
                  {% set label = "Unban" %}
                    Banned
              {% endif %}
            </td>
            <td>
            {% if g.current_user.isCeltsAdmin %}
                <button type="button" class="ban btn btn-primary" data-programid="{{row.program.id}}" data-name="{{row.program.programName}}" data-note="{{row.banNote}}" value="{{label}}">Edit</button>
            {% endif %}
            </td>
          {% endif %}

      </tr>
    {% endfor %}
    </tbody>
</table>
<a href="https://www.berea.edu/celts/community-service-programs/volunteer-opportunities/">For more information about CELTS opportunities, click here.</a>
</div>
<br>
<!-- End Program Eligibility Table -->

<!-- Program Manager Selection -->
{% if g.current_user.isCeltsAdmin%}
<!-- This makes sure that the CeltsAdmins can make someone program manager or not.  -->
  {% if volunteer.isCeltsStudentStaff%}
      <div class="row">
        <h2>Which programs do you want to make {{volunteer.firstName}} {{volunteer.lastName}} manager for?</h2>
        <ul class="list-unstyled">
          {% for program in programs %}
            {% set action = "add" %}
            {% set checked = "" %}
            {% if program.id in permissionPrograms %}
                  {% set action = "remove" %}
                  {% set checked = "checked" %}
            {% endif %}
            <li>
                <input  type="checkbox" id="mgr-{{ program.id }}" data-programid="{{program.id}}" {{checked}}  onclick="updateManagers(this,'{{volunteer.username}}')">
                <label  style="padding-left: 15px;" for="mgr-{{ program.id }}">{{program.programName}}</label>
            </li>
          {% endfor %}
      </ul>
      </div>
      <br>
    {% endif %}

{% elif volunteer.isCeltsStudentStaff %}
  <div class="row">
    <h2><br>{{volunteer.firstName}} {{volunteer.lastName}} is the manager of:</h2>
    <div>
        <ul>
        {% for program in programs %}
          {% set status = '' %}
            {% if program.id in permissionPrograms %}
               <li>{{program.programName}}</li>
            {% else %}
            {% endif %}
        {% endfor %}
        </ul>
    </div>
  </div>
<br>
{% endif %}
  <!-- End Program Manager Selection -->
<!-- Start Background Check Table -->
{% if g.current_user.isAdmin %}
    <div class="table-responsive">
      <h2>Background Check</h2>
      <table class="table">
         <thead>
           <tr>
             <th scope="col">Description</th>
             <th scope="col">Passed</th>
             <th scope="col">Date</th>
             {% if g.current_user.isCeltsAdmin%}
                <th class="" id="displaySave" scope="col"></th>
             {% endif %}
           </tr>
         </thead>
         <tbody>
           {% for bgType in backgroundTypes %}
           <tr>
             <td>{{bgType.description}}</td>
             {% if g.current_user.isCeltsAdmin %}
                <td>
                    <select class="passedBackgroundCheck" id="{{bgType.id}}" data-id="{{bgType.id}}">
                        {% if completedBackgroundCheck[bgType][0] == True %}
                            <option value=1>Yes</option>
                            <option value=0>No</option>
                            <option value=''></option>
                        {% else %}
                            <option value=''></option>
                            <option value=1>Yes</option>
                            <option value=0>No</option>
                        {% endif %}
                    </select>
                </td>
                {% if completedBackgroundCheck[bgType][1] %}
                    <td><input name="dateCompleted" type="date" id="{{bgType.id}}_date" value="{{completedBackgroundCheck[bgType][1]}}" class="form-control"/></td>
                {% else %}
                    <td><input name="dateCompleted" type="date" id="{{bgType.id}}_date" class="form-control"/></td>
                {% endif %}
                <td><button type="button" class="savebtn btn btn-primary" id="{{bgType.id}}" data-id="{{bgType.id}}" data-username="{{volunteer.username}}">Save</button></td>
            {% else %}
                <td>{{completedBackgroundCheck[bgType][0]}}</td>
                <td nowrap>{{completedBackgroundCheck[bgType][1]}}</td>
            </tr>
           {% endif %}
          {%endfor%}
         </tbody>
      </table>
    </div>
{% endif %}
<!-- End Background Check Table -->
<!-- Ban or Unban Modal -->
<div class="modal fade" id="banModal" tabindex="-1" aria-labelledby="banVolunteerModalLabel" aria-hidden="true" style="width:-60px;">
  <form onsubmit="return validate();">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ban Volunteer</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="align=center">
          <h6 align="left">Full Name: {{volunteer.firstName}} {{volunteer.lastName}} </h6>
          <h6 align="left">Email Address: {{volunteer.email}}</h6>
          <h6 align="left">Phone Number: <a href="tel:{{volunteer.phoneNumber}}">{{volunteer.phoneNumber}}</a></h6>
          <div id="banNoteDiv">
            <h6 align="left">Reason for ban:</h6>
            <p align="left" id="banNote">Why the student was banned</p>
          </div>
          <div id="banEndDate">
            <h6 align="left" class="d-inline-flex" id="unbanVolunteerEndDate">End Date: &nbsp<input id="banEndDatepicker" type="date"></h6>
          </div>
          <div class="input-group">
            <div class="form-group input-group-x form-outline ui-widget col-xs-10">
              <textarea name="name" rows="8" cols="80" type="input" id="banNoteTxtArea" class="form-control" placeholder="Please add a note for this change" ></textarea>
            </div>
          </div>
        </div>
  		  <div class="modal-footer justify-content-between">
    			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    			<button id="banButton" type="button" class="btn btn-danger" data-banOrUnban="" >Ban/Unban Volunteer</button>
  		  </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
<!-- End Ban or Unban Modal -->
