<div class="form-group">
    <br>
    <h4>Company/Organization Information</h4>
    <hr>
</div>

<div class="form-group">
    <label class="form-label" for="company"><strong>Name</strong></label>
    <input class="form-control" id="company" name="company" placeholder="Company or organization's name" required/>
</div>

<br>

<div class="form-group">
    <label class="form-label" for="companyAddress"><strong>Address</strong></label>
    <input class="form-control" id="companyAddress" name="companyAddress" placeholder="Company or organization's physical address" required/>
</div>

<br>

<div class="row">
    <div class="form-group col-6">
        <label class="form-label" for="companyPhone"><strong>Phone Number</strong></label>
        <input class="form-control phone-input" id="companyPhone" name="companyPhone" placeholder="Company or organization's phone number" required/>
    </div>
    <div class="form-group col-6">
        <label class="form-label" for="companyWebsite"><strong>Website</strong></label>
        <input class="form-control" id="companyWebsite" name="companyWebsite" placeholder="Company or organization's website" required/>
    </div>
</div>