{%set title = "Student Minor Page"%}
{% extends "base.html" %}

{% block scripts %}
  {{super()}}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/cceMinorProfilePage.js') }}?u={{lastStaticUpdate}}"></script>
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename ='css/minor.css') }}?u={{lastStaticUpdate}}">
{% endblock %}

<!-- 
    <div class="row body">
      <input id="username" value="{{user.username}}" hidden/>
      <div name="Header" class="row">
          <h1>{{user.firstName}} {{user.lastName}}'s CCE Minor Profile</h2>
      </div>
      <div name="Sustained Community Engagement Section">
        <div class="row">
          <h3 class="col-md-auto {% if totalSustainedEngagements >= 4 %}bi bi-check2 {% endif %}">Sustained Community Engagement</h3>&nbsp
          <a class="col-md-auto btn btn-primary btn-sm" role="button" href="/cceMinor/{{user.username}}/requestOtherCommunityEngagement" style="margin:5px">Request Other Experience</a>              
        </div>
        <p class="pt-2">Approximately two hours of engagement over about ten weeks of a semester. Only two engagement activities can be credited in a single semester.</p>
        <div class="accordion" id="communityEngagement">
          {% if sustainedEngagementByTerm %}
            {% for term, engagements in sustainedEngagementByTerm.items() %}
            <div class="accordion-item">
              <h3 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{loop.index}}" aria-expanded="true" aria-controls="collapse{{loop.index}}">
                  {{term[0]}}
                </button>
                </h3>
                <div id="collapse{{loop.index}}" class="accordion-collapse collapse" aria-labelledby="heading{{loop.index}}"+  data-bs-parent="#communityEngagement">
                  <div class="accordion-body">
                    <div class="container-fluid col-10">
                      <div class="row d-flex justify-content-center mb-3">
                        <div class="col-md-6 mb-3">
                          <table class="table mb-3">
                            <thead>
                              <tr>
                                <th scope="col">Community Engagement Activity</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for engagement in engagements %}
                              <tr class="engagement-row" data-engagement-data='{{engagement|tojson}}'>
                                <td>
                                  <input type="checkbox" {{'checked' if engagement['matched'] else ''}} />
                                  <button type="button" class="btn btn-link">{{engagement["name"]}}</button>
                                </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                        <div class="col-md-6 p-3" id="set{{term[1]}}">
                          Click on an engagement entry to see your event history or course information.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            {% else %}
              <h2>You have not participated in any service learning events or courses.</h2>
            {% endif %}
          </div>
        </div>

        <div name="Community-Engaged Summer Experience" class="pt-4">
          <h3 class="col-md-auto {% if summerExperience %}bi bi-check2 {% endif %}">Community-Engaged Summer Experience</h3>
          <p class="pt-2">Must include at least 300 hours of work over the span of 8 weeks with a public-facing organization with a focus on applied work.</p>
          <p class="pt-2">The minor requires an Intensive Community-Engaged Summer Experience that is focused on work that more deeply explores at least one of the four following key content areas: power and inequality, community and identity, civic literacy, or civic skills. 
            Please fill out the following form and return to your CCE Minor Advisor for approval.  </p
          <div class="row-auto col-md-6">
            <div class="input-group">
              <select class="form-select" name='term' id='summerExperienceTerm' required>
                {% for term in summerTerms %}
                  <option value="{{selectedSummerTerm}}" {{"selected" if term.description == selectedSummerTerm}}>{{term.description}}</option>
                {% endfor %}
              </select>
              <input class="form-control" placeholder="Experience name" id="summerExperience" value='{{summerExperience}}' type="text"/>
              <button type="button" class="btn btn-primary btn-md" id="summerExperienceSave">Save</button>
              <button type="button" class="btn btn-danger btn-md" id="removeSummerExperience">Clear</button>
            </div>
            <br> 
            <div>
              <form action="{{ url_for("main.landingPage")}}" method="post">
                <label for="firstname">Student Name:</label>
                <input type="text" id="fullname" name="fname" placeholder="fullname">
                <label for="lastname">Student Email:</label>
                <input type="text" id="lastname" name="lname" placeholder="email">
            </div>
            <br>
            <div class="row col-md-6">
              <div class="form-group col-md-6">
                  <label class="form-label me-2" for="startDatePicker-{{pageLocation}}"><strong>Today's Date</strong></label>
                  <div class='input-group date startDate' id="startDate-{{pageLocation}}" data-page-location="{{pageLocation}}">
                      <input autocomplete="off" type='text' class="form-control startDatePicker readonly" />
                      <div class="input-group-text calendar-icon" id="calendarIconStart-{{pageLocation}}">
                          <span><i class="bi bi-calendar-plus-fill"></i></span>
                      </div>
                  </div>
                  <br> 
                  <div> 
                    <label for="company-name">Name of Organization  you will work with for summer experience:</label>
                    <input type="text" id="Organization_name" name="company-name" placeholder="fullname">
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>

 -->


{% block app_content %}
  <div class="row body">
      <input id="username" value="{{ user.username }}" hidden/>
      <div name="Header" class="row">
          <h1>{{ user.firstName }} {{ user.lastName }}'s CCE Minor Profile</h1> 
      </div>
      <div name="Sustained Community Engagement Section">
          <div class="row">
              <h3 class="col-md-auto {% if totalSustainedEngagements >= 4 %}bi bi-check2 {% endif %}">Sustained Community Engagement</h3>&nbsp;
              <a class="col-md-auto btn btn-primary btn-sm" role="button" href="/cceMinor/{{ user.username }}/requestOtherCommunityEngagement" style="margin:5px">Request Other Experience</a>              
          </div>
          <p class="pt-2">Approximately two hours of engagement over about ten weeks of a semester. Only two engagement activities can be credited in a single semester.</p>
          <div class="accordion" id="communityEngagement">
              {% if sustainedEngagementByTerm %}
                  {% for term, engagements in sustainedEngagementByTerm.items() %}
                      <div class="accordion-item">
                          <h3 class="accordion-header" id="heading{{ loop.index }}">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                                  {{ term[0] }}
                              </button>
                          </h3>
                          <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#communityEngagement">
                              <div class="accordion-body">
                                  <div class="container-fluid col-10">
                                      <div class="row d-flex justify-content-center mb-3">
                                          <div class="col-md-6 mb-3">
                                              <table class="table mb-3">
                                                  <thead>
                                                      <tr>
                                                          <th scope="col">Community Engagement Activity</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      {% for engagement in engagements %}
                                                          <tr class="engagement-row" data-engagement-data='{{ engagement | tojson }}'>
                                                              <td>
                                                                  <input type="checkbox" {{ 'checked' if engagement['matched'] else '' }} />
                                                                  <button type="button" class="btn btn-link">{{ engagement["name"] }}</button>
                                                              </td>
                                                          </tr>
                                                      {% endfor %}
                                                  </tbody>
                                              </table>
                                          </div>
                                          <div class="col-md-6 p-3" id="set{{ term[1] }}">
                                              Click on an engagement entry to see your event history or course information.
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  {% endfor %}
              {% else %}
                  <h2>You have not participated in any service learning events or courses.</h2>
              {% endif %}
          </div>
      </div>
      <div name="Community-Engaged Summer Experience" class="pt-4">
          <h3 class="col-md-auto {% if summerExperience %}bi bi-check2 {% endif %}">Community-Engaged Summer Experience</h3>
          <p class="pt-2">Must include at least 300 hours of work over the span of 8 weeks with a public-facing organization with a focus on applied work.</p>
          <p class="pt-2">The minor requires an Intensive Community-Engaged Summer Experience that is focused on work that more deeply explores at least one of the four following key content areas: power and inequality, community and identity, civic literacy, or civic skills. 
              Please fill out the following form and return to your CCE Minor Advisor for approval.  </p> <!-- Fixed closing p tag -->
          <div class="row-auto col-md-6">
              <div class="input-group">
                  <select class="form-select" name="term" id="summerExperienceTerm" required>
                      {% for term in summerTerms %}
                          <option value="{{ selectedSummerTerm }}" {{ "selected" if term.description == selectedSummerTerm }}>{{ term.description }}</option>
                      {% endfor %}
                  </select>
                  <input class="form-control" placeholder="Experience name" id="summerExperience" value="{{ summerExperience }}" type="text"/>
                  <button type="button" class="btn btn-primary btn-md" id="summerExperienceSave">Save</button>
                  <button type="button" class="btn btn-danger btn-md" id="removeSummerExperience">Clear</button>
              </div>
              <br> 
              <div>
                  <form action="{{ url_for("main.landingPage") }}" method="post">
                      <label for="firstname">Student Name:</label>
                      <input type="text" id="fullname" name="fname" placeholder="fullname"><br><br>
                      <label for="lastname">Student Email:</label>
                      <input type="text" id="lastname" name="lname" placeholder="email">
              </div>
              <br>
              <div class="row col-md-12">
                  <div class="form-group col-md-6">
                      <label class="form-label me-2" for="startDatePicker-{{ pageLocation }}"><strong>Today's Date</strong></label>
                      <div class="input-group date startDate" id="startDate-{{ pageLocation }}" data-page-location="{{ pageLocation }}">
                          <input autocomplete="off" type="text" class="form-control startDatePicker readonly" />
                          <div class="input-group-text calendar-icon" id="calendarIconStart-{{ pageLocation }}">
                              <span><i class="bi bi-calendar-plus-fill"></i></span>
                          </div>
                      </div>
                      <br> 
                      <div class="row col-md-12"> 
                          <label for="company-name">Name of Organization:</label>
                          <input type="text" id="Organization_name" name="company-name" placeholder="fullname">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}
