{% set title = "Request Other Engagement" %}
{% extends "base.html" %}

{% block scripts %}
    {{super()}}
    <script type="text/javascript" src="{{url_for('static', filename='js/requestOtherEngagement.js') }}?u={{lastStaticUpdate}}"></script>
{% endblock %}

{% block app_content %}

<form id='requestOtherCommEng' enctype="multipart/form-data" role='form' method='POST'>
  <div class='row'>
      <!--Left half-->
      <div class='col-md-6'>
        <div class='form-group mb-4'>
          <label class='form-label' for='studentUser'> {{ username }} : Other credit </label>
        </div>

        <div class='form-group mb-4'>
            <label class='form-label' for='activity'><strong> Activity: </strong>
              <input {{'disabled' if readOnly else ''}} class='form-control' type='text' id='otherActivity' name='otherActivity' value=""/>
            </label>
        </div>

        <div class='form-group mb-4'>
            <label class='form-label' for='activity'><strong> Hours: </strong>
              <input {{'disabled' if readOnly else ''}} class='form-control' type='text' id='hours' name='hours' value=""/>
            </label>
        </div>

        <div class='form-group mb-4'>
            <label class='form-label' for='activity'><strong> Weeks: </strong>
              <input {{'disabled' if readOnly else ''}} class='form-control' type='text' id='weeks' name='weeks' value=""/>
            </label>
        </div>

        <div class='form-group mb-4'>
            <label class='form-label' for='activity'><strong> Program/Company/Sevice: </strong>
              <input {{'disabled' if readOnly else ''}} class='form-control' type='text' id='programCompanyService' name='programCompanyService' value=""/>
            </label>
        </div>

        <div class="form-group mb-5">
          <label class="mb-2" for='attachmentObject'><strong>Upload Files</strong></label>
          <input type="file" class="form-control" id="attachmentObject" name="attachmentObject" multiple accept= ".docx"/>
        </div>
        
        <div class=" form-group mb-6">
          <button class="btn-btn primary" type="submit" id="sendOtherRequest" action="/CCEminor" > Send Other Request</button>
        </div>
      </div>
  </div>

</form>

{% endblock %}
