{% set title = "Request Other Engagement" %}
{% extends "base.html" %}

{% block scripts %}
    {{super()}}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/requestOtherEngagement.js') }}?u={{lastStaticUpdate}}"></script>
{% endblock %}

{% block app_content %}

<form id='requestOtherCommEng' enctype="multipart/form-data" role='form' method='GET' action="./requestOtherEngagement.html">
  <div class='row' id="username" value="{{user.username}}">
      <!--Left half-->
      <div class="container text-center">
        <div class='form-group mb-4'>
          <h2 class='form-label' for='studentUser'> {{ user.firstName }} {{ user.lastName }} : Other credit </h2>
        </div>
      </div>

      <div class="form-row mb-2">
        <div class="form-group col-md-4 mb-4">
          <label class="form-label" for='inputTerm'><strong>Term</strong></label>
            <select class="form-select" name='term' id='inputTerm' required>
              {% for term in terms %}
                <option value='{{term}}'>{{term.description}}</option>
              {% endfor %}
            </select>
        </div>
        
        <div class="col-md-1">
          <label class="form-label" for="otherActivity"><strong>Activity:</strong></label>
        </div>
        <div class="col-md-4">
          <input {{'disabled' if readOnly else ''}} class="form-control" type="text" id="otherActivity" name="otherActivity" value=""/>
        </div>

        <div class="col-md-1">
          <label class='form-label' for='hours'><strong>Hours:</strong></label>
        </div>
        <div class="col-md-4">
          <input {{'disabled' if readOnly else ''}} class='form-control' type='text' id='hours' name='hours' value=""/>
        </div>

        <div class="col-md-1">
          <label class='form-label' for='activity'><strong> Weeks: </strong></label>
        </div>
        <div class="col-md-4">
            <input {{'disabled' if readOnly else ''}} class='form-control' type='text' id='weeks' name='weeks' value=""/>
        </div>

      <div class="row">
        <!-- left column -->
        <div class="col-md-4">
          <div class="form-group">
            <label class='form-label' for='activity'><strong> Activity/Service: </strong></label>
            <input {{'disabled' if readOnly else ''}} class='form-control' type='text' id='programCompanyService' name='programCompanyService' value=""/>
          </div>
        </div>

        <!-- right column -->
        <div class="col-md-4">
          <div class="form-group">
            <label class='form-label' for='company'><strong> Company/Organization: </strong></label>
            <input {{'disabled' if readOnly else ''}} class='form-control' type='text' id='companyOrganization' name='companyOrganization' value=""/>
          </div>
        </div>
      </div>

      <div class="form-group col-md-4 mb-4">
        <label class="mb-2" for='attachmentObject'><strong>Upload Files</strong></label>
        <input type="file" class="form-control" id="attachmentObject" name="attachmentObject" multiple accept= ".docx"/>
      </div>

      <div class=" form-group mb-6">
        <button class="btn-btn primary" type="submit" id="sendOtherRequest" action="/CCEminor">Send Other Request</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
