{%set title = "Student Minor Page"%}
{% extends "base.html" %}

{% block scripts %}
{{super()}}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/studentMinorPage.js') }}?u={{lastStaticUpdate}}"></script>
{% endblock %}

{% block app_content %}
    <div>
        <input id="username" value="{{user.username}}" hidden/>
        <div name="Header" class="row gx-5">
            <div class="p-2 border border-dark col-md-auto row">
                <h2 class="col-md-auto">{{user.firstName}} {{user.lastName}}'s CCE Minor</h2>
                <p class="col-md-auto p-2"><b>Minor Status:</b> {{user.minorStatus}}</p>
            </div>
            <div class="col-md-auto">
                <p class="py-3">
                    Click 
                    <a href="https://berea.smartcatalogiq.com/en/current/catalog/departments-of-study/interdisciplinary-minor/community-and-civic-engagement-minor/">here</a>
                    for more information on the Community and Civic Engagement minor.</p>
            </div>
        </div>
        <div class="py-3">
            <input name="expressInterest" id="expressInterest" checked={{user.minorInterest}} type="checkbox"/>
            <label for="expressInterest">Indicate interest in doing the minor</label>
        </div>

        <div name="Sustained Community Engagement Section">
            <div class="row">
                <h3 class="col-md-auto">Sustained Community Engagement</h3>
                <button class="col-md-auto btn btn-primary btn-sm">Request Other Experience</button>
            </div>
            <p class="pt-2">Approximately two hours of engagement over about ten weeks of a semester. Only two engagement activities can be credited in a single semester.</p>
            <div class="accordion" id="communityEngagement">
              {% for term, engagements in terms.items() %}
                <div class="accordion-item">
                  <h3 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{loop.index}}" aria-expanded="true" aria-controls="collapse{{loop.index}}">
                      {{term}}
                    </button>
                  </h3>
                  <div id="collapse{{loop.index}}" class="accordion-collapse collapse" aria-labelledby="heading{{loop.index}}"+  data-bs-parent="#adminManagement">
                    <div class="accordion-body">
                      <div class="container-fluid col-10">
                        <div class="row d-flex justify-content-center mb-3">
                          <div class="col-md-6 mb-3">
                            <table class="table mb-3">
                              <thead>
                                <tr>
                                  <th scope="col">Engagement Activity</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for engagement in engagements %}
                                   <tr>
                                        <td>
                                            <button id="{{engagement['type']}}{{engagement['id']}}" name="{{engagement['term']}}" type="button" class="btn btn-link" onclick="showEngagementInformation(this)">{{engagement["name"]}}</button>
                                        </td>
                                   </tr>
                                {% endfor %}
                              </tbody>
                              </table>
                          </div>
                          <div class="col-md-6 p-3">
                            Click on an engagement entry to see your event history or course information.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              
            <!-- <div>
                {% for term, engagements in terms.items() %}
                    <h5>{{term}}</h5>
                    <ul>
                    {% for engagement in range(2) %}
                        {% if engagement >= engagements|length %}
                            <li><b>Missing engagement</b></li>
                        {% else %}
                            <li>{{engagements[engagement]}}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% endfor %}
            </div> -->
        </div>

        <div name="Community-Engaged Summer Experience">
            <h3 class="col-md-auto">Community-Engaged Summer Experience</h3>

            <p class="pt-2">Must include at least 300 hours of work over the span of 8 weeks with a public-facing organization with a focus on applied work.</p>
            <div class="row pl-5">
                <input class="col-md-auto mr-3" type="text"/>
                <button class="col-md-auto btn-primary btn-sm ml-3">Save</button>
            </div>
        </div>
    </div>
{% endblock %}


