{% set title = "Request Other Engagement" %}
{% extends "base.html" %}

{% block scripts %}
  {{ super() }}
  <script type="module" src="/static/js/minorProfilePage.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.js"></script>
  <script type="module" src="{{ url_for('static', filename='js/profile.js') }}"></script>

{% endblock %}


{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/minor.css') }}?u={{ lastStaticUpdate }}">
{% endblock %}

{% block app_content %}    
    <div name="Community-Engaged Summer Experience" class="pt-4">
      <form id='summerExperienceForm' enctype="multipart/form-data" role='form' action="/cceMinor/{{user.username}}/summerExperience" onsubmit="setTimeout(function(){window.location.reload();},10);" method="POST">
        <div class='row'>
            <div class="container">
                <div class='form-group mb-4 text-center'>
                    <h4>Proposal for Community-Engaged Summer Experience</h4>
                    <p>
                        The minor requires an Intensive Community-Engaged Summer Experience that is focused on work that more deeply explores at least one of the four following key content areas: power and inequality, community and identity, civic literacy, or civic skills.
                    </p>
                </div>
    
                <div class="form-group">
                    <label class="form-label" for="summerYear"><strong>Summer Year</strong></label>
                    <select class="form-select" id="summerYear" name="summerYear" required>
                        <option value="" disabled selected>Select Year</option>
                        {% for year in summerYears %}
                                <option value="{{ year}}">{{ year}}</option>
                        {% endfor %}
                    </select>
                </div>
    
                {% include "minor/companyOrganizationInformation.html" %}

                <br> 
    
                {% include "minor/supervisorInformation.html" %} 

                <div class="form-group">
                    <br>
                    <h4>Experience Information</h4>
                    <hr>
                </div>

                <div class="form-group">
                    <label class="form-label" for="roleDescription"><strong>Briefly describe your role and scope of work with this organization during your community-engaged experience. 
                        Your experience should focus on applied work with a public-facing institution (non-profit, community-based, governmental, or private sector)
                        that is responsive to community-identified initiatives or needs:</strong></label>
                    <textarea class="form-control" rows="4" cols="72" id="roleDescription" name="roleDescription" placeholder="Enter your role description" required></textarea><br>
                </div>
                
                <div class="form-group col">
                    <label class="form-label"><strong>Which of the following existing community-based experiences will you take part in during the summer? Please select one.</strong></label><br>
                    <input type="radio" id="internship" name="experienceType" value="Internship" required>
                    <label for="internship">Internship</label><br>
                    <input type="radio" id="cbr" name="experienceType" value="Community-based research">
                    <label for="cbr">Community-based research (CBR) within URCPP or other research that meets established criteria</label><br>
                    <input type="radio" id="communityLabor" name="experienceType" value="Community-Based Labor Position">
                    <label for="communityLabor">Community-Based Labor Position, either in Berea or through the Off-Campus Summer Labor Experience</label><br>
                    <input type="radio" id="epgInternship" name="experienceType" value="EPG Summer Internship">
                    <label for="epgInternship">EPG Summer Internship</label><br>
                    <input type="radio" id="bonnerService" name="experienceType" value="Bonner Scholar Summer of Service">
                    <label for="bonnerService">Bonner Scholar Summer of Service</label><br>
                    <input type="radio" id="otherExperience" name="experienceType" value="Other" required>
                    <label for="otherExperience">Other. Briefly describe your summer experience below if it will not be one of the other experiences listed.</label><br>
                    <input type="text" class="form-control" id="otherExperienceDescription" name="otherExperienceDescription" placeholder="Enter your summer experience"></input><br>
                </div>
                
                <div class="form-group">
                    <label class="form-label"><strong>Which of the four key content areas of the Community and Civic Engagement Minor will your Community-Engaged Summer Experience address? Please select all that apply.</strong></label><br>
                    <input type="checkbox" id="powerInequality" name="contentArea" value="Power and inequality">
                    <label for="powerInequality">Power and inequality</label><br>
                    <input type="checkbox" id="communityIdentity" name="contentArea" value="Community and identity">
                    <label for="communityIdentity">Community and identity</label><br>
                    <input type="checkbox" id="civicLiteracy" name="contentArea" value="Civic literacy">
                    <label for="civicLiteracy">Civic literacy</label><br>
                    <input type="checkbox" id="civicSkills" name="contentArea" value="Civic skills">
                    <label for="civicSkills">Civic skills</label><br><br>
                </div>
                
                <div class="form-group">
                    <label class="form-label" for="experienceHoursOver300"><strong>Will your experience include at least 300 hours of work over the span of at least 8 weeks?</strong></label><br>
                    <input type="radio" id="yes300hours" name="experienceHoursOver300" value="Yes">
                    <label for="yes300hours">Yes</label><br>
                    <input type="radio" id="no300hours" name="experienceHoursOver300" value="No">
                    <label for="no300hours">No</label>

                    <div id="hoursBelow300Container" class="row mt-2">
                        <div class="form-group col-6">
                            <label for="hoursNotOver300"><b>Hours</b></label><br>
                            <input class="form-control" type="text" id="hoursNotOver300" name="hoursNotOver300" placeholder="Enter the total hours."></input>
                        </div>
                        <div class="form-group col-6">
                            <label for="weeksNotOver300"><b>Weeks</b></label><br>
                            <input class="form-control" type="text" id="weeksNotOver300" name="weeksNotOver300" placeholder="Enter the number of weeks."></input>
                        </div>
                    </div>
                </div>
                
                <br><br>
          
                <div class="text-center">
                    <input class="btn btn-primary" type="submit" value="Send Request for Approval"/> 
                </div>
            </div>
        </div>
      </form>
    </div>
{% endblock %}