<div class="form-group">
    <br>
    <h4> Supervisor Information </h4>
    <hr>
</div>
<div class="row">
    <div class="form-group col-12">
        <label class="form-label" for="supervisorName"> <strong>Direct Supervisor Name (or "Yet to be determined")</strong> </label>
        <input class="form-control" id="supervisorName" placeholder="Name of direct supervisor" name="supervisorName" required value="{{ proposal.supervisorName if proposal else '' }}" {% if viewing %} disabled {% endif %}>
    </div>
</div>

<br>

<div class="row">
    <div class="form-group col-6">
        <label class="form-label" for="supervisorPhone"><strong>Phone Number</strong></label>
        <input class="form-control phone-input" id="supervisorPhone" name="supervisorPhone" placeholder="Supervisor's phone number" required value="{{ proposal.supervisorPhone if proposal else '' }}" {% if viewing %} disabled {% endif %}/>
    </div>
    <div class="form-group col-6">
        <label class="form-label" for="supervisorEmail"><strong>Email</strong></label>
        <input class="form-control email-input" id="supervisorEmail" name="supervisorEmail" placeholder="Supervisor's email" required value="{{ proposal.supervisorEmail if proposal else '' }}" {% if viewing %} disabled {% endif %}/>
        <br>
    </div>
</div>