
<div class="tab-pane fade show {{ 'active' if activeTab == 'sustainedCommunityEngagements' or activeTab is not defined else '' }} text-center" id="pills-sustainedCommunityEngagements" role="tabpanel" aria-labelledby="sustainedCommunityEngagements">
    <p class="pt-2">Requires twenty hours of engagement over the ten weeks of a semester. Only two engagement activities can be credited in a single semester.</p>
    <h3>Semesters:</h3>
    <div class="accordion" id="communityEngagement">
      {% if sustainedEngagementByTerm %}
      {% for term, engagements in sustainedEngagementByTerm.items() %}
      <div class="accordion-item">
        <h3 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
            {{ term[0] }}
          </button>
        </h3>
        <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#communityEngagement">
          <div class="accordion-body">
            <div class="container-fluid col-12">
              <div class="accordion_info row d-flex justify-content-center">
                <div class="activity_section col-md-6 mb-3">
                  <table class="table mb-3">
                    <tbody>
                      {% for engagement in engagements %}
                      <tr class="engagement-row" data-engagement-data='{{ engagement|tojson }}'>
                        <td>
                          <input type="checkbox" {{ 'checked' if engagement['matched'] else '' }} />
                          <button type="button" class="btn btn-link">{{ engagement[name]}}</button>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <div class="activity_info col-md-6 p-3" id="set{{ term[1] }}">
                  Click on an engagement entry to see your event history or course information.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <h2>You have not participated in any service learning events or courses.</h2>
      {% endif %}
    </div>
  </div>
