.toggleHeader{
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
    margin-left: 50%; /* Position the header at 50% of the viewport width */
    transform: translateX(-50%);
    width: 170px
}
.columnDivide{
    flex: 1;
    border-left: 2px solid grey;
    margin-left: 10px;
    margin-right: -30px;
}.addMultipleBtn{
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.deleteRow{
    border-radius: 5px;
    position:relative;
    top: 12px;
}
.invalidFeedback {
    display: none;
    color: #dc3545;
    font-size: 0.875rem;
    border: 1px solid darkred;
    padding: 0.75rem 1.25rem;
    margin-bottom: 10px;
    border-radius: 0.25rem;
    background-color: #f8d7da;
    margin-top: 25px;
    left: 50%; /* Position the header at 50% of the viewport width */
    transform: translateX(-50%);
    text-align: center;
    position: fixed;
    z-index: 10;
    animation: flash 6s forwards;
}

@keyframes flash {
    0%, 89.9% {
        opacity: 1;
    }
    90%, 100% {
        opacity: 0;
    }
}
.border-red {
    border: 2px solid red;
}
.divStripes {
    background-color: #fff
  }

#ui-datepicker-div {
    z-index: 4000 !important;
}
