.addMultipleBtn{
    border-radius: 5px; 
    margin-left: auto; 
    margin-right: auto;
}

.deleteRow{
    border-radius: 5px;  
    position:relative; 
    top: 12px;
}
.invalidFeedback {
    display: none; 
    color: #dc3545; 
    font-size: 0.875rem; 
    border: darkred;
}