#selectAll-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 15px;
}

.btn-group {
  margin-right: 10px; /* Space between the dropdown and the buttons */
}

h1 {
  margin-bottom: 0px;
  margin-top: 10px;
}

.container {
  margin-bottom: 20px; /* Adjust this as needed for proper spacing */
}
