@media (min-width: 767px) {
  .card {
    width: 80%;
  }
}

.row-cols-1 {
  @media (max-width: 767px) {
      width: 100%;
    }
}

.positioned-div {
  position: relative;
  top: -20px; /* Adjust as needed */
  margin-bottom: -30px;
}