.viz-modal {
  display: none;
  position: fixed;
  z-index: 1;
  /* padding-top: 100px; */
  left: 20%;
  top: 25%;
  right: 20%;
  bottom: 20%;
  width: 70%;
  height: 60%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #F0F0F0;
}