div.profile-links {
    margin-bottom:1em;
}
div.profile-links a:not(:first-child) {
  margin-left: 5px;
  float: right;
}

.banTable tr {
  vertical-align: middle;
}

.past-event{
    opacity:0.6;
}

.ongoing-event{
    background-color: #cdebaa;
}

.bonnerNotes dt { 
    font-weight: normal;
    padding: 5px; 
    padding-bottom:0px; 
}

.bonnerNotes dd { 
    font-size:.9em;
    padding: 5px; 
    padding-top:0px; 
}

.bonnerNotes dd:nth-of-type(even) { background-color:#f2f2f2; } 
.bonnerNotes dt:nth-of-type(even) { background-color:#f2f2f2; } 
.bonnerNotes dd:nth-of-type(odd) { background-color:#FFF; } 
.bonnerNotes dt:nth-of-type(odd) { background-color:#FFF; }

#toggleMinorInterest {
    position: relative; left: 12px; width: 95%;
}

