
@media print {
    #volunteerInformationCardToPrint {
        column-count: 2;
    }

    .print-column {
        column-count: 1;
        column-gap: 20px;
        break-inside: avoid;
    }

    #volunteerInformationTableToPrint {
        position: fixed;
        left: 10px;
        height: 100% !important;

    }
    /* body,html {
        height: 100% !important; 
        width: 100% !important;
        overflow: visible !important;
        display: inline-block;
    } */
}
