
@media print {

    #volunteerInformationCardToPrint {
        -webkit-column-count: 2;
    }
    
    body {
        width: 100%;
    }

    .print-column {
        column-count: 1;
        column-gap: 20px;
        break-inside: avoid;
    }

    #volunteerInformationTableToPrint_wrapper {
        width: 160%;
        height: 100%;
        font-size: 12pt;
    }

    #volunteerInformationTableToPrint {
        border-collapse: collapse;
        width: 100%;
        height: 100%;
    }

    #volunteerInformationTableToPrint th {
        border: none;
    }

    #volunteerInformationTableToPrint tr {
        break-inside: avoid;
    }

    #volunteerInformationTableToPrint table {
        width: 100%;
    }

    .dataTables_info, .dataTables_length, .dataTables_filter, .dataTables_paginate {
        display:none;
    }  

    body {
        display: flex;
        
    }

}

.bnumber-barcode {
    font-family: 'Libre Barcode 39';
    font-size: 40px;
}
