{% extends "base.html"%}
{% block scripts %}
  {{super()}}
  <script src="/static/js/createEvents.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

{% endblock %}

{% block styles %}
  {{super()}}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

{% endblock %}

{% block app_content %}
  <div align="center" style="margin-bottom: 50px;">
    <h1 id ="title">{{program.programName}}</h1>
    {% if 'create_event' in request.path %}
    <h2> New Event Form</h2>
    {% endif %}
    {% if 'edit_event' in request.path and isPastEvent%}
      <div class="alert alert-danger" role="alert">
    This event has already passed.
      </div>
    {% endif %}

  </div>

  {% if 'edit_event' in request.path and (g.current_user.isCeltsAdmin or g.current_user.isCeltsStudentStaff) %}
    <div class="btn-group">
      <ul class="nav nav-pills nav-fill mx-3 mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" href="#">Edit Event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/{{program.id}}/{{eventInfo.id}}/track_volunteers">Track Volunteers</a>
        </li>
      </ul>
    </div>
  {% endif %}

  {% if user.isCeltsAdmin or user.isCeltsStudentStaff %}
    <form action="/{{program.id}}/{{eventId}}/deleteEvent" method='post'>
      <input type="{{deleteButton}}" class="btn btn-danger float-end" value="Cancel Event"/>
      <div>
        <input type="hidden" value="{{program.id}}" name="programId">
        <input type="hidden" value="{{eventId}}" name="eventId">
      </div>
    </form>
  {% endif %}
  <form data-toggle="validator" role="form"  method="POST">

    <div class="row p-2">
      <div class="col-md-6 col-sm-12 ">
        <div>
          <input type="hidden" value="{{program.id}}" name="programId">

          <input type="hidden" name="eventId" value="{{eventId}}" >
        </div>
        <div class="d-grid gap-1.5">
          <div class="form-group">
            {%if user.isCeltsAdmin or user.isCeltsStudentStaff%}
            <label for='eventName'> <strong> Event Name *</strong></label> <br>
            <input class="form-control"  id='inputEventName' value="{{eventInfo.eventName}}" name="eventName" required>
            {%else%}
            <label for='eventName'> <strong> Event Name: </strong></label> <br>
              <p>{{eventInfo.eventName}}</p>
            {%endif%}
          </div>
        </div><br>

        <div class="form-group">
          {% if user.isCeltsAdmin or user.isCeltsStudentStaff %}
          <label for='term'><strong> Term * </strong></label> <br>
            <select class="form-control" name='eventTerm' id='inputEventTerm' required>
              {%if 'edit_event' in request.path%}
                <option value='{{eventInfo.term}}' selected>{{eventInfo.term.description}}</option>
              {% endif %}
              {% for future in futureTerms %}
                  <option value='{{future}}'>{{future.description}}</option>
              {% endfor %}
            </select>
          {% else %}
            <label for='term'><strong> Term: </strong></label> <br>
            <p>{{eventInfo.term.description}}</p>
          {% endif %}
        </div><br>

        <div class="form-group">
          {% if user.isCeltsAdmin or user.isCeltsStudentStaff%}
          <label for='location'><strong>Location *</strong></label><br>
          <input class="form-control" id='inputEventLocation' value="{{eventInfo.location}}" name="eventLocation" required>
          {%else%}
          <label for='location'><strong>Location:</strong></label><br>
          <p>{{eventInfo.location}}</p>
          {%endif%}
        </div> <br>
        {% if user.isCeltsAdmin or user.isCeltsStudentStaff%}
        <div class="form-check form-switch" style="padding-bottom: 1.5em" {{hideElement}}>
          <label class="custom-control-label" for='checkIsRecurring'><strong>This event is a recurring event</strong></label>
          <input class="form-check-input" type="checkbox" id="checkIsRecurring" name="eventIsRecurring"/>
        </div>
        {% endif %}

        <div class="flex-container"> <br>
          <div class="form-inline d-flex">
            <div  class="form-group" >
              <div class="d-inline-flex">
                {% if user.isCeltsAdmin or user.isCeltsStudentStaff%}
                <label for="startTime"><strong>Start Time: *</strong></label>
                <input type='time' class="form-control timePicker" id='pickStartTime'value="{{eventInfo.timeStart}}"  name="eventStartTime" required>
                {%else%}
                <label for="startTime"><strong>Start Time: </strong></label>
                <p> {{eventInfo.timeStart.strftime("%I: %M %p")}}</p>
                {%endif%}
              </div>
              <div class='form-group time d-inline-flex' style="padding: 0 0 0 2rem">
                {% if user.isCeltsAdmin or user.isCeltsStudentStaff%}
                <label for="endTime"><strong>End Time: *</strong></label>
                <input type='time' class="form-control timePicker" id='pickEndTime' value="{{eventInfo.timeEnd}}" name="eventEndTime" required>
                {%else%}
                <label for="endTime"><strong>End Time: </strong></label>
                <p> {{eventInfo.timeEnd.strftime("%I: %M %p")}}</p>
                {%endif%}
              </div>
            </div>
          </div>
        </div><br>
        <!-- datePickerS -->
        <div class="flex-container">
          <div>
            <div  class="form-group" >
              <div class="d-inline-flex" style="width:48%;">
              <!--datePicker for start date-->
               {% if  user.isCeltsAdmin or user.isCeltsStudentStaff %}
              <label for="startDatePicker" id="startDatePickerLabel" ><span><strong>Start Date *</strong></span></label><br>
                <div class='input-group date' {{ 'id=startDate' if user.isCeltsAdmin or user.isCeltsStudentStaff }}>
                  <input type='text' class="form-control datePicker readonly" value="{{eventInfo.startDate.strftime('%m-%d-%Y') if 'edit_event' in request.path}}" name="eventStartDate" placeholder="Start Date" onchange=updateDate(this) id=startDatePicker required>

                  <div class="input-group-text" id="calendarIconStart">
                    <span><i class="bi bi-calendar-plus-fill"></i></span>
                  </div>
                </div>
                {%else%}
                    <label for="startDatePicker" id="startDatePickerLabel" ><span><strong>Start Date:</strong></span></label><br>

                    <p>{{eventInfo.startDate.strftime('%m-%d-%Y') if 'edit_event' in request.path}} </p>
                {%endif%}
              </div>
              <div class="d-inline-flex d-none" id ="endDateStyle" style="width:51%;">
                <!--datePicker for End date-->
                <label for="endDatePicker" id="endDatePickerLabel" style="padding:0 0 0 2rem" ><span><strong>End Date *</strong></span></label>
                <div class='input-group date' {{'id=endDate' if user.isCeltsAdmin or user.isCeltsStudentStaff }}>
                  <input type='text' class="form-control datePicker readonly" id='endDatePicker' value="{{eventInfo.endDate.strftime('%m-%d-%Y') if 'edit_event' in request.path}}" name="eventEndDate" placeholder="End Date" onchange="updateDate(this)"
                        {{'required' if user.isCeltsAdmin or user.isCeltsStudentStaff else 'readonly'}}>
                  <div class="input-group-text" id="calendarIconEnd">
                    <span><i class="bi bi-calendar-plus-fill"></i></span>
                  </div>
                </div>
              </div>​
            </div>
          </div>
        </div><br>
        <div class = "d-none" id ="recurringTableDiv">
          <table class="table" id="recurringEventsTable" name="recurringEventsTable">
            <thead>
            <tr>
            <th>Event Name</th>
            <th>Date</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 form-group">
        {% if user.isCeltsAdmin or user.isCeltsStudentStaff%}
          <div class="form-check form-switch">
            <label class="custom-control-label" for="checkIsRequired"><strong>This event is required for the program</strong></label>
            <input class="form-check-input" type="checkbox" id="checkIsRequired" name="eventRequiredForProgram" {{isTraining}}/>
          </div>

          <div class="form-check form-switch">
            <label class="custom-control-label" for="checkIsTraining"><strong>This event is a training for the program</strong></label>
            <input class="form-check-input" type="checkbox" id="checkIsTraining"  name="eventIsTraining" {{isTraining}}/>
          </div>
          <div class="form-check form-switch">
            <label class="custom-control-label" for='rsvp'><strong>Requires RSVP</strong></label>
            <input class="form-check-input" type="checkbox" id="rsvp"  name="eventRSVP" {{isRsvpRequired}}/>
          </div>
          <div class="form-check form-switch">
            <label class="custom-control-label"for='serviceHours'><strong> This event earns service hours.</strong></label>
            <input class="form-check-input" type="checkbox" id="earnServiceHours"  name="eventServiceHours" {{isService}}/>
          </div><br>
        {% else %}
          <div>
            {%if eventInfo.isTraining%}
              <label> <strong> This event is a training for the program </strong> </label><br>
            {% endif %}
            {% if eventInfo.isRsvpRequired %}
              <label> <strong> Requires RSVP </strong> </label><br>
            {% endif %}
            {% if eventInfo.isService %}
              <label> <strong> This event earns service hours </strong> </label><br>
            {% endif %}
          </div><br>
        {% endif %}

        <div class="form-group">
          {%if user.isCeltsAdmin or user.isCeltsStudentStaff%}
          <label for='description'><strong> Description * </strong></label> <br>
          <textarea rows="5" cols="72" class="form-control" id='inputEventDescription' name="eventDescription" required></textarea>
          {%else%}
          <label for='description'><strong> Description: </strong></label> <br>
          <p>{{eventInfo.description}}</p>
          {%endif%}
        </div><br>

        <div class='form-group'>
          {% if user.isCeltsAdmin or user.isCeltsStudentStaff%}
          <label for='facilitators'><strong> Facilitators *</strong></label> <br>
            <select class="dropdown form-control" id="inputEventFacilitators"  name="eventFacilitator" >
            {#{%for facilitator in facilitators.objects() %}
              <option value={{facilitator.username}}> {{facilitator.firstName}} {{facilitator.lastName}}</option> #}
            {%for facilitator in facilitators %}
              {% if currentFacilitator %}
                {% if facilitator.username == currentFacilitator.user|string %}
                  <option value={{currentFacilitator.user}} selected>{{currentFacilitator.user.firstName}} {{currentFacilitator.user.lastName}}</option>
                {% else %}
                  <option value={{facilitator.username}}> {{facilitator.firstName}} {{facilitator.lastName}}</option>
                  {% endif %}
              {% else %}
                <option value={{facilitator.username}}> {{facilitator.firstName}} {{facilitator.lastName}}</option>
              {% endif %}
            {% endfor %}
          </select>
        {% else %}
         <label for='facilitators'><strong> Facilitators: </strong></label> <br>
          <p>{%for facilitator in eventFacilitators.objects() %} {{facilitator.user.firstName}} {{facilitator.user.lastName}}  {% endfor %}</p>
          {%if numFacilitators == 0 %}
            <p>None</p>
          {%endif%}
        {% endif %}

      </div>
      </div>
      <div class="row justify-content-left" style="margin-top: 1.5em">
      <div class="col-md-6 offset-md-3">
        <div class="text-center">
          {% if 'edit_event' in request.path %}
            {% if userHasRSVPed %}
              <button type="submit" class="btn btn-danger"  formaction="/rsvpRemove">Remove RSVP</button>
            {% else %}
              <button type="submit" id="rsvpEvent" class="btn btn-primary" formaction="/rsvpForEvent" {{'disabled' if isPastEvent}}>RSVP</button>
            {% endif %}
          {% endif %}

          {% if user.isCeltsAdmin or user.isCeltsStudentStaff%}
          <button type="submit" id="saveEvent" class="btn btn-primary" formaction="/createEvent">Save</button>
          {% endif %}
        </div>
      </div>
      </div>
</form>
{% endblock %}
