{% set title = "Create Single Event" %}

{% set isNewEvent = 'create' in request.path %}
{% if isNewEvent %}
  {% if template.tag == 'single-program' %}             
    {% set page_title = 'Create Event for ' + eventData["program"].programName %}
  {% elif template.tag == 'all-volunteer' %}
    {% set page_title = 'Create All Volunteer Training' %}
  {% elif template.tag == 'no-program' %}
    {% set page_title = 'Create Other CELTS-Sponsored Event' %}
  {% else %}
    {% set page_title = 'Create ' + template.name + ' Event' %}
  {% endif %}
{% else %}
  {% set page_title = eventData.name %}
{% endif %}

{% set eventPast = event.isPast if not isNewEvent else False %}
{% set tabName = 'edit' %}
{% extends "eventNav.html"%}

{% block scripts %}
  {{super()}}
  <script type="module" src="/static/js/createEvents.js"></script>
  <script type="module" src="/static/js/displayFilesMacro.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
{% endblock %}

{% block styles %}
    {{super()}}
    <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block app_content %}
    {% block content_pageHeading %}
      {{super()}}
    {% endblock %}

    {% block navbar %}
      {% if not isNewEvent %}
        {{super()}}
      {% endif %}
    {% endblock %}

<form enctype="multipart/form-data" id="saveEvent" data-toggle="validator" role="form" action="{{request.path}}" method="POST">
    <div class="row p-2">
        <div class="col-md-6">
            {% if eventData.id %}
                <input type="hidden" name="id" value="{{eventData.id}}">
            {% endif %}
        <div class="form-group mb-4">
          <label class="form-label" for='inputEventName'><strong>Event Name</strong></label>
          <input class="form-control" id='inputEventName' value="{{eventData.name}}" placeholder="Enter event name" name="name" required>
        </div>
        <div class="form-group mb-4">
          <label class="form-label" for='inputEventTerm'><strong>Term</strong></label>
            <select class="form-select" name='term' id='inputEventTerm' required>
              {% for term in futureTerms %}
                <option value='{{term}}' {{"selected" if term == eventData.term}}>{{term.description}}</option>
              {% endfor %}
            </select>
        </div>
        <div class="form-group mb-4">
          <label class="form-label" for='inputEventLocation'><strong>Location</strong></label>
          <input class="form-control" id='inputEventLocation'  placeholder="Enter location" name="location" required
            {% if eventData.location %}
              value="{{eventData.location}}"
            {% endif %}
          />
        </div>
        {% if isNewEvent %}
        <div class="row col-md-12">
          <div class="form-group col-md-6">
            <div class="form-check form-switch pb-1">
              <label class="custom-control-label" for='allowPastStart'><strong>Allow start date to be in the past.</strong></label>
              <input class="form-check-input" type="checkbox" id="allowPastStart"/>
            </div>
          </div>
          <div class="form-group col-md-6">
            {% if template.tag != 'all-volunteer' %}
            <div class="form-check form-switch pb-1">
              <label class="custom-control-label" for='checkIsRecurring'><strong>This is a recurring event.</strong></label>
              <input class="form-check-input" type="checkbox" id="checkIsRecurring" name="isRecurring" {{"checked" if eventData.isRecurring}}/>
            </div>
            {% endif %}
          </div>
        </div>
        {% endif %}
        <!-- Start and End Datepickers -->
        <div class="row col-md-12">
            <div class="form-group col-md-6">
                <label class="form-label me-2" for="startDatePicker"><strong>Start Date</strong></label>
                <div class='input-group date' id="startDate">
                    <input autocomplete="off" type='text' class="form-control datePicker readonly" value="{{ eventData.startDate.strftime('%m-%d-%Y') if eventData.startDate and eventData.startDate.strftime else eventData.startDate}}" name="startDate" placeholder="Pick a start date" id=startDatePicker required>
                    <div class="input-group-text" id="calendarIconStart">
                        <span><i class="bi bi-calendar-plus-fill"></i></span>
                    </div>
                </div>
            </div>

            {% if eventData.isRecurring == True and isNewEvent %}
              {% set hideDate = "" %}
            {% else %}
              {% set hideDate = "d-none" %}
            {% endif %}

            <div class="form-group col-md-6 {{hideDate}}" id ="endDateStyle" >
            <!--datePicker for End date-->
                <label class="form-label me-2" for="endDatePicker"><strong>End Date</strong></label>
                <div class='input-group date' id="endDate">
                  <input autocomplete="off" type='text' class="form-control datePicker" id='endDatePicker' value="{{eventData.endDate.strftime('%m-%d-%Y') if eventData.endDate and eventData.endDate.strftime else eventData.endDate}}" name="endDate" placeholder="Pick an end date">
                  <div class="input-group-text" id="calendarIconEnd">
                    <span><i class="bi bi-calendar-plus-fill"></i></span>
                  </div>
                </div>
            </div>

        </div>
        <br>
        <!-- Start and End Time -->
        <div class="mb-4">
          <div class="row col-md-12" >
            <div class="form-group col-md-6">
              <label class="form-label me-2" for="startTime"><strong>Start Time</strong></label>
              <div class="input-group">
                {% if eventData.timeStart %}
                  {% set start_time = eventData.timeStart %}
                {% else %}
                  {% set start_time = "12:00" %}
                {% endif %}
                <input autocomplete="off" type="time" class="form-control timepicker" value="{{start_time}}" name="timeStart" aria-describedby="timeIcon1" placeholder="Pick a start time" onchange="update(this)" id=startTime required />
                <span class="input-group-text timeIcons" id="timeIcon1" hidden><i class="bi bi-clock"></i></span>
              </div>
            </div>
            <div class='form-group col-md-6'>
              <label class="form-label me-2" for="pickEndTime"><strong>End Time</strong></label>
              <div class="input-group">
                {% if eventData.timeEnd %}
                  {% set end_time = eventData.timeEnd %}
                {%else%}
                  {% set end_time = "13:00" %}
                {% endif %}
                  <input autocomplete="off" type="time" class="form-control timepicker" value="{{end_time}}" name="timeEnd" aria-describedby="timeIcon2" placeholder="Pick an end time" onchange="update(this)" id=endTime required />
                  <span class="input-group-text timeIcons" id="timeIcon2" hidden><i class="bi bi-clock"></i></span>
              </div>
            </div>
          </div>
        </div>

        <div class="{{hideDate}}" id="recurringTableDiv">
          <table class="table" id="recurringEventsTable">
            <thead><tr><th>Event Name</th><th>Date</th></tr></thead>
            <tbody></tbody>
          </table>
        </div>
        <div>
        </div>
        {% if 'program' in eventData and eventData['program'].isBonnerScholars %}
          <div class="row col-md-12 mb-4" >
            <div class="form-group">
              <label class="form-label fw-bold" for="requirement">Bonner Requirement</label>
              <select class="form-select" name="certRequirement">
                  <option>None</option>
              {% for req in requirements %}
                  {% set selected = "selected" if eventData['certRequirement'] == req else "" %}
                  <option value="{{req.id}}" {{selected}}>{{req.name}}</option>
              {% endfor %}
              </select>
            </div>
          </div>
          <div class="row col-md-12 mb-4" >
            <div class="form-group">
              <label class="form-label fw-bold">Invite Cohort(s)</label>
              {% for year,students in bonnerCohorts.items()|reverse %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{year}}" name="cohorts[]" id="cohort-{{year}}">
                    <label class="form-check-label text-truncate w-100" for="cohort-{{year}}">{{year}}-{{year+1}}
                        <span class="text-muted" >({{students|map(attribute='fullName')|join(", ")}})</span>
                    </label>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
    </div>

        <div class="col-md-6 form-group">
          <div class="form-group mb-4">
            <label class="form-label" for='inputCharacters'><strong>Description</strong></label>
            <textarea rows="5" cols="72" class="form-control" id="inputCharacters" type="text" placeholder="Enter event description" name="description" required>{{eventData.description}}</textarea>
            <label class="form-label" id ="remainingCharacters"></label>
          </div>
          <div class="mb-4">
              <div class="row col-md-12" >
                <div class="form-group col-md-6">
                    <label class="form-label" for='inputContactName'><strong>Contact Name</strong></label>
                    <input class="form-control" id='inputContactName' value="{{eventData.contactName}}"  placeholder="Enter name"name="contactName">
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label" for='inputContactEmail'><strong>Contact Email</strong></label>
                    <input class="form-control" id='inputContactEmail' value="{{eventData.contactEmail}}" placeholder="Enter email" name="contactEmail">
                </div>
              </div>
          </div>
            {% if page_title != 'Create All Volunteer Training' %}
            <div class="pt-4 mb-4">
              <div class="row col-md-12">
                <div class="form-group col-md-6">
                  <div class="form-check form-switch mb-2">
                    <label class="custom-control-label" for='checkRSVP'><strong>This event requires RSVP.</strong></label>
                    <input class="form-check-input" type="checkbox" id="checkRSVP" name="isRsvpRequired" {{"checked" if eventData.isRsvpRequired}}/>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <div class="form-check form-switch ">
                    <label class="custom-control-label" for="checkIsTraining"><strong>This event is a training.</strong></label>
                    <input class="form-check-input" type="checkbox" id="checkIsTraining" name="isTraining" {{"checked" if eventData.isTraining}}/>
                  </div>
                </div>
                <div class="form-group col-md-6 mb-3">
                  <div class="form-check form-switch">
                    {% set hide = "" if eventData.isRsvpRequired else "display: none" %}
                    <div class="form-group" id="limitGroup" style= "{{hide}}">
                      <label class="form-label mt-2" for='limitRsvp'><strong>Attendance Limit</strong></label>
                      <input class="form-control mb-2" type="number" id="limitRsvp" name="rsvpLimit" value="{{eventData.rsvpLimit}}" min="0" placeholder="No Limit" pattern="^[0-9]+$"></input>
                    </div>
                    <label class="custom-control-label" for="checkFood"><strong>This event will provide food.</strong></label>
                    <input class="form-check-input" type="checkbox" id="checkFood" name="isFoodProvided" {{"checked" if eventData.isFoodProvided}}/>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <div class="form-check form-switch">
                    <label class="custom-control-label" for='checkServiceHours'><strong>This event earns service hours.</strong></label>
                    <input class="form-check-input" type="checkbox" id="checkServiceHours" name="isService" {{"checked" if eventData.isService}}/>
                  </div>
                </div>
              </div>
            </div>
           {% endif %}
            <div class="form-group mb-5">
              <label class="mb-2" for='attachmentObject'><strong>Add Files</strong></label>
              <input type="file" class="form-control" id="attachmentObject" name="attachmentObject" multiple accept= ".png, .jpg, .pdf, .jpeg, .docx, .xlsx"/>
            </div>
          {% if filepaths %}
          <div class="form-group mb-5">
            {% from 'displayFilesMacro.html' import displayFiles %}
            {{ displayFiles(filepaths, 'Event Attachments', '/deleteEventFile', '{{course.id}}') }}
          </div>
            {% endif %}
          </div>
        </div>
    <div class="row justify-content-left mt-2">
          <div class="col-md-6 offset-md-3">
            <div class="text-center">
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteWarning">Delete Event</button>
              {% if event and not (event.isCanceled or eventPast) %}
                <button type="button" class="btn btn-warning bordered-element m-2" data-bs-toggle="modal" data-bs-target="#cancelWarning">Cancel Event</button>
              {% endif %}
              <input type="submit" class="btn btn-primary" value="Save" />
            </div>
          </div>
    </div>
</form>
<!-- Modal for Cancel Event -->
<div class="modal fade" id="cancelWarning" tabindex="-1" aria-labelledby="cancelModel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cancelModel">Cancel Event</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p> Are you sure you want to cancel this event?</p>
        <p> A canceled event will no longer take place during its scheduled time but the information will be kept for future reference.</p>
      </div>
      <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action="/event/{{eventData.id}}/cancel" method='post'>
              <button type="submit" class="btn btn-warning">Cancel Event</button>
          </form>
        </div>
    </div>
  </div>
</div>

<!-- Modal for Delete Event -->
<div class="modal fade" id="deleteWarning" tabindex="-1" aria-labelledby="warningModel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="warningModel">Delete Event</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        {% if eventData.recurringId%}
        <div class="modal-body">
          <div class= "container-fluid">
            <p>This action is irreversible. </p> 
            <p>By deleting this event, all information regarding this event will be removed from the website. </p>
            <div class="d-grid gap-2">
                <form action="/event/{{eventData.id}}/delete" method='post'>
                  <button type="submit" class="btn btn-danger">Delete This Event</button>
                </form>

                <form action="/event/{{eventData.id}}/deleteEventAndAllFollowing" method='post'>
                    <button type="submit" class="btn btn-danger">Delete This and All Following</button>
                </form>

                <form action="/event/{{eventData.id}}/deleteAllRecurring" method='post'>
                    <button type="submit" class="btn btn-danger">Delete Series </button>
                </form>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
       </div>
        {% else %}
        <div class="modal-body">
          <p>This action is irreversible.</p>
          <p>By deleting this event, all information regarding this event will be removed from the website.</p>
        </div>
        <div class="modal-footer justify-content-between">
           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
           <form action="/event/{{eventData.id}}/delete" method='post'>
               <button type="submit" class="btn btn-danger">Delete This Event</button>
           </form>
        </div>
        {% endif %}
       <div>
         <input type="hidden" value="{{eventData.id}}" name="id">
       </div>
      </div>
    </div>
  </div>
{% endblock %}
