{% extends "base.html"%}
{% block scripts %}
  {{super()}}
  <script src="/static/js/programSelect.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

{% endblock %}

{% block styles %}
  {{super()}}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

{% endblock %}

{% block app_content %}
<div class="d-flex justify-content-center">
  <form role="form" id="formSubmit" action="/create_event" method="post" class="col-sm-3 align-center">
    <div id="programName">
      <input type="hidden" id="programChoice" value="programChoice" name="programChoice">
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action" name= "1" id="allVolunteerTraining" onclick="setCurrentOption(this)">All-Volunteers Training</a>
      <a href="#" class="list-group-item list-group-item-action" name= "2" id="studentLedProgramsTraining" onclick="setCurrentOption(this)">Student-Led Programs Training</a>
      {% for program in getPrograms %}
          <a href="#" class="list-group-item list-group-item-action" name='{{program.id}}' id="{{program.programName}}" onclick="setCurrentOption(this)">{{program.programName}}</a>
      {% endfor %}
    </div>
    <div class="float-end pt-2">
      <button type="submit" id="programSubmit" class="btn btn-primary" disabled>Create Event</button>
    </div>
  </form>
</div>
{% endblock %}
