{% extends "base.html"%}

{% block scripts %}
  {{super()}}
  <script src="/static/js/changeCurrentTerm.js"></script>
{% endblock %}
{% block styles %}
  {{super()}}
{% endblock %}
{% block app_content %}

<div class="container-fluid mt-5 col-6">
  <div class="text-center m-auto">
    <h5 class="text-center my-3">Select the Current Term</h5>
    <div class="list-group text-center">
      <div class="form-group" name="currentTermList" id="currentTermList">
        {% for term in terms %}
          <a href="#" onclick="selectTerm({{totalTerms}}, {{term}})" class="list-group-item list-group-item-action text-start
          {{ 'active' if selectedTerm.id == term.id }}" id="termFormID_{{term.id}}" value='{{term}}'>{{term.description}}</a>
        {% endfor %}
    </div>
  </div>
  <input type="hidden" value="{{selectedTerm}}" id="termInput">
  <a class="btn btn-primary float-right mt-3 text-center float-end" onclick="submitTerm()" role="button" value="Spring 2022">Make Current Term</a>
</div>
{% endblock %}
