{% extends "base.html" %}

{% block scripts %}
  {{super()}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="/static/js/userManagement.js"></script>

  </script>
{% endblock %}
{% block app_content %}

<h1 class="text-center">Admin Management</h1>
<div class="container">
  <div class="row">
      <div class="col-md-4">Add Celts Admin</div>
      <div class="col-md-4 offset-md-4">Add Celts Student Staff</div>
    </div>
</div>

<div class="row g-3">
  <div class="col-sm-4">
    <div class="form-group ui-widget">
      <div class="input-group">
        <input type="input" id="searchCeltsAdminInput" name="searchCeltsAdminInput" class="form-control" placeholder="Search" oninput="" autocomplete="off"/>
        <button type="button" class="btn btn-secondary btn-sm" disabled>
          <span class="bi bi-search"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-4 offset-md-4">
    <div class="form-group ui-widget">
      <div class="input-group">
        <input type="input" id="searchCeltsStudentStaffInput" name="searchCeltsStudentStaffInput" class="form-control" placeholder="Search" oninput="" autocomplete="off"/>
        <button type="button" class="btn btn-secondary btn-sm" disabled>
          <span class="bi bi-search"></span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-4"><button type="button" class="btn btn-success btn-sm">Add</button></div>
    <div class="col-md-4 offset-md-4"><button type="button" class="btn btn-success btn-sm">Add</button></div>
</div>

 <br>

<div class="row">
    <div class="col-md-4">Remove Celts Admin</div>
    <div class="col-md-4 offset-md-4">Remove Celts Student Staff</div>
</div>
<div class="row g-3">
  <div class="col-sm-4">
    <div class="form-group ui-widget">
      <div class="input-group">
        <input type="input" id="searchCeltsAdminInput" name="searchCeltsAdminInput" class="form-control" placeholder="Search" oninput="" autocomplete="off"/>
        <button type="button" class="btn btn-secondary btn-sm" disabled>
          <span class="bi bi-search"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-4 offset-md-4">
    <div class="form-group ui-widget">
      <div class="input-group">
        <input type="input" id="searchCeltsStudentStaffInput" name="searchCeltsStudentStaffInput" class="form-control" placeholder="Search" oninput="" autocomplete="off"/>
        <button type="button" class="btn btn-secondary btn-sm" disabled>
          <span class="bi bi-search"></span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-4"><button type="button" class="btn btn-danger btn-sm">Remove</button></div>
    <div class="col-md-4 offset-md-4"><button type="button" class="btn btn-danger btn-sm">Remove</button></div>
</div>


{% endblock %}
