{% set title = "Roster Management" %}
{% extends "base.html" %}

{% block scripts %}
  {{super()}}
  <!-- <script type="module" src="/static/js/userManagement.js"></script> -->
  <!-- <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script> -->
{% endblock %}

{% block styles %}
  {{super()}}
  <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
  <link rel="stylesheet" href="{{url_for('static', filename ='css/programManagement.css')}}"> -->
{% endblock %}

{% block app_content %}
<div class="container mt-50 text-center ">
    <h1>{{program.programName}} Rosters</h1>
</div>
<div class="row">
    <div class="text-center justify-content-evenly align-items-center col-12">
        <table class="table mb-0">
            <thead>                
                <tr>
                    <th>Potential Volunteer</th>
                    <th>Email</th>
                    <th>AY {{g.current_term.academicYear}} handbook complete</th>
                    <th>All Volunteer Training Attended</th>
                    <th>Program Specific Training Attended</th>
                    <th>Banned?</th>
                    <th>Background Check Complete?</th>
                </tr>
            </thead>
            <tbody id="rostersTable">
                {% for prospectiveVolunteer in trainedAndInterested %}                
                <tr>
                    <td>{{trainedAndInterested[prospectiveVolunteer]["userObj"].fullName}}</td>
                    <td>{{trainedAndInterested[prospectiveVolunteer]["userObj"].email}}</td>                    
                    <td>{% if trainedAndInterested[prospectiveVolunteer]["userObj"].signatureTerm.academicYear == g.current_term.academicYear %} Signed {% else %} NOT signed {% endif %}</td>
                    <td>{% if trainedAndInterested[prospectiveVolunteer]['allVolunteer'] %} Trained {% else %} NOT trained {% endif %}</td>
                    <td>{% if trainedAndInterested[prospectiveVolunteer]['programSpecific'] %} Trained {% else %} NOT trained {% endif %}</td>
                    <td>{% if trainedAndInterested[prospectiveVolunteer]['eligible'] %} Eligible {% else %} NOT Eligible {% endif %}</td>
                </tr>
                {% endfor %}
                <td></td>
                <td></td>
            
            </tbody>
        </table>
    </div>
</div>
{% endblock %}