{% extends "base.html" %}

{% block scripts %}
{{super()}}
  <script type="text/javascript" src="{{url_for('static', filename='js/volunteerIndicateInterest.js') }}?u={{lastStaticUpdate}}"></script>

{% endblock %}

{% block app_content %}
<div class="container">
  <h1 class="mt-5 mb-3 text-center">{{ user.firstName }} {{ user.lastName }}</h1>
  <div class="btn-group">
    <ul class="nav nav-tabs" role="tab-list">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" aria-current="page" href="#">Upcoming Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/{{user.username}}/serviceTranscript">Service Transcript</a>
      </li>
    </ul>
  </div>

  <div class="row">
    <table class="table">
      {% if upcomingEvents|length > 0 %}
        <thead class="tableHeader">
          <th scope="col"><h4><strong>Program</strong></h4>
          <th scope="col"><h4><strong>Event Name</strong></h4>
          <th scope="col"><h4><strong>Start Date</strong></h4>
          <th scope="col"><h4><strong>End Date</strong></h4>
          <th scope="col"><h4><strong>RSVP Status</strong></h4>
        </thead>
        {% for event in upcomingEvents %}
        <tr>
          <td>{{event.singleProgram.programName if event.singleProgram else '--'}}</td>
          <td><a href= '/event/{{event.id}}/edit' class="link-primary">{{event.name}}</a></td>
          <td>{{event.startDate}}</td>
          <td>{{event.endDate}}</td>
          <td>{{"RSVP'ed" if event.id in rsvpedEvents else "Not RSVP'ed"}}</td>
        {% endfor %}
        </tr>

      {% else %}
        <h2> Choose interests below to be notified about upcoming events. <h2>
      {% endif %}

    </table>
  </div>
  <div class="row">
    <h2>Which programs do you want to receive information about?</h2>
    <input id="{{ user.username }}" hidden>
      <div class="form-check-inline form-switch">
      {% for program in programs %}
        {% set status = 0 %}
          {% if program.id in interests_ids %}
            {% set status = 1 %}
          {% else %}
          {% endif %}
              <input class="form-check-input" type="checkbox" id="{{ program.id }}" {{ status }}>
              <label class="form-check-label" style="padding-right:50px;" for="{{ program.id }}">{{program.programName}}</label>
      {% endfor %}
      </div>
      <div>
        <small>
          <a href="https://www.berea.edu/celts/community-service-programs/volunteer-opportunities/">For more information click here.</a>
        </small>
      </div>

  </div>
{% if g.current_user.isCeltsAdmin%}
<!-- This makes sure that the CeltsAdmins can make someone program manger or not.  -->
{% if user.isCeltsStudentStaff%}
  <div class="row">
    <h2>Which programs do you want to make {{user.firstName}} {{user.lastName}} manager for?</h2>
    <input id="{{ user.username }}" hidden>
    <div>
      {% for program in programs %}
        {% set status = 0 %}
          {% if program.id in permissionPrograms %}
            {% set status = 1 %}
          {% else %}
          {% endif %}
              <input  type="checkbox" id="{{ program.id }}" {{ 'checked' if status==1 else 'unchecked' }}  onclick="updateManagers(this,{{user.username}},{{status}})">
              <label  style="padding-right:50px;" for="{{ program.id }}">{{program.programName}}</label>
      {% endfor %}
    </div>
  </div>
  {% endif %}
{% else %}
<div class="row">
  <h2>{{user.firstName}} {{user.lastName}} is a manager for the following programs</h2>
  <input id="{{ user.username }}" hidden>
  <div>


    {% for program in programs %}
      {% set status = '' %}
        {% if program.id in permissionPrograms %}
          <p  style="padding-right:50px;">{{program.programName}}</p>
        {% else %}
        {% endif %}

    {% endfor %}
  </div>
</div>
{% endif %}
</div>

  <div class="row">
    <div><h2>Background Check</h2></div>
    <div>
      <table class="table">
   <thead>
     <tr>
       <th scope="col">Description</th>
       <th scope="col">Completed</th>
     </tr>
   </thead>
   <tbody>

     {% for entry in backgroundTypes%}
     <tr>
       <td>{{entry.description}}</td>
       {%if g.current_user.isCeltsAdmin%}
         <td>
           <select id="{{entry.id}}" onchange="updateBackgroundCheck({{user.username}} , this.id)">
             <option value=1>Yes</option>
             <option value=0 {{"selected" if entry.id not in completedBackgroundCheck or completedBackgroundCheck[entry.id] == False}}>No</option>
           </select>
         </td>
       {% else %}
         {% if entry.id not in completedBackgroundCheck or completedBackgroundCheck[entry.id] == False%}
            <td>No</td>
         {% else%}
             <td>Yes</td>
         {% endif%}
        {% endif %}
     </tr>
     {%endfor%}
   </tbody>
 </table>
  </div>
  </div>
</div>
  {% endblock %}
