{% set title = "Dietary Restricitons" %}
{% extends "base.html"%}

{% block scripts %}
  {{super()}}
  <script type="module" src="/static/js/trackVolunteers.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/r-2.2.9/datatables.min.js"></script>
{% endblock %}

{% block styles %}

  {{super()}}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/r-2.2.9/datatables.min.css"/>

{% endblock %}

{% block app_content %}

<div class="text-center">
  {% set page_title = eventData.name %}
      <h1 id="title">{{page_title}}</h1>
      {% if eventData.name != 'All Volunteer Training' and eventData.program == None %}
        <h3>CELTS-Sponsored Event</h3>
      {% elif eventData.program %}
        <h3>{{eventData["program"].programName}} Event</h3>
      {% endif %}
    {% if event.isPast %}
      <div class="alert-danger mb-2 pb-2 pt-2" role="alert">This event is in the past.</div>
    {% endif %}
</div>
<div class="btn-group">
  <ul class="nav nav-tabs nav-fill mx-3 mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link" href="/eventsList/{{event.id}}/view" role="tab" aria-selected="false">View Event</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" href="/eventsList/{{event.id}}/edit" role="tab" aria-selected="false">Edit Event</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" href="/eventsList/{{event.id}}/track_volunteers" role="tab" aria-selected="false">Track Volunteers</a>
    </li>
    {% if (eventData.isFoodProvided) %}
    <li class="nav-item" role="presentation">
      <a class="nav-link active" href="/eventsList/{{eventData.id}}/dietary_restrictions" role="tab" aria-selected="True">Dietary Restrictions</a>
    </li>
    {% endif %}
  </ul>
</div>

{% if volunteerUser or (waitlistUser and event.isPast) %}
  {% if event.isPast %}
    <h3>Attended</h3>
  {% else %}
    <h3>RSVP</h3>
  {% endif %}
  <table class="table table-striped" style="font-size: 1.1em" id="attendingDietaryRestrictionsTable">
    <tbody id="attendingDietaryTable">
      {% for participant in volunteerUser %}
        {% if participant.dietRestriction %}
        <tr>
            <td class="col-auto" nowrap>{{participant.firstName}} {{participant.lastName}}</td>
            <td class="col">{{participant.dietRestriction}}</td>
        </tr>
        {% endif %}
      {% endfor %}
      {% if event.isPast and waitlistUser %}
        {% for participant in waitlistUser %}
          {% if participant.dietRestriction %}
            <tr>
                <td class="col-auto" nowrap>>{{participant.firstName}} {{participant.lastName}}</td>
                <td class="col">{{participant.dietRestriction}}</td>
            </tr>
          {% endif %}
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
{% endif %}

{% if waitlistUser and not event.isPast %}
  <h3>Wait List</h3>
  <table class="table table-striped" style="font-size: 1.1em" id="waitlistDietaryRestrictionsTable">
    <tbody id="waitlistDietaryTable">
      {% for participant in waitlistUser %}
        {% if participant.dietRestriction %}
          <tr>
              <td class="col-auto" nowrap>>{{participant.firstName}} {{participant.lastName}}</td>
              <td class="col">{{participant.dietRestriction}}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endif %}

{% if not waitlistUser and not volunteerUser %}
  {% if event.isPast %}
    <h3>There were no entries.</h3>
  {% else %}
    <h3>There are no entries.</h3>
  {% endif %}
{% endif %}

{% endblock %}
