{% set title = "Dietary Restricitons" %}
{% set page_title = eventData.name %}
{% set eventPast = event.isPast %}
{% set tabName = 'dietary' %}
{% extends "eventNav.html" %}


{% block app_content %}

{{super()}}
{% if volunteerUser or (waitlistUser and event.isPast) %}
  {% if event.isPast %}
    <h3>Attended</h3>
  {% else %}
    <h3>RSVP</h3>
  {% endif %}
  <table class="table table-striped" style="font-size: 1.1em" id="attendingDietaryRestrictionsTable">
    <tbody id="attendingDietaryTable">
      {% for participant in volunteerUser %}
        <tr>
          <td class="col-1" nowrap><b>{{participant.firstName}} {{participant.lastName}}</b></td>
          <td class="col">{{participant.dietRestriction}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

{% if waitlistUser and not event.isPast %}
  <br>
  <h3>Waitlist</h3>
  <table class="table table-striped" style="font-size: 1.1em" id="waitlistDietaryRestrictionsTable">
    <tbody id="waitlistDietaryTable">
      {% for participant in waitlistUser %}
        <tr>
          <td class="col-1" nowrap><b>{{participant.firstName}} {{participant.lastName}}</b></td>
          <td class="col">{{participant.dietRestriction}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}


{% if event.isPast and not volunteerUser %}
  <h3>Attendees had no dietary restrictions.</h3>
{% else %}
  {% if not volunteerUser and not waitlistUser %}
    <h3>Volunteers have no dietary restrictions.</h3>
  {% endif %}
{% endif %}
{% endblock %}
