{% extends "base.html"%}
{% block scripts %}
  {{super()}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="/static/js/event_list.js"></script>

  </script>
{% endblock %}
{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
{% block app_content %}
<h1 class="text-center">Events List for {{selectedTerm.description}}</h1>
<div class="container-fluid px-1 py-3">
  <div class="row d-flex align-items-baseline p-3">
    <div class="col-md-1 ps-1 ms-auto">
      <h4><strong>Term</strong></h4>
    </div>
    <div class="col-md-3 me-auto">
      <div class="form-group">
        <select class="form-control" name='eventTerm' id='inputTerm' onchange="location = this.value;">
          {% for term in listOfTerms %}
            <option value='/{{term}}' {{ "selected" if selectedTerm.id == term.id }}>{{term.description}} </option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
</div>

<div>
  <ul class="nav nav-pills nav-fill mx-3 mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="studentLedEvents"
    data-bs-toggle="pill" data-bs-target="#pills-student-led" type="button" role="tab" aria-controls="pills-student-led" aria-selected="true">Student Led Service</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="trainingEvents"
    data-bs-toggle="pill" data-bs-target="#pills-training" type="button" role="tab" aria-controls="pills-training" aria-selected="false">Training and Education</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="bonnerScholarsEvents"
    data-bs-toggle="pill" data-bs-target="#pills-bonner-scholars" type="button" role="tab" aria-controls="pills-bonner-scholars" aria-selected="false">Bonner Scholars</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="oneTimeEvents"
    data-bs-toggle="pill" data-bs-target="#pills-one-time" type="button" role="tab" aria-controls="pills-one-time" aria-selected="false">One-time Events</button>
  </li>
  </ul>
</div>

{% macro createAccordion(categoryPrograms, num) %}
  <div class="accordion" id="categoryAccordion">
    {% for program, events in categoryPrograms.items() %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="accordion__header_{{program}}">
          <button class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#accordion__body_{{program}}_num_{{ loop.index }}"
                  aria-expanded="true"
                  aria-controls="accordion__body_{{program}}" >
                  {{program.programName}}
          </button>
        </h2>
        <div id="accordion__body_{{program}}_num_{{ loop.index }}"
              class="accordion-collapse collapse"
              aria-labelledby="accordion__header_{{program}}"
              data-bs-parent="#categoryAccordion">
          <div class="accordion-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Event Name</th>
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
                  <th scope="col">Location</th>
                  <th scope="col">Invitation</th>
                </tr>
              </thead>
              <tbody>
                  {% for event in events %}
                    <tr>
                      <td> <a href="/{{program.id}}/{{event.id}}/edit_event" class="link-primary">{{event.eventName}}</a></td>
                      <td>{{event.startDate.strftime('%m-%d-%Y')}}</td>
                      <td>{{event.timeStart.strftime('%I:%M %p')}}</td>
                      <td>{{event.location}}</td>
                      {% if (user.isCeltsAdmin) or (user.isCeltsStudentStaff) %}
                        <td>
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#emailModal" onclick="passEventInfo({{event.id}}, {{program.id}}, {{selectedTerm}})">
                              <span class="bi bi-envelope-fill"> Email</span>
                            </button>
                        </td>
                      {% else %}
                        {% if (event.startDate < currentTime.date()) or (event.timeStart < currentTime.time() and event.startDate == currentTime.date())%}
                          <td><button type="button" class="btn btn-primary" disabled>RSVP</button></td>
                        {% elif event.id in rsvpedEventsID %}
                          <td><button type="button" class="btn btn-danger" onclick="removeRsvpForEvent({{program.id}}, {{event.id}})">Remove RSVP</button></td>
                        {% else %}
                          <td><button type="button" class="btn btn-primary" onclick="rsvpForEvent({{program.id}}, {{event.id}})">RSVP</button></td>
                        {% endif %}
                      {% endif %}
                    </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {{emailModal}}
    {% endfor %}
  </div>
{% endmacro %}

{% set emailModal %}
  <div class="modal fade" id="emailModal" tabindex="-1" aria-labelledby="emailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title m-auto" id="emailModalLabel">'Event/Program' Email Template</h4>
          <button type="button" class="btn-close position-absolute end-0 me-3" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6 class="text-center">Last Email was sent to ____ on 10/20/20</h6>
          <form role="form" method="post" id="modal-form" action="/email">
            <div>
              <input id="programID" name="programID" class="form-control" value="" type="hidden">
              <input id="eventID" name="eventID" class="form-control" value="" type="hidden">
              <input id="selectedTerm" name="selectedTerm" class="form-control" value="" type="hidden">

            </div>
            <h5 class="my-1">Templates</h5>
            <select class="form-select" aria-label="template-select">
              <option value="ePTemplate" selected>'Event/Program' Email Template</option>
            </select>
            <div class="row my-3">
              <div class="col-sm-6 form-group">
                <h5>To</h5>
                <select class='form-select' id="emailRecipients" name="emailRecipients" aria-label="email recipients">
                  <option value="interested">Interested</option>
                  <option value="eventParticipant">RSVP'd</option>
                </select>
              </div>
              <div class="col-sm-6 form-group">
                <h5>From</h5>
                <select class='form-select' id="emailSender" name="emailSender" aria-label="email sender">
                  <option {{ 'selected' if user.isCeltsStudentStaff }}>CELTS Student Staff</option>
                  <option {{ 'selected' if user.isCeltsAdmin else 'disabled' }}>CELTS Admins</option>
                  <option value="{{g.current_user.email}}">
                    {{g.current_user.firstName}} {{g.current_user.lastName}} (Currently Logged In)
                  </option>
                </select>
              </div>
            </div>
            <div class="my-3">
              <h5>Subject</h5>
              <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
            </div>
            <div class="mt-3">
              <h5>Email Body</h5>
              <textarea class="form-control" type="textarea" name="message" id="message" maxlength="8000" rows="5"
                placeholder="Type your email message here (Max 8000 characters)"
              ></textarea>
            </div>
            <div class="text-wrap">
              <input class="form-check-input me-1" type="checkbox" value="True" id="sendIndividually" name="sendIndividually">
              <label class="form-check-label" white-space="normal" for="sendIndividually">
                Send Email Individually
              </label>
            </div>
            <br>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="$('.modal').modal('hide')">Cancel</button>
              <button type="submit" class="btn btn-primary">Send Email</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endset %}

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-student-led" role="tabpanel" aria-labelledby="pills-student-led-tab">
    {{createAccordion(eventDict["Student Led Events"], 1)}}
  </div>
  <div class="tab-pane fade show" id="pills-training" role="tabpanel" aria-labelledby="pills-training-tab">
    {{createAccordion(eventDict["Trainings"], 2)}}
  </div>
  <div class="tab-pane fade show" id="pills-bonner-scholars" role="tabpanel" aria-labelledby="pills-bonner-scholars-tab">
    {{createAccordion(eventDict["Bonner Scholars"], 3)}}
  </div>
  <div class="tab-pane fade show" id="pills-one-time" role="tabpanel" aria-labelledby="pills-one-time-tab">
    {{createAccordion(eventDict["One Time Events"], 4)}}
  </div>
</div>

{% endblock %}
