{% extends "base.html"%}
{% block scripts %}
  {{super()}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="/static/js/viewAllEvents.js"></script>
  </script>
{% endblock %}
{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
{% block app_content %}
<h1 class="text-center">Event List</h1>
<div>
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="studentLedEvents" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Student Led Service</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="trainingEvents" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Training and Education</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="bonnerScholarsEvents" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Bonner Scholars</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="oneTimeEvents" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">One-time Events</button>
  </li>
  </ul>
<!--
  nav-pills
    nav-item
  tab-content
    tab-pane
      accordion
        accordion-item
          accordion-header
            accordion-button - programName
          accordion-body
            table - events within program
              thead
                tr
                  th - Event Name... etc
              tbody
                tr
                  td - event description ... etc
-->
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <div class="accordion" id="accordion_1">
        {% for program in studentLedPrograms %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="accordion__header_{{program.id}}">
              <button class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#accordion__body_{{program.id}}"
                      aria-expanded="true"
                      aria-controls="accordion__body_{{program.id}}" >
                      {{program.programName}}
              </button>
            </h2>
            <div id="accordion__body_{{program.id}}"
                  class="accordion-collapse collapse hide"
                  aria-labelledby="accordion__header_{{program.id}}"
                  data-bs-parent="#accordion_{{program.id}}">
              <div class="accordion-body">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Event Name</th>
                      <th scope="col">Date</th>
                      <th scope="col">Time</th>
                      <th scope="col">Location</th>
                      <th scope="col">Invitation</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for event in studentLedEvents %}
                      {% if event.program == program %}
                        <tr>
                          <td> <a href="#" class="link-primary">{{event.description}}</a></td> {# FIXME:change href #}
                          <td>{{event.startDate}}</td>
                          <td>{{event.timeStart}}</td>
                          <td>{{event.location}}</td>
                          <td><button type="button" class="btn btn-warning">Email</button></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>


{% endblock %}
