{% extends "base.html"%}

{% block scripts %}
  {{super()}}
  <script type="module" src="/static/js/trackVolunteers.js"></script>
  <script type="module" src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block styles %}

  {{super()}}
  <link rel="stylesheet" href=" //cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
{% endblock %}

{% block app_content %}

<div align="center" style="margin-bottom: 50px;">
    <h1 align="center">{{event.name}}</h1>
    {% if isPastEvent %}
      <div class="alert alert-danger" role="alert">This event is in the past.</div>
    {% endif %}
</div>
<div class="btn-group">
  <ul class="nav nav-tabs nav-fill mx-3 mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link" href="/event/{{event.id}}/edit">Edit Event</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Track Volunteers</a>
    </li>
  </ul>
</div>
<form action="#" method="post"><br>
  <label class='d-none' id="eventLength">{{eventLength}}</label>
  <input  class="form-control" id="eventID" name="event" value="{{event}}" type='hidden'>
  <div class="flex-container" style="padding: 5px;">
    <div class='form-group d-inline-flex'>
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addVolunteerModal" style="margin:5px;">Add volunteer</button>
      <button class="btn btn-info" href= "/event/{{event.id}}/kiosk" role="button" style="margin:5px;">Kiosk Entry</button>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="addVolunteerModal" tabindex="-1" aria-labelledby="addVolunteerModalLabel" aria-hidden="true" style="width:-60px;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a volunteer</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group">
            <div class="form-group input-group-x form-outline ui-widget" style="width:80%;">
              <input type="input" id="addVolunteerInput" class="form-control" placeholder="Search" autocomplete="off"/>
            </div>
            <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-search" style="margin-left:0px;"></i>
            </button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="selectVolunteerButton" type="button" class="btn btn-primary" disabled>Add participant</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <!-- <div class="position-absolute top-0 start-50"><button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#addVolunteerModal">
      <i class="bi bi-plus-circl">Add volunteer</i>

    </button></div> -->
    <table class="table" id="trackVolunteerstable">
      <thead>
        <tr>
          <th>Present</th>
          <th></th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>RSVP</th>
          <th>Total Hours</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="volunteerTable">
        {% for participant in eventParticipantsData%}
        <tr>
          <td><input type="checkbox" id='checkbox_{{participant.username}}' name="checkbox_{{participant.username}}"
                     onChange='toggleVolunteersInputBox(this)' {% if participant.attended == 1 %} checked  {%endif%}></td>
          <td>
            {% if participant.username not in attendedTraining %}
              <span data-bs-toggle="tooltip" title="Did Not Complete All Trainings">
              <span style="color:red" class="bi bi-exclamation-triangle"></span></span>
            {% endif %}
          </td>
          <td><input class="form-control" type='hidden' name="username{{loop.index|string}}" id="{{participant.username}}"value="{{participant}}"> {{participant.firstName}} {{participant.lastName}}</td>
          <td>{{participant.email}}</td>
          <td>{{participant.phoneNumber}}</td>

          <td>{% if participant in eventRsvpUsers  %} Yes {% else %} No {% endif %}</td>

          <td><input class="form-control number-only form-control input-sm" id="inputHours_{{participant.username}}"
                     name="inputHours_{{participant.username}}" style="max-width: 90px;" type ="number" min="0" step="0.01"
                     {% if participant.attended == 1 and participant.hoursEarned == None %} value="{{eventLength}}"
                     {% elif participant.attended == 1 %} value="{{participant.hoursEarned}}"
                     {%else%} readonly {%endif%}></td>
          <td><span onclick = 'removeVolunteerFromEvent(this)' id="deleteIcon_{{participant.username}}" ><i class="bi bi-trash" style="font-size:20px"></i></span></td>
        </tr>
        {%endfor%}
       </tbody>
      </table>
    </div>
  <div>
    <button type="submit" class="btn btn-primary float-end">Save</button>
  </div>
</form>
{% endblock %}
