{% extends "base.html"%}

{% block scripts %}
  {{super()}}
  <script type="module" src="/static/js/trackVolunteers.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/r-2.2.9/datatables.min.js"></script>

{% endblock %}

{% block styles %}

  {{super()}}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/r-2.2.9/datatables.min.css"/>

{% endblock %}

{% block app_content %}

<div class="text-center mt-5">
    <h1 class="text-center">{{event.name}}</h1>
    {% if isPastEvent %}
      <div class="alert alert-danger" role="alert">This event is in the past.</div>
    {% endif %}
</div>
<div class="btn-group">
  <ul class="nav nav-tabs nav-fill mx-3 mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link" href="/event/{{event.id}}/edit" role="tab" aria-selected="false">Edit Event</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link active" href="#" role="tab" aria-selected="true">Track Volunteers</a>
    </li>
  </ul>
</div>

<h2 class ="text-center"> Volunteers </h2>
<form action="#" method="post"><br>
  <label class='d-none' id="eventLength">{{eventLength}}</label>
  <input class="form-control" id="eventID" name="event" value="{{event}}" type='hidden' />
  <div class="flex-container" style="padding: 5px;">
    <div class='form-group d-inline-flex'>
      <a class="btn btn-success" id="addVolunteerButton" role="button" href="#" data-bs-toggle="modal" data-bs-target="#addVolunteerModal" style="margin:5px;" >Add volunteer</a>
      <a class="btn btn-warning" role="button" href= "/event/{{event.id}}/kiosk" style="margin:5px;">Kiosk Entry</a>
  </div>
</div>
<form method="post">
  <label class='d-none' id="eventLength">{{eventLength}}</label>
  <input class="form-control" id="eventID" name="event" value="{{event}}" type='hidden'>
  <table class="table" id="trackVolunteerstable">
   <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th class="noSort">Completed Trainings?</th>
        <th>Total Hours</th>
        <th>Partner(s)</th>
        <th>Match</th>
        <th class="noSort">Present</th>
        <th class="noSort">Remove Volunteer</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="align-middle" id="volunteerTable">
      {% set accordionCount = namespace(value=1) %}
      {% for participant in eventRsvpData%}
      <tr>
        <td>
          <input
            class="form-control"
            type='hidden'
            name="username{{loop.index|string}}"
            id="{{participant.user.username}}"
            value="{{participant.user}}" />
            {{participant.user.firstName}} {{participant.user.lastName}}
        </td>
        <td>{{participant.user.email}}
        </td>
        <td>{{participant.user.phoneNumber}}</td>
        <td style="text-align:center">
          {% if participant.user.username not in trainedParticipantsList %}
            <span class="bi bi-x-lg" aria-label="Did not complete all trainings."></span>
          {% else %}
            <span class="bi bi-check-lg" aria-label="Completed all trainings."></span>
          {% endif %}
        </td>
        <td>
          <input
            class="form-control number-only form-control input-sm"
            id="inputHours_{{participant.user.username}}"
            name="inputHours_{{participant.user.username}}"
            style="max-width: 90px;"
            type ="number"
            min="0"
            step="0.01"
            {% if participant.user.username in eventParticipants and eventParticipants[participant.user.username] == None %}
              value="{{eventLength}}"
            {% elif participant.user.username in eventParticipants %}
              value="{{eventParticipants[participant.user.username]}}"
            {% else %} disabled {% endif %} />
        </td>
        <td>
        {% if participant.user in matches%}
        {% for entry in matches[participant.user]%}
        <ul>
          <li> {{entry.firstName}} {{entry.lastName}} </li>
        </ul>
        {% endfor%}
        {% endif %}
        </td>

        <td>
              {% set ac = accordionCount.value| string() %}
              {% set accodionFlushNumber = "accordionFlushNumber"+ac %}
              {% set flushCollapseNumber = "flush-collapseOne"+ac %}
              {% set accordionCount.value = accordionCount.value + 1 %}
              <div class="accordion accordion-flush" id={{accodionFlushNumber}}>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{flushCollapseNumber}}" aria-expanded="false" aria-controls="{{flushCollapseNumber}}">
                    Match
                  </button>
                </h2>
                <div id="{{flushCollapseNumber}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#{{accodionFlushNumber}}">
                  <div class="accordion-body">
                    <ul>
                      {% for outsideParticipant in outsideParticipants%}
                      {% set status = '' %}
                      {% if participant.user in matches.keys() %}
                      {% if outsideParticipant in matches[participant.user] %}
                      {% set status = 'checked' %}
                      {% endif %}
                      {% endif %}
                      <li>
                        <input class="form-check-input" type="checkbox" name="{{participant.user}}" id="{{ outsideParticipant.email }}" {{status}}>
                        {% set name = outsideParticipant.firstName + outsideParticipant.lastName%}
                        <label class="form-check-label"  for="{{ outsideParticipant.email }}">{{name}}</label>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
              </div>
            </div>
            </div>
          </td>

          <td style="text-align:center">
            <input
              type="checkbox"
              class='attendanceCheck'
              name="checkbox_{{participant.user.username}}"
              {% if participant.user.username in eventParticipants %}
                checked
              {% endif %} />
          </td>

          <td>
            <span
              class="removeVolunteer"
              id="{{participant.user.username}}">
                <i class="bi bi-trash h5 align-middle"></i>
            </span>
          </td>
      </tr>
      {% endfor %}
     </tbody>
    </table>
  <div>
    <button type="submit" class="btn btn-primary float-end">Save</button>
  </div>
</form>

<!-- Outside Participant -->
<h2 class ="text-center">Outside Participants</h2>
<form action="#" method="post"><br>
  <label class='d-none' id="eventLength">{{eventLength}}</label>
  <input  class="form-control" id="eventID" name="event" value="{{event}}" type='hidden'>
  <div class="flex-container" style="padding: 5px;">
    <div class='form-group d-inline-flex'>
      <a class="btn btn-success" id="addOutsideParticipantButton" data-bs-toggle="modal" data-bs-target="#addVolunteerModal" style="margin:5px;">Add Outside Participant</a>
</div>
<form method="post"><br>
  <label class='d-none' id="eventLength">{{eventLength}}</label>
  <input  class="form-control" id="eventID" name="event" value="{{event}}" type='hidden'>
  <table class="table" id="trackOutsideParticipants">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="volunteerTable">
      {% for participant in outsideParticipants%}
      <tr>
        <td>
          <input
            class="form-control"
            type='hidden'
            name="username{{loop.index|string}}"
            id="{{participant.email}}"
            value="{{participant.email}}" />
            {{participant.firstName}} {{participant.lastName}}
        </td>
        <td>{{participant.email}}</td>
        <td>{{participant.phoneNumber}}</td>
        <td>
          <span
            class="removeParticipant"
            id="{{participant.email}}">
              <i class="bi bi-trash h5 align-middle"></i>
          </span>
        </td>
      </tr>
      {% endfor %}
     </tbody>
    </table>
</form>

<!-- Modal -->
 <div class="modal fade float-start" id="addVolunteerModal" tabindex="-1" aria-labelledby="addVolunteerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addVolunteerModal">Add a volunteer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <div class="form-group input-group-x form-outline ui-widget" style="width:80%;">
            <input type="input" id="addVolunteerInput" class="form-control" placeholder="Search" autocomplete="off"/>
          </div>
          <button type="button" class="btn btn-primary btn-sm">
            <i class="bi bi-search ms-0"></i>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="selectVolunteerButton" type="button" class="btn btn-primary" disabled>Add participant</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Outside Participant Modal -->
<div class="modal fade float-start" id="addOutsideParticipantModal" tabindex="-1" aria-labelledby="addOutsideParticipantLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addParticipantModal">Add Outside Participant</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <div class="form-group input-group-x form-outline ui-widget" style="width:80%;">
            <input type="input" id="addOutsideParticipantInput" class="form-control" placeholder="Search" autocomplete="off"/>
          </div>
          <button type="button" class="btn btn-primary btn-sm">
            <i class="bi bi-search ms-0"></i>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="selectParticipantButton" type="button" class="btn btn-primary" disabled>Add participant</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
