{% extends "base.html"%}

{% block scripts %}
  {{super()}}
  <script type="module" src="/static/js/trackVolunteers.js"></script>
{% endblock %}

{% block styles %}
  {{super()}}
{% endblock %}

{% block app_content %}

<div align="center" style="margin-bottom: 50px;">
  <h1 align="center">{{event.name}}</h1>
  {% if isPastEvent %}
    <div class="alert alert-danger" role="alert">This event is in the past.</div>
  {% endif %}
</div>
<div class="btn-group">
  <ul class="nav nav-pills nav-fill mx-3 mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link" href="/event/{{event.id}}/edit">Edit Event</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Track Volunteers</a>
    </li>
  </ul>
</div>
<form method="post"><br>
  <label class='d-none' id="eventLength">{{eventLength}}</label>
  <input  class="form-control" id="eventID" name="event" value="{{event}}" type='hidden'>
  <div class="flex-container">
    <div class="form-group d-inline-flex">
      <div class="ui-widget input-group">
        <input id="trackVolunteersInput" type="input" placeholder="Search">
        <span class="input-group-text" style="padding:0 0 0 0rem;"><i class="bi bi-search" style="margin-left:-35px;"></i></span>
      </div>
      <div>
        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#addVolunteerModal">
        <i class="bi bi-plus-circle"></i>
      </button>
      </div>
    </div>
    <div class='form-group d-inline-flex' style="padding: 0 0 0 2rem">
      <a class="btn btn-info" href= "/event/{{event.id}}/kiosk" role="button">Kiosk Entry</a>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Present</th>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Total Hours</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="volunteerTable">
      {% for participant in eventRsvpData%}
      <tr>
        <td>
          <input
            type="checkbox"
            class='attendanceCheck'
            name="checkbox_{{participant.user.username}}"
            {% if participant.user.username in eventParticipants %}
              checked
            {% endif %} />
        </td>
        <td>
          {% if participant.user.username not in trainedParticipantsList %}
            <span data-bs-toggle="tooltip" title="Did Not Complete All Trainings">
              <span style="color:red" class="bi bi-exclamation-triangle"></span>
            </span>
          {% endif %}
        </td>
        <td>
          <input
            class="form-control"
            type='hidden'
            name="username{{loop.index|string}}"
            id="{{participant.user.username}}"
            value="{{participant.user}}" />
            {{participant.user.firstName}} {{participant.user.lastName}}
        </td>
        <td>{{participant.user.email}}</td>
        <td>{{participant.user.phoneNumber}}</td>
        <td>
          <input
            class="form-control number-only form-control input-sm"
            id="inputHours_{{participant.user.username}}"
            name="inputHours_{{participant.user.username}}"
            style="max-width: 90px;"
            type ="number"
            min="0"
            step="0.01"
            {% if participant.user.username in eventParticipants and eventParticipants[participant.user.username] == None %}
              value="{{eventLength}}"
            {% elif participant.user.username in eventParticipants %}
              value="{{eventParticipants[participant.user.username]}}"
            {% else %} readonly {% endif %}>
        </td>
        <td>
          <span
            class="removeVolunteer"
            id="{{participant.user.username}}">
              <i class="bi bi-trash" style="font-size:20px"></i>
          </span>
        </td>
      </tr>
      {% endfor %}
     </tbody>
    </table>
  <div>
    <button type="submit" class="btn btn-primary float-end">Save</button>
  </div>
</form>
<!-- Modal -->
<div class="modal fade" id="addVolunteerModal" tabindex="-1" aria-labelledby="addVolunteerModalLabel" aria-hidden="true" style="width:-60px;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a volunteer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <div class="form-group input-group-x form-outline ui-widget" style="width:80%;">
            <input type="input" id="addVolunteerInput" class="form-control" placeholder="Search" autocomplete="off"/>
          </div>
          <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-search" style="margin-left:0px;"></i>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="selectVolunteerButton" type="button" class="btn btn-primary" disabled>Add participant</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
