{% set title = "Volunteer Details" %}
{% set page_title = event.name %}
{% set eventPast = event.isPastStart %}
{% set tabName = 'details' %}
{% extends "events/eventNav.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename ='css/volunteerDetails.css') }}?u={{lastStaticUpdate}}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
<link href='https://fonts.googleapis.com/css?family=Libre Barcode 39' rel='stylesheet'>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="module" src="/static/js/volunteerDetails.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
{% endblock %}

{########################### Display macros ###########################}
{% macro createCard(participant, volunteerType) %}
  
    <div class="{{volunteerType}}Select col-12 col-md-6 volunteerInfoEntries print-column" data-user="{{participant.user.username}}" nowrap>
      <h4 class="nameSelect" nowrap><b>{{ participant.user.firstName }} {{ participant.user.lastName }}</b>
        {% if participant.insuranceinfo and participant.insuranceinfo.healthIssues %}
          <i class="bi bi-star-fill fs-6" style="position: relative; top: -2px;"></i>
        {% endif %}
      </h4>
      <ul>
        <div class="barcodeSelect bnumber-barcode" nowrap>{{participant.user.bnumber[1:]}}</div>
        <div class="phoneSelect" nowrap>{{ participant.user.phoneNumber if participant.user.phoneNumber else "No phone number"}}</div>
        <div class="emailSelect" nowrap>{{ participant.user.email }}</div>
        <div class="statusSelect" nowrap>Volunteer Status: {{ volunteerType|title }}</div>
        <div class="dietRestrictionSelect">Dietary Restrictions: {{ participant.user.dietRestriction if participant.user.dietRestriction else "Yet to be indicated" }}</div>
        <div class="emergencyContactSelect" nowrap>Emergency Contact: {{participant.emergencycontact.name if participant.emergencycontact}} 
          {{participant.emergencycontact.cellPhone or participant.emergencycontact.homePhone or participant.emergencycontact.workPhone if participant.emergencycontact}} 
          {{"Yet to be indicated" if not participant.emergencycontact}}</div>
        <div class="insuranceSelect" nowrap>Insurance Info: {{participant.insuranceinfo.insuranceCompany if participant.insuranceinfo}}</div>
      </ul>
    </div>
{% endmacro %}

{% macro createTable(participant, volunteerType) %}
    <tr class="{{volunteerType}}Select volunteerInfoEntries" data-user="{{participant.user.username}}">
      <td class="nameSelect" nowrap><b>{{ participant.user.firstName }} {{ participant.user.lastName }}</b>
      {% if participant.insuranceinfo and participant.insuranceinfo.healthIssues %}
          <i class="bi bi-star-fill fs-6"></i>
        {% endif %}</td>
      <td class="phoneSelect" nowrap>{{ participant.user.phoneNumber if participant.user.phoneNumber else "" }}</td>
      <td class="emailSelect" nowrap>{{ participant.user.email }}</td>
      <td class="statusSelect" nowrap>{{ volunteerType|title if volunteerType != 'rsvp' else volunteerType|upper}}</td>
      <td class="dietRestrictionSelect">{{ participant.user.dietRestriction if participant.user.dietRestriction else 'Yet to be indicated'}}</td>
      <td class="emergencyContactSelect">{{participant.emergencycontact.name if participant.emergencycontact}} 
        {{participant.emergencycontact.cellPhone or participant.emergencycontact.homePhone or participant.emergencycontact.workPhone if participant.emergencycontact}} </td>
      <td class="insuranceSelect" nowrap>{{ participant.insuranceinfo.policyNumber if participant.insuranceinfo}}</td>
    </tr>
{% endmacro %}

{% macro printParticipants(type, attended, rsvp, waitlist, invited) %}
    {% set combinedParticipants = attended + rsvp + waitlist + invited %}
    {% for p in combinedParticipants | unique %}
      {% if p in rsvp %}
          {{createTable(p, 'rsvp') if type == 'table' else createCard(p, 'rsvp') }}
      {% endif %}
      {% if p in attended%}
          {{createTable(p, 'attended') if type == 'table' else createCard(p, 'attended') }}
      {% endif %}
      {% if p in waitlist %}
          {{createTable(p, 'waitlist') if type == 'table' else createCard(p, 'waitlist') }}
      {% endif %}
      {% if p in invited %}
          {{createTable(p, 'invited') if type == 'table' else createCard(p, 'invited') }}
      {% endif %}
    {% endfor %}
{% endmacro %}

{% macro createCheckbox(checkboxName) %}
    {% set labelText = "RSVP" if checkboxName == 'rsvp' else 'Waitlist' if checkboxName == 'waitlist' else 'Attended' if checkboxName == 'attended' else 'Invited' %}
    <input class="displayCheckbox noprint" type="checkbox" name="selected_items" id="{{checkboxName}}Select" checked>
    <label for="{{checkboxName}}Select">{{labelText}}</label><br>
{% endmacro %}

{########################### Page Content ###########################}
{% block app_content %}

{{super()}}

{% if attendedUser or waitlistUser or rsvpUser or invitedUser %}
    <div class="container d-none d-print-block always-print">
      <h3 style="text-align: center; width:180%;">
          {{event.name}} on {{event.startDate.strftime('%m/%d/%Y')}}
      </h3>
      <hr>
    </div>

    <div class="noprint" id="volunteerInformationcheck">
      <div class="row">
        <div class="col">
          <label><b>Volunteer Groups:</b></label><br>
          {% if rsvpUser %}
             {{createCheckbox('rsvp')}}
          {% endif %}
          {% if waitlistUser %}
            {{createCheckbox('waitlist')}}
          {% endif %}
          {% if attendedUser %}
            {{createCheckbox('attended')}}
          {% endif %}
            {% if invitedUser %}
            {{createCheckbox('invited')}}
          {% endif %}
        </div>
        <div class="col">
          <label><b>Included Information:</b></label><br>
          <input class="displayCheckbox noprint" type="checkbox" name="selected_items" id="dietRestrictionSelect" checked>
          <label for="dietRestrictionSelect">Dietary Restrictions</label><br>
          <input class="displayCheckbox noprint" type="checkbox" name="selected_items" id="emergencyContactSelect" checked>
          <label for="emergencyContactSelect">Emergency Contact</label><br>
          <input class="displayCheckbox noprint" type="checkbox" name="selected_items" id="phoneSelect" checked>
          <label for="phoneSelect">Phone Number</label><br>
          <input class="displayCheckbox noprint" type="checkbox" name="selected_items" id="statusSelect" checked>
          <label for="statusSelect">Volunteer Status</label><br>
          <input class="displayCheckbox noprint" type="checkbox" name="selected_items" id="emailSelect" checked>
          <label for="emailSelect">Email</label><br>
          <input class="displayCheckbox noprint" type="checkbox" name="selected_items" id="insuranceSelect">
          <label for="InsuranceSelect">Insurance Information</label><br>
          <input class="displayCheckbox noprint bNumberSelect" type="checkbox" name="selected_items" id="barcodeSelect" checked>
          <label class="bNumberSelect" for="barcodeSelect">B-Number Barcode</label><br>
        </div>
        <div class="col-12 col-md">
          <div class="row">
            <div class="col-auto mb-2 float-right">
              <button class="btn btn-primary" id="tableCardToggle" nowrap>Card View</button>
            </div>
            <div class="col-auto align-items-end">
              <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Print
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" id="volutneerListItem" href="#">Print Volunteer List</a>
                  <a class="dropdown-item" id="travelFormItem" href="#">Print Travel Form</a>
                </div>
              </div>
            </div>
            <div class="col-auto align-items-end">
              <form target="_blank" action="{{ url_for("main.eventTravelForm", eventID = event.id )}}" method="POST" id="volunteerUsernames"></form>
            </div>
          </div>
        </div>
      </div>
      <div><i class="bi bi-star-fill fs-6"></i> Review this person's insurance details for important health related information.</div>
    </div>
    <hr>
    <div class="d-print-block" id="volunteerInformationCardToPrint">
      <div class="row sort-here">
        {{ printParticipants('card', attendedUser, rsvpUser, waitlistUser, invitedUser) }}
      </div>
    </div>

    <table class="table d-print-table" id="volunteerInformationTableToPrint">
      <thead>
        <tr>
          <th class="text-center">Name</th>
          <th class="phoneSelect">Phone Number</th>
          <th class="emailSelect">Email</th>
          <th class="statusSelect">Volunteer Status</th>
          <th class="dietRestrictionSelect">Dietary Restrictions</th>
          <th class="emergencyContactSelect">Emergency Contact</th>
          <th class="insuranceSelect">Insurance Information</th>
        </tr>
      </thead>
      <tbody>
        {{ printParticipants('table', attendedUser, rsvpUser, waitlistUser, invitedUser) }}
      </tbody>
    </table>
{% else %}
    <h3>No volunteer information available for this event.</h3>
{% endif %}

{% endblock %}