{% set title = "Volunteer Information" %}
{% set page_title = eventData.name %}
{% set eventPast = event.isPast %}
{% set tabName = 'dietary' %}
{% extends "eventNav.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="app/static/css/volunteerInformation.css">
{% endblock %}

{% block scripts %}
{{super()}}
<script type="module" src="/static/js/volunteerInformation.js"></script>
{% endblock %}

{% block app_content %}

{{super()}}

<div class="noprint" id="volunteerInformationcheck">
  <div class="row">
    <div class="col">
      <label for="exampleInputEmail1"><b>Volunteer Groups:</b></label><br>
      <input class="displayCheckbox noprint" type="checkbox" name="selected_items" id="rsvpSelect" checked>
      <label for="rsvpSelect">RSVP Information</label><br>
      <input class="displayCheckbox noprint" type="checkbox" name="selected_items" id="waitlistSelect" checked>
      <label for="waitlistSelect">Waitlist</label><br>
      <input class="displayCheckbox noprint" type="checkbox" name="selected_items" id="attendedSelect" checked>
      <label for="attendedSelect">Attended</label><br>
    </div>
    <div class=" col">
      <label for="exampleInputEmail1"><b>Included Information:</b></label><br>
      <input class="displayCheckbox noprint" type="checkbox" name="selected_items" id="dietRestrictionSelect" checked>
      <label for="dietRestrictionSelect">Dietary Restriction</label><br>
      <input class="displayCheckbox noprint" type="checkbox" name="selected_items" id="emergencySelect" checked>
      <label for="emergencySelect">Emergency Contacts</label><br>
      <input class="displayCheckbox noprint" type="checkbox" name="selected_items" id="phoneSelect" checked>
      <label for="phoneSelect">Phone Number</label><br>
      <input class="displayCheckbox noprint" type="checkbox" name="selected_items" id="emailSelect" checked>
      <label for="emailSelect">Email</label><br>
    </div>
    <div class="col align-items-end">
      <button id="printVolunteerInfo" class="btn-primary btn">Print</button>
    </div>
  </div>
</div>
<hr>
{% if volunteerUser or waitlistUser %}
  {% set combinedParticipants = attendedUser + rsvpUser %}
  {% set printedNames = [] %}

  {% for participant in combinedParticipants %}
  {% set nameIdentifier = participant.firstName ~ " " ~ participant.lastName %}
  {% if nameIdentifier not in printedNames %}
  {% set _ = printedNames.append(nameIdentifier) %}

  {% set isAttended = participant in attendedUser %}
  {% set isRSVPed = participant in rsvpUser %}

  
  {% if isRSVPed %}
    <div class="rsvpSelect col-12 col-md-6">
      <h4 nowrap><b>{{ participant.firstName }} {{ participant.lastName }}</b></h4>
      <ul>
        <div class="phoneSelect" nowrap>{{ participant.phoneNumber }}</div>
        <div class="emailSelect" nowrap>{{ participant.email }}</div>
        <div class="emergencySelect">Emergency Contact: PlaceHolder for Emergency Contacts</div>
        <div class="dietRestrictionSelect">Dietary Restrictions: {{ participant.dietRestriction }}</div>
      </ul>
    </div>
  {% elif isAttended%}
    <div class="attendedSelect col-12 col-md-6">
      <h4 nowrap><b>{{ participant.firstName }} {{ participant.lastName }}</b></h4>
      <ul>
        <div class="phoneSelect" nowrap>{{ participant.phoneNumber }}</div>
        <div class="emailSelect" nowrap>{{ participant.email }}</div>
        <div class="emergencySelect">Emergency Contact: PlaceHolder for Emergency Contacts</div>
        <div class="dietRestrictionSelect">Dietary Restrictions: {{ participant.dietRestriction }}</div>
      </ul>
    </div>
  {% elif isRSVPed and isAttended %}
    <div class="rsvpSelect col-12 col-md-6">
      <h4 nowrap><b>{{ participant.firstName }} {{ participant.lastName }}</b></h4>
      <ul>
        <div class="phoneSelect" nowrap>{{ participant.phoneNumber }}</div>
        <div class="emailSelect" nowrap>{{ participant.email }}</div>
        <div class="emergencySelect">Emergency Contact: PlaceHolder for Emergency Contacts</div>
        <div class="dietRestrictionSelect">Dietary Restrictions: {{ participant.dietRestriction }}</div>
      </ul>
    </div>
{% endif %}
{% endif %}
{% endfor %}



{% endif %}


{% if event.isPast and not volunteerUser %}
<h3>Attendees had no dietary restrictions.</h3>
{% else %}
{% if not volunteerUser and not waitlistUser %}
<h3>Volunteers have no dietary restrictions.</h3>
{% endif %}
{% endif %}

{% endblock %}
