{% macro minorStatusMacro(status) %}
      <div class="container mt-2 mb-2">
        <div class="col-10">
            <ul class="timeline">
                <li class="{{'completed' if status != 'Draft' else ''}}">
                    <h6>Proposal Submitted by Student</h6>
                    <h6 class="text-muted {{'completed' if status != 'Draft' else ''}}">{{'Completed' if status != 'Draft' else 'Not Completed'}}</p>
                </li>
                <li class="{{'completed' if (status != 'Draft') and (status != 'Submitted') else ''}}">
                    <h6 href="#">Proposal Approved by Admin</h6>
                    <h6 class="text-muted">{{'Completed' if (status != 'Draft') and (status != 'Submitted') else 'Not Completed'}}</p>
                </li>
                <li class="{{'completed' if (status != 'Draft') and (status != 'Submitted') and (status != 'Approved') else ''}}">
                    <h6 href="#">Experience Marked Completed by Admin</h6>
                    <h6 class="text-muted">{{'Completed' if (status != 'Draft') and (status != 'Submitted') and (status != 'Approved') else 'Not Completed'}}</p>
                </li>
            </ul>
        </div>
    </div>
{% endmacro %}