  <div class="modal fade" tabindex="-1" id="myReview">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Review Course Proposal </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="closeForm()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table table-striped" id="myTable">
            <thead>
              <tr class="header">
                <th scope="col">Course Details</th>
                <th scope="col">Faculty Information jasdhihs</th>
              </tr>
            </thead>
            <tbody id="facultyTable">
              
              <tr>
                <td> hello world </td>
                <td> </td>
              </tr>
           
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="approveButton" onclick="addInstructor()">Approve</button>
        </div>
      </div>
    </div>
  </div>
