{%set title = "SLC Guidelines"%}
<h2 class="text-center pt-4 pb-4">
  Service-Learning Course Designation/Active Learning Experience (ALE) Requirements Met Through Service-Learning
</h2>
<h4 class="pb-2">Criteria and Proposal Form</h4>
<p>
  Service-Learning at Berea College is an educational experience based upon a collaborative partnership between College and community. Learning through service enables students to apply academic knowledge and critical-thinking skills to meet genuine community needs. Through reflection and assessment, students gain deeper understanding of course content and the importance of civic engagement.
</p>
<p>
  All Designated Service-Learning Courses will meet the Active Learning Experience (ALE) Requirement.
</p>
<p>
  If you have questions about the criteria for Service-Learning Courses, please call Ashley Cochrane at x. 3605.
</p>

<h4 class="pt-4 pb-2">Criteria for the Service-Learning Course Designation/ALE Requirement met through Service-Learning</h4>

<ol>
  <li><strong>Student Learning Outcomes</strong>
    <p>Students will be able to:</p>
    <ul class="pb-3">
      <li>
        Apply academic knowledge and critical-thinking skills to meet genuine community needs.
      </li>
      <li>
        Demonstrate deeper understanding of specific course learning objectives appropriate to the experience.
      </li>
      <li>
        Reflect critically on multiple facets of their experience, on the connections between theory and practice, and between learning inside and outside the classroom.
      </li>
    </ul>
  </li>
  <li><strong>Service-Learning Experience</strong>
    <ul class="pb-3">
      <li>
        Faculty will identify one or more course learning objectives that students will address through their service work in the community.
      </li>
      <li>
        Together, the community partner and faculty member will identify community needs and will structure a service-learning experience designed to address those needs.
      </li>
      <li>
        Service-Learning activities will be integrated into course work and will serve as the pedagogical method for the specified service-learning course objective(s). As such, all students in the course will participate in the service-learning activities.
      </li>
      <li>
        The service-learning experience will be substantial and sustained throughout the course, involving active student engagement.
      </li>
    </ul>
  </li>
  <li><strong>Community Partnerships</strong>
    <ul class="pb-3">
      <li>
        Faculty will identify and designate an appropriate community partner(s) in order for course learning objectives to be met.
      </li>
      <li>
        All partners will be involved in the planning, implementation, and evaluation of the structured service-learning experience.
      </li>
    </ul>
  </li>
  <li><strong>Reflection and Assessment</strong>
    <ul class="pb-3">
      <li>
        Faculty will infuse critical reflection throughout the service-learning experience; the reflection will create the connection among service work, course objectives, and student learning outcomes.
      </li>
      <li>
        Evaluative criteria for service-learning reflection will be included in the syllabi, including the percentage that reflection will represent in the final grade.
      </li>
    </ul>
  </li>
  <li><strong>Summary Presentation and Assessment</strong>
    <ul class="pb-3">
      <li>
        The service-learning experience will result in a summary presentation, performance, exhibition, and/or other synthesizing project completed by the students engaged in the experience.
      </li>
      <li>
        Evaluative criteria of the final project will be included in the syllabi, including the percentage that the summary presentation or synthesizing project will represent in the final grade.
      </li>
    </ul>
  </li>
</ol>
