{% extends "base.html" %}
{% block scripts %}
  {{super()}}
  <script type="text/javascript"></script>
{% endblock %}

{% block styles %}
  {{super()}}
  <style media="screen"></style>
{% endblock %}


{% block app_content %}
<form method="post" style="display:none;">

  <div class="tab">
      <!-- guidelines -->
      {# {% include slcGuidelines.html %} #}
  </div>

  <div class="tab">
      <!-- Proposal -->

  </div>

  <div class="tab">
      <!-- quesionnaire -->
  </div>


  <div>
    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
  </div>

  <!-- steps indicator -->
  <div style="text-align:center;margin-top:40px;">
   <span class="step"></span>
   <span class="step"></span>
   <span class="step"></span>
   <span class="step"></span>
 </div>

</form>
 {% endblock %}
