<h2 class="text-center pt-4 pb-2"> New Proposal For Service-Learning Course Designation</h2>
<p class="text-center fw-bold"> Please review the <a href="/serviceLearning/newProposal">service learning course guidelines</a> before completing this form </p>
<div class="container-fluid">
  <div class="row">
    <div class="p-2 col-md-6">
      <div class="form-group">
        <label class="form-label" for="courseInstructor"><strong>Course Instructor(s)</strong></label>
        <input class="form-control"
          id="courseInstructor"
          type="search"
          placeholder="Search instructor" />
      </div>
      <table
        class="table mb-3"
        id="instructorTable"
        name="instructorTable">
        <thead>
          <tr>
            <th scope="col">Instructor</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr hidden>
            <td class="instructorName"></td>
            <td>
              <button id="remove" type="button" class="btn btn-danger">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="form-group mb-3">
        <label class="form-label" for="courseName"><strong>Course Name</strong></label>
        <input class="form-control"
          id="courseName"
          name="courseName"
          type="text"
          placeholder="Enter course name" />
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="courseAbbreviation"><strong>Course Abbreviation</strong></label>
        <input class="form-control"
          id="courseAbbreviation"
          name="courseAbbreviation"
          type="text"
          placeholder="Enter course abbreviation"/>
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="credit"><strong>Credit</strong></label>
        <input class="form-control"
          id="credit"
          name="credit"
          type="number"
          placeholder="Enter course credit" />
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="courseInstructorPhone"><strong>Course Instructor Phone Number</strong></label>
        <input class="form-control mb-3"
          type="text"
          name="courseInstructorPhone"
          id="courseInstructorPhone"
          placeholder="Enter course instructor phone number" />
      </div>
      <div class="form-check form-switch">
        <label class="form-label" for="regularOccurenceToggle"><strong>Will this course be a regularly occurring service-learning course?</strong></label>
        <input class="form-check-input"
          type="checkbox"
          name="regularOccurenceToggle"
          id="regularOccurenceToggle"/>
      </div>
    </div>
    <div class="p-2 col-md-6">
      <div class="form-group mb-3">
        <label class="form-label" for="inputCourseInstructor"><strong>When will this course be offered?</strong></label>
        <select
          class="dropdown form-control mb-3"
          id="inputCourseInstructor"
          name="term">
          {% for term in terms %}
            <option value="{{ term.id }}"> {{ term.description }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-check form-switch mb-3">
        <label class="form-label" for="slSectionsToggle"><strong>Are all sections of the course service-learning?</strong></label>
        <input
          class="form-check-input"
          type="checkbox"
          name="slSectionsToggle"
          id="slSectionsToggle"/>
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="slDesignation"><strong>Sections with Service-Learning Designation</strong></label>
        <textarea
          class="form-control"
          id="slDesignation"
          name="slDesignation"
          rows="3"
          placeholder="Enter sections with service-learning designation"></textarea>
      </div>
      <div class="form-check form-switch">
        <label class="form-label" for="permanentDesignation"><strong>Will this course be a permanently designated service-learning course?</strong></label>
        <input
          class="form-check-input"
          type="checkbox"
          name="permanentDesignation"
          id="permanentDesignation"/>
      </div>
    </div>
  </div>
</div>
