{% extends "base.html" %}
{% block scripts %}

  {{super()}}
  <style media="screen"></style>
  <script type="text/javascript" src="{{url_for('static', filename='js/slcProposal.js') }}?u={{lastStaticUpdate}}"></script>

{% endblock %}

{% block app_content %}

<h1 class="text-center pb-2 fs-2"> New Proposal For Service Learning Course Designation </h1>

<p class="text-center fw-bold"> Please review the <a href="/slcGuidelines">Service Learning course guidelines</a> before completing this form </p>
<form action="/slcProposal" method="post">
  <div class="container-fluid">
    <div class="row">
      <div class="p-2 col-md-4">
        <div class= "form-check-inline">
          <p>Course Instructor(s)</p>
          <div class="ui-widget pb-3">
            <input
              id="instructorInput"
              type="input"
              placeholder="Search.."
              oninput="searchInstructor()" />
          </div>
          <table
            class="table"
            id="instructorTable">
            <tr>
              <th scope="col">Instructor</th>
              <th scope="col">Remove</th>
            </tr>
          </table>
        </div>
        <br></br>
        <label class="pt-3">Course Name</label>
        <input
          class="form-control"
          name="courseName"
          type="text"
          placeholder="Default input" />
        <label for="">Course Abbreviation</label>
        <input
          class="form-control"
          name="courseAbbreviation"
          type="text"
          placeholder="Default input"/>
        <label for="">Credit</label>
        <input
          class="form-control"
          name="credit"
          type="number"
          placeholder="1"/>
        <label for="">Course Instructor Phone</label>
        <input
          class="form-control mb-3"
          type="text"
          name="courseInstructorPhone"/>
        <label>Regularly-occurring?</label>
        <div class="form-check form-switch pb-4">
          <input
            class="form-check-input"
            type="checkbox"
            name="regularOccurenceToggle"/>
        </div>
      </div>
      <div class="p-2 col-md-4 me-auto">
        <label for="">When will this course be offered?</label>
        <select
          class="dropdown form-control mb-3"
          id="inputCourseInstructor"
          name="termSelect">
          {% for term in terms %}
            <option value="{{ term.id }}"> {{ term.description }}</option>
          {% endfor %}
        </select>
        <span>Are all sections SL?</span>
        <div class="form-check form-switch pb-4">
          <input
            class="form-check-input"
            type="checkbox"
            name="slSectionsToggle"/>
        </div>
        <label class="pt-2" for="slDesignation">Sections with SL Designation</label>
        <textarea
          class="form-control"
          name="slDesignation"
          rows="3">
        </textarea>
        <span class="pt-5">Will this course be a permanently designated service learning course?</span>
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            name="permanentDesignation"/>
        </div>
      </div>
    </div>
    <div class="row align-items-end pt-5">
      <div class="col">
        <a
          href="#"
          type="button"
          class="btn btn-danger col">
          Cancel
        </a>
      </div>
      <div class="col" align="right">
        <label for="Continue">(2/3)</label>
        <button
          id="Continue"
          type="submit"
          class="btn btn-success col">
          Continue
        </button>
      </div>
    </div>
  </div>
</form>
{% endblock %}

{# onclick="saveSLCdata()" #}
