<h2 class="text-center pt-4 pb-2"> New Proposal For Service-Learning Course</h2>
<p class="text-center fw-bold"> Please review the <a class="guidelines" href="#">service-learning course guidelines</a> before completing this form </p>
<div class="container-fluid">
  <div class="row">
    <div class="p-2 col-md-6">
      <label for="courseInstructor">Course Instructor(s)</label>
      <input
        id="courseInstructor"
        class="form-control"
        type="search"
        placeholder="Search instructor"
        value="" />
      <table
        class="table mb-3"
        id="instructorTable"
        name="instructorTable">
        <thead>
          <tr>
            <th scope="col">Instructor</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <tr data-username="" hidden>
                <td>
                  <p class="mb-0"></p>
                    <input type="text" style="border: none" size="14" class="form-control-sm" id="" name="courseInstructorPhone" aria-label="Instructor Phone" data-value="" value="" placeholder="Phone Number" />
                    <a class="text-decoration-none primary editButton" tabindex="0" data-username="" id=""  type="button">Edit</a>
                </td>
                <td class="align-middle">
                    <button id="remove" type="button" class="btn btn-danger removeButton">Remove</button>
                </td>

            </tr>
            {% for instructor in courseInstructor %}
            <tr data-username="{{instructor.user.username}}">
              <td>
                <p class="mb-0">{{instructor.user.firstName}} {{instructor.user.lastName}} ({{instructor.user.email}})</p>
                  <input type="text" style="border: none" size="14" class="form-control-sm" id="inputPhoneNumber-{{instructor.user}}" name="courseInstructorPhone" aria-label="Instructor Phone" data-value="{{instructor.user.phoneNumber}}" value="{{instructor.user.phoneNumber}}" placeholder="Phone Number" />
                  <a class="text-decoration-none primary editButton" tabindex="0" data-username="{{instructor.user.username}}" id="editButton-{{instructor.user}}" type="button">Edit</a>
              </td>
              <td class="align-middle">
                  <button id="remove" type="button" class="btn btn-danger removeButton">Remove</button>
              </td>

            </tr>
            {% endfor %}
        </tbody>

      </table>
      <div id='instructorTableNames'>
        {% for instructor in courseInstructor %}
        <input hidden name="instructor[]" value='{{instructor.user.username}}'/>
        {% endfor %}
      </div>
      <label for="courseName" class="pt-3">Course Name</label>
      <input
        class="form-control"
        name="courseName"
        type="text"
        value="{{course.courseName}}"
        required/>
      <label for="courseAbbreviation">Course Abbreviation and Number</label>
      <input
        class="form-control"
        id="courseAbbreviation"
        name="courseAbbreviation"
        value="{{course.courseAbbreviation}}"
        type="text"
        />
      <label for="credit" class="pt-3">Credit</label>
      <input
        class="form-control"
        id="credit"
        name="credit"
        value="{{course.courseCredit}}"
        type="number"
        min="0"
        required/>
        <label for="isRegularlyOccurring" class="pt-3">This course will be taught:</label>
        <div class="form-group col-md-3">
          <div class="form-check">
            <input class="form-check-input" type="radio" id="regularly" name="isRegularlyOccurring" value="1"
            {{ "checked" if course.isRegularlyOccurring }}>
            <label class="form-check-label"> Regularly </label>
          </div>
        </div>
        <div class="form-group col-md-9 pb-2">
          <div class="form-check">
            <input class="form-check-input" type="radio" id="one-time" name="isRegularlyOccurring" value="0"
              {{ "checked" if not course.isRegularlyOccurring }}>
            <label class="form-check-label"> One-Time Special Topics/4-week course offering </label>
          </div>
        </div>
        <div class="form-group mb-5">
          <label for="syllabus" class="pt-3 mb-2">Please upload a copy of the course syllabus:</label><br>
          <input type="file" class="form-control" id="attachmentObject" name="attachmentObject" multiple accept= ".png, .jpg, .pdf, .jpeg, .docx, .xlsx"/>
        </div>

      
        {% if filepaths %}
        <div class="form-group mb-5">
          {% from 'displayFilesMacro.html' import displayFiles %}
          {{ displayFiles(filepaths, 'Course Attachments', '/deleteCourseFile', course.id) }}
        </div>
        {% endif %}


    </div>
    <div class="p-2 col-md-6">
      <label for="inputCourseInstructor">When will this course be offered?</label>
      <select
        class="dropdown form-control mb-3"
        id="inputCourseInstructor"
        value="{{course.term.description}}"
        name="term">
        {% for term in terms %}
          <option value="{{ term.id }}" {{ "selected" if course.term == term }}> {{ term.description }}</option>
        {% endfor %}
      </select>
      <div class="pb-3">
      <label for="sectionDesignation">Section Designation (if applicable).</label>
      <input
        class="form-control"
        id="sectionDesignation"
        name="sectionDesignation"
        value="{{course.sectionDesignation}}"
        type="text"
        />
      </div>
      <div class="form-check form-switch pb-3">
        <label for="whichAreSL">All sections will have a service-learning designation.</label>
        <input
          class="form-check-input"
          type="checkbox"
          id="allSectionsSL"
          name="slSectionsToggle" {{"checked" if course.isAllSectionsServiceLearning}}/>
      </div>
      <div class="pb-4" id="slDesignationGroup">
        <label class="pt-2" for="slDesignation" >Which sections will have a service-learning designation?</label>
        <textarea
          class="form-control"
          id="slDesignation"
          name="slDesignation"
          rows="1">{{course.serviceLearningDesignatedSections}}</textarea>
      </div>
      <label class="pb-2" for="isPreviouslyApproved">Has this course been previously approved as a service-learning course?</label>
      <div class="form-group" id="previouslyApprovedGroup">
        <div class="form-check pb-1">
          <input class="form-check-input" type="radio" id="previouslyApproved" name="isPreviouslyApproved" value=1
          {{"checked" if course.isPreviouslyApproved}}>
            <label class="form-check-label">Yes, this course has been previously approved as a service-learning course.</label>
        </div>
        <div class="form-check pb-4">
          <input class="form-check-input" type="radio" id="notPreviouslyApproved" name="isPreviouslyApproved" value=0
          {{"checked" if not course.isPreviouslyApproved}}>
            <label class="form-check-label">No, this course has never been approved as a service-learning course.</label>
        </div>
      </div>
      <div id="previouslyApprovedProposal">
        <p>When was the course approved previously? Also, please describe the service-learning project you
        plan for the upcoming course, including identification of the community partner organization(s).</p>
        <textarea
          class="form-control"
          id="previouslyApprovedDescription"
          name="previouslyApprovedDescription"
          rows="3">{{course.previouslyApprovedDescription}}</textarea>
      </div>
      <label class="pb-2" for="slcComponent">Will this course be taught with a significant service-learning component each time it is taught?</label>
      <div id="slcComponent">
        <div class="form-check pb-1">
          <input class="form-check-input" type="radio" id="hasSlcComponent" name="hasSlcComponent" value=1
          {{"checked" if course.hasSlcComponent}}>
            <label class="form-check-label">Yes, this course has a significant service-learning component.</label>
        </div>
        <div class="form-check pb-4">
          <input class="form-check-input" type="radio" id="noSlcComponent" name="hasSlcComponent" value=0
          {{"checked" if not course.hasSlcComponent}}>
            <label class="form-check-label">No, this course does not have a significant service-learning component.</label>
        </div>
      </div>
      <div id="permanentDesignationGroup">
        <label class="pb-2" for="permanentDesignation">Would you like for this course to have a permanent Service-Learning Course Designation (i.e., in the Course Catalog)? (A change in the Catalog description must be approved by COGE.) </label>
        <div class="form-group" id="permanentDesignation">
          <div class="form-check pb-1">
            <input class="form-check-input" type="radio" id="permanentlyDesignated" name="isPermanentlyDesignated" value=1
            {{"checked" if course.isPermanentlyDesignated}}>
              <label class="form-check-label">Yes, this this course should be permanently designated as Service-Learning.</label>
          </div>
          <div class="form-check pb-4">
            <input class="form-check-input" type="radio" id="notPermanentlyDesignated" name="isPermanentlyDesignated" value=0
            {{"checked" if not course.isPermanentlyDesignated}}>
              <label class="form-check-label">No, this this course should not be permanently designated as Service-Learning.</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <input value={{course.id}} name="courseID" hidden/>
</div>
