<h2 class="text-center pt-4">New Designated Service-Learning Course</h2>
<p class="text-center fw-bold"> Please review the <a href="/slcGuidelines">service learning course guidelines</a> before completing this form </p>
<ol>
  <li class="mb-3">
    <label class="form-label" for="1" style="display: inline;">Indicate the specific course learning objective(s) that will be addressed by the service-learning component.</label>
    <div>
      <textarea class="form-control" name="1" id="1"></textarea>
    </div>
  </li>
  <li class="mb-3">
    <label class="form-label" for="2" style="display: inline;">Describe the method of structured, critical reflection you will use in order to connect the service activity or activities to the learning objective(s) of the course.</label>
    <div>
      <textarea class="form-control" name="2" id="2"></textarea>
    </div>
  </li>
  <li class="mb-3">
    <label class="form-label" for="3" style="display: inline;">Describe the service-learning activity or activities. Indicate the approximate number of hours or days of service experience. There is no formal requirement, but the activity must be substantial and sustained throughout the semester.</label>
    <div>
      <textarea class="form-control" name="3" id="3"></textarea>
    </div>
  </li>
  <li class="mb-3">
    <label class="form-label" for="4" style="display: inline;">Identify the community partner(s) with whom you will collaborate in order to structure this service-learning experience. How will the community partner(s) be involved in planning, implementation, and evaluation?</label>
    <div>
      <textarea class="form-control" name="4" id="4"></textarea>
    </div>
  </li>
  <li class="mb-3">
    <label class="form-label" for="5" style="display: inline;">Describe the final product to be completed by the students. How will this benefit the community?</label>
    <div>
      <textarea class="form-control" name="5" id="5"></textarea>
    </div>
  </li>
  <li class="mb-3">
    <label class="form-label" for="6" style="display: inline;">Indicate how you will assess student learning related to the identified course objective(s) that will be enhanced by the service-learning experience. Identify what percentage of the final grade will be based on the assessment of reflection, the final product, and other forms of assessment related to the identified course objective(s).</label>
    <div>
      <textarea class="form-control" name="6" id="6"></textarea>
    </div>
  </li>
</ol>
