{% extends "base.html" %}

{% block scripts %}
{{super()}}
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/addParticipants.js') }}?u={{lastStaticUpdate}}"></script>

{% endblock %}

{% block app_content %}

<head>
</head>
<div class= "form-check-inline">
  <h2>Add Volunteers*</h2>
    <div>
      <input type="text" id="Volsearch" placeholder="Search for names.." title="Type in a name">
      <button type="button" class="btn btn-secondary btn-sm">+</button>
      {% for User in eventParticipants %}
      <div id="Volul">
        <a style = "list-style-type: none; margin: 0" class="dropdown-item Volunteers" href="#" onclick="addVolunteer(this)">{{ User.firstName + " " + User.lastName }}</a>
      </div>
      {% endfor %}
    </div>
    <table class="table table-striped" id="Volunteertable">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Remove</th>
      </tr>
  </table>
</div>
<div class= "form-check-inline">
  <h2>Add Outside Participants</h2>
    <input type="text" id="Outsearch" placeholder="Search for names.." title="Type in a name">
    <button class="btn btn-secondary btn-sm" type="button">+</button>
    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Create Participant
    </button>

    {% for OutsideParticipant in outsideParticipants %}
    <div id="Partul">
      <a style = "list-style-type: none;" class="dropdown-item outsidepart" href="#" onclick="addResult()" class="dropdown-item" href="#" onclick="addResult()">{{ OutsideParticipant.firstName + " " + OutsideParticipant.lastName }}</a>
    </div>
    {% endfor %}
    <table class="table table-striped" id="OutsideTable">
      <tr id="tableRow">
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Remove</th>
        </tr>
          {% for OutsideParticipant in outsideParticipants %}
            <tr id="this-row2">
                <td>{{ OutsideParticipant.firstName + " " + OutsideParticipant.lastName }}</td>
                <td>{{ OutsideParticipant.email }}</td>
                <td>{{ OutsideParticipant.phoneNumber }}</td>
                <td><button id="removeButton" onclick="removeParticipants(this)" type="button">x</button></td>
            </tr>
          {% endfor %}
  </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Participant</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <form class="row g-3" data-toggle="validator" action="/createParticipant" method="post" role="form" id="addParticipantsForm">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">First Name:</label>
          <input class="form-control" type="text" id="firstNameTextarea" name="firstNameTextarea" rows="1" placeholder="First Name" required>

        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Last Name:</label>
          <input class="form-control" type="text" id="lastNameTextarea" name="lastNameTextarea" rows="1" placeholder="Last Name" required>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Email:</label>
          <input class="form-control" type="text" id="emailTextarea" name="emailTextarea" rows="1" placeholder="Email" required>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Phone Number:</label>
          <input class="form-control" type="text" id="phoneNumberTextarea" name="phoneNumberTextarea" rows="1" placeholder="Phone Number" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" id="createParticipantBtn" class="btn btn-primary">Create Participant</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
