<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block styles %}
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/bootstrap.min.css') }}?u={{lastStaticUpdate}}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/base.css') }}?u={{lastStaticUpdate}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/sidebar.css') }}?u={{lastStaticUpdate}}">

    {% endblock %}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js') }}?u={{lastStaticUpdate}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='js/base.js') }}?u={{lastStaticUpdate}}" type="text/javascript"></script>


    {% endblock %}

    <title>
        {% block title %}
            {% if title %}{{ title }} - CELTS{% else %}Welcome to CELTS{% endif %}
        {% endblock %}
    </title>

</head>

<body class="mb-n4">

{% block content %}

<div>
    <div class="row g-0">
        <nav class="col-md-auto d-none d-lg-block">
            {% block sidebar %}
                {% include 'sidebar.html' %}
            {% endblock %}
        </nav>
        <nav class="col-md-auto d-lg-none">
            <div class="offcanvas offcanvas-start w-auto" tabindex="-1" id="offcanvasSidebar" aria-labelledby="sidebar">
                <div class="offcanvas-body p-0">
                    <button type="button" class="btn btn-dark position-absolute top-0 start-100 rounded-0 rounded-end" data-bs-dismiss="offcanvas" aria-label="Close">
                        <i class="bi bi-x"></i>
                    </button>
                    {% include 'sidebar.html' %}
                </div>
            </div>
        </nav>
        <div class='col-12 col-md scroll-container overflow-auto'>
        <div>
            <div class="main-content container">
                <div class="flash_container">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert  alert-{{category}} alert-dismissible" role="alert">{{ message }}
                                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>

                <div class="d-lg-none position-fixed top-0 start-0">
                    <button class="btn btn-dark rounded-0 rounded-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="sidebar">
                        <i class="bi bi-list" role="button" aria-label="Sidebar"></i>
                    </button>
                </div>

                {% block app_content %}
                    {# application content needs to be provided in the app_content block #}
                {% endblock %}
                <div class="spacer my-0"></div>
            </div>
        </div>

        {% block footer %}
        <footer class="footer mt-auto bg-light" style="font-size:small; vertical-align: middle;">
          <div class="container" style="margin-bottom: 0; line-height:normal;"><br>
            <span><strong>Issues? Contact: </strong><a href="mailto:support@bereacollege.onmicrosoft.com" class="footerlink">Systems Support </a><br class="d-lg-none">
              <strong>Created & Designed by the </strong><a href="/contributors" id = "contribLink" class="footerlink">Student Software Development Team</a></span>
            </div>
          </footer>
          {% endblock %}
        </div>
    </div>
</div>

{% endblock %}

</body>
</html>
