<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block styles %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{url_for('static', filename ='css/bootstrap.min.css') }}?u={{lastStaticUpdate}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@latest/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{url_for('static', filename ='css/base.css') }}?u={{lastStaticUpdate}}">
    <link rel="stylesheet" href="{{url_for('static', filename ='css/sidebar.css') }}?u={{lastStaticUpdate}}">
  {% endblock %}

  <title>
    {% block title %}
      {% if title %}CELTS Link - {{ title }}{% else %}Welcome to CELTS Link{% endif %}
    {% endblock %}
  </title>
</head>

<body class="mb-n4">

{% block content %}
<div>
  <div class="row g-0">
    <div class="col-md-auto d-print-none d-none d-lg-block">
      <div style="margin-right: 280px">
        <nav class="position-fixed float-start">
          {% block sidebar %}
            {% include 'sidebar.html' %}
          {% endblock %}
        </nav>
      </div>
    </div>
    <nav class="col-md-auto d-print-none d-lg-none">
      <div class="offcanvas offcanvas-start w-auto" tabindex="-1" id="offcanvasSidebar" aria-labelledby="sidebar">
        <div class="offcanvas-body p-0">
          <button type="button" class="btn btn-dark position-absolute top-0 start-100 rounded-0 rounded-end kiosk-hide" data-bs-dismiss="offcanvas" aria-label="Close">
            <span class="bi bi-x"></span>
          </button>
          {% include 'sidebar.html' %}
        </div>
      </div>
    </nav>
    <div class='col-12 col-md scroll-container overflow-visible'>
      <div>
        <div id="maincontent" class="main-content container">
          <div class="flash_container" id="flash_container">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert  alert-{{category}} alert-dismissible" role="alert">{{ message }}
                    <button type="button" class="btn-close kiosk-hide" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
          </div>
          <div class="sidebar-icon d-lg-none position-fixed top-0 start-0 d-print-none">
            <button class="btn btn-dark rounded-0 rounded-end kiosk-hide" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="sidebar">
              <span class="bi bi-list" role="button" aria-label="Sidebar"></span>
            </button>
          </div>

          {% block app_content %}
            {# application content needs to be provided in the app_content block #}
          {% endblock %}
          <div class="toast-container position-fixed bottom-0 end-0 p-3">
              <div id="toastDiv">
                  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                      <div class="toast-header">
                          <strong class="me-auto" id="toast-header"></strong>
                          <small>Just now</small>
                          <button type="button" class="btn-close kiosk-hide" data-bs-dismiss="toast" aria-label="Close"></button>
                      </div>
                      <div id="toast-body" class="ps-3 pe-2 mt-2 mb-2">
                      </div>
                  </div>
              </div>
          </div>
          <div class="spacer d-print-none my-0"></div>
        </div>
      </div>

      {% block footer %}
      <footer class="footer mt-auto bg-light d-print-none" style="font-size:small; vertical-align: middle;">
        <div class="container" style="margin-bottom: 0; line-height:normal;"><br>
          <span><strong>Issues? Contact: </strong><a href="mailto:support@bereacollege.onmicrosoft.com" class="footerlink">Systems Support </a><br>
          <strong>Created & Designed by the </strong><a href="/contributors" id = "contribLink" class="footerlink">Student Software Development Team</a></span>
        </div>
      </footer>
      {% endblock %}
    </div>
  </div>
</div>

{% endblock %}

</body>

{% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js') }}?u={{lastStaticUpdate}}" type="text/javascript"></script>
  <script src="{{url_for('static', filename='js/base.js') }}?u={{lastStaticUpdate}}" type="text/javascript"></script>
{% endblock %}

</html>
