{% macro displayFiles(filepaths, titleName, deleteLink, databaseId)  %}
<table>
    <tr>
        <td class="py-2"><strong>Display</strong></td>
        <td class="py-2 px-3"><strong>{{ titleName }}</strong></td>
    </tr>
    {% for key, value in filepaths.items() %}
        <tr id="attachment_{{ value[1] }}" class="attachmentRow_{{ key }}" data-id="{{ key }}">
            <td class="py-2 px-3">
                {% if value[-1].isDisplayed %}
                    <input type="radio" class="attachmentCheck" data-id="{{ value[1] }}" checked>
                
                {% else %}
                {% if not (value[0].endswith('.png') or value[0].endswith('.jpg') or value[0].endswith('.svg') or value[0].endswith('.jpeg') or value[0].endswith('.gif')) %}
                        -
                    {% else %}
                        <input type="radio" class="attachmentCheck" data-id="{{ value[1] }}" >
                    {% endif %}
                {% endif %}
            </td>
            <td class="py-2 px-3" >
                {% set filename = key[:8] + "..." + key[-10:] if key|length > 25 else key %}
                <a class="mr-5 fileName" data-filename='{{ key }}' href="{{ value[0] }}" target="_blank">{{ filename }}</a>
            </td>
            <td style="text-align:center">
                <button
                    data-id="{{ value[1] }}"
                    data-delete-url="{{ deleteLink }}"
                    data-database-id='{{ databaseId }}'
                    type="button"
                    class="removeAttachment btn btn-danger btn-sm">
                    <i class="bi bi-trash h5 align-middle"></i>
                </button>
            </td>
        </tr>
    {% endfor %}
</table>
{% endmacro %}
