{% extends "base.html"%}

{% macro eventheader(page_title, event, size, isNewEvent) %}
    {% set bigh = 'h1' if size == 'large' else 'h3' %}
    {% set smallh = 'h5' if size == 'large' else 'p' %}

    <{{bigh}} class="mb-0" id="title">{{page_title}}</{{bigh}}>
    {% if not isNewEvent %}
        {% set programName = event.program.programName %}
        {% set prefix = "An" if programName[0] in 'aeiouAEIOU' else "A" %}
        <{{smallh}} class="text-muted">{{prefix}} {{ programName }} Event</{{smallh}}>
    {% endif %}
{% endmacro %}

{% block app_content %}
    {% block content_pageHeading %}
    <div class="text-center">
        {% if g.current_user.isAdmin %}
            {{ eventheader(page_title, event, 'large', isNewEvent) }}
        {% endif %}
        {% set isInProg = not event.isPastEnd and event.isPastStart %}
        {% set display = "" if eventPast or event.isCanceled or isInProg else "d-none"%}
        {% set alertClass = ("alert-success" if isInProg else ( "alert-danger" if eventPast else "alert-warning")) %}
        {% set event_year = event.endDate.strftime("%Y") | int %}
        {% set currentYear = g.currentTime.year | int %}
        {{ g.currentTime.year }}

        <div class = "{{alertClass}} {{display}} mb-2 pb-2 pt-2" role="alert">
        {% if eventPast and event.isCanceled %}
            This is a past event and it was canceled.
        {% elif isInProg %}
            This event is happening right now 
        {% elif eventPast and currentYear > event_year%}
            This event ended on {{ event.endDate.strftime("%B %d %Y") }} at {{ event.timeEnd.strftime("%I:%M %p") }}
        {% elif currentYear == event_year %}
            This event ended on {{ event.endDate.strftime("%B %d ") }} at {{ event.timeEnd.strftime("%I:%M %p") }}
        {% elif event.isCanceled %}
            This event has been canceled.
        {% endif %}
        </div>
    </div>
    {% endblock %}

    {% block navbar %}
        {% if g.current_user.isCeltsAdmin or (g.current_user.isCeltsStudentStaff and g.current_user.isProgramManagerFor(event.program)) %}

        <div class="btn-group">
            <ul class="nav nav-tabs nav-fill mx-3 mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link {{ 'active' if tabName == 'view' }}" href="/event/{{event.id}}/view" role="tab" aria-selected="{{ 'true' if tabName == 'view' else 'false'}}">View Event</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {{ 'active' if tabName == 'edit' }}" href="/event/{{event.id}}/edit" role="tab" aria-selected="{{ 'true' if tabName == 'edit' else 'false'}}">Edit Event</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {{ 'active' if tabName == 'manageVolunteers' }}" href="/event/{{event.id}}/manage_volunteers" role="tab" aria-selected="{{ 'true' if tabName == 'manageVolunteers' else 'false'}}">Manage Volunteers</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {{ 'active' if tabName == 'details' }}" href="/event/{{event.id}}/volunteer_details" role="tab" aria-selected="{{ 'true' if tabName == 'details' else 'false'}}">Volunteer Details</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {{ 'active' if tabName == 'rsvpLog' }}" href="/event/{{event.id}}/rsvp" role="tab" aria-selected="{{ 'true' if tabName == 'rsvpLog' else 'false'}}">RSVP Log</a>
                </li>
            </ul>
        </div>

        {% endif %}
    {% endblock %}
{% endblock %}