{% set title = eventData.name %}
{% extends "base.html" %}

{% block scripts %}
    {{super()}}
    <script src="/static/js/event_list.js"></script>
{% endblock %}

{% block app_content %}
    <div class="text-center mb-3">
        {% if eventData.name != 'All Volunteer Training' and eventData.program == None %}
          <h2>CELTS-Sponsored Event</h2>
        {% elif eventData.program %}
          <h2>{{eventData["program"].programName}} Event</h2>
        {% endif %}
    {% if isPastEvent %}
        <div class="alert-danger pb-2 pt-2" role="alert">This event is in the past.</div>
    {% endif %}
    </div>
    {% if g.current_user.isCeltsAdmin or isProgramManager %}
        <div class="btn-group">
          <ul class="nav nav-tabs nav-fill mx-3 mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" href="#" role="tab" aria-selected="true">View Event</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="/eventsList/{{eventData.id}}/track_volunteers" role="tab" aria-selected="false">Track Volunteers</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="/eventsList/{{eventData.id}}/edit" role="tab" aria-selected="false">Edit Event</a>
            </li>
          </ul>
         </div> <br />
    {% endif %}
    
    <!--
    {% if isPastEvent %}
        <p class="heading-size"><b>{{eventData.name}}</b> took place on <b>{{eventData.startDate}}</b> from <b>{{eventData.timeStart}}</b> to <b>{{eventData.timeEnd}}</b> and was located in <b>{{eventData.location}}</b>.</p>
    {% else %}
        <p class="heading-size"><b>{{eventData.name}}</b> will take place on <b>{{eventData.startDate}}</b> from <b>{{eventData.timeStart}}</b> to <b>{{eventData.timeEnd}}</b> and will be located in <b>{{eventData.location}}</b>.</p>
    {% endif %} -->
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{image}}" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <br>
                    <div>
                        
                    {% set event_title = eventData.name %}
                    <h3 id="title">{{event_title}}</h3>
                    
                    <br>
                    <div style="display: flex; align-items: center;">
                        <div>
                            <svg viewBox="0 0 24 24" style="color: rgb(66, 66, 66); fill: rgb(66, 66, 66); height: 24px; width: 20px; margin-right: 10px;">
                            <path d="M9 11H7v2h2v-2zm4 0h-2v2h2v-2zm4 0h-2v2h2v-2zm2-7h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V9h14v11z"></path>
                            </svg>
                        </div>
                        <div style="display: inline-block;" {% set event_date = eventData.startDate %}>
                            <h5 id="date" style="margin: 0;"> Date: <br>{{event_date}}</h5>
                        </div>
                    </div>
            <!--improvement of code from chatgpt-->
                    <br>
                    <div style="display: flex; align-items: center;">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                            </svg>
                        </div>
                        <div style="display: inline-block;" {% set event_time = eventData.timeStart %}>
                            <h5 id="time">Time: <br>{{eventData.timeStart}} - {{eventData.timeEnd}}</h5>
                        </div>
                    </div>
                    <br>
                    <div style="display: flex; align-items: center;">
                        <div>
                            <svg viewBox="0 0 24 24" style="display: inline-block; color: rgb(39, 38, 38); fill: rgb(66, 66, 66); height: 24px; width: 24px; user-select: none; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; font-size: 24px; margin: 0px;">
                                <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
                            </svg>
                        </div>
                        <div style="display: inline-block;" {% set event_location = eventData.location %}>
                            <h5 id="time">Location: <br>{{eventData.location}}</h5>
                        </div>                    
                    </div>
                    <br>
                    <div>
                        {% if eventData.isRsvpRequired %}
                            <button type="submit" class="btn btn-primary" value="{{eventData.id}}" id="rsvpBtn">RSVP</button>
                        {% endif %}
                    </div>
 
                </div>
            </div>
            
            <div class="row">
                    <h3><br>Description</h3><p>{{eventData.description|urlize}}</p><br>
                    {% if eventData.isFoodProvided %}
                        <p>Food will be provided at this event. <a href="/profile/{{g.current_user}}?accordion=dietaryInformation"><br><b>Please fill in any dietary restrictions on your "My profile" page.</b></a></p>
                    {% endif %}
                    {% if eventData.isService %}
                        <p>This event earns service hours.</p>
                    {% else %}
                        <p>This event does not earn service hours.</p>
                    {% endif %}

                    {% if eventData.isRsvpRequired %}
                        <p>This event requires RSVP.</p>
                    {% else %}
                        <p>This event does not require RSVP.</p>
                    {% endif %}

                    {% if eventData.recurringId %}
                        <p>This event is a recurring event.
                            {% if eventData.nextRecurringEvent %}
                            The next event in the series occurs on <a href="/eventsList/{{eventData.nextRecurringEvent.id}}/view"><br><b>{{eventData.nextRecurringEvent.startDate.strftime("%B %-d")}}.</b></a>
                            {% else %}
                            <b>However, this is the last event in the series.</b>
                            {% endif %}
                        </p>
                    {% endif %}

                    {% if eventData.isTraining %}
                        <p>This event is a training.</p>
                    {% endif %}

                    {% if eventData['certRequirement'] %}
                        <p>This event satisfies the {{eventData['certRequirement'].name}} requirement for the Bonner program.</p>
                    {% endif %}
                </div>
                <!--
                </div>
                <div class="col-md-6">
                    <div class="col-sm">
                        {% if eventData.contactName and eventData.contactEmail %}
                            <br><h3>Contact Information:</h3>
                                <div>{{eventData.contactName}} - {{eventData.contactEmail}}</div>
                        {% endif %}
                        {% if program or not eventData.isAllVolunteerTraining %}
                            <h3><br>Program Trainings</h3>
                                  {% for training, participated in programTrainings.items() %}
                                      {% if g.current_user.isCeltsAdmin %}
                                        <p>{{training}}</p>
                                      {% else %}
                                      {% if participated == 1 %}
                                              <p><b>{{training}}</b>: Attended</p>
                                          {% elif participated == 0 %}
                                              <p><b>{{training}}</b>: Not attended</p>
                                          {% else %}
                                              <p><b>{{training}}</b>: Upcoming</p>
                                          {% endif%}
                                      {% endif %}
                                  {% endfor %}
                            {% endif %}
                          </div>
                      </div>
            </div>
            {% if filepaths.keys()|count %}
            <div class="form-group mb-5">
                <label class="mb-2" for= "eventAttachments"><strong>Event Attachments</strong></label>
                <table>
                    {% for key, value in filepaths.items() %}
                        <tr id="attachment_{{value[1]}}" class="attachmentRow_{{key}}" data-id= "{{key}}">
                            <td class="pr-5">
                                Comment: 
                                <img src="{{value[0]}}"
                                width="200"
                                height="200">
                                EndComment
                                <a class="mr-5" href="{{value[0]|replace('#','%23')}}" target="_blank">{{key}}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
            <div class="rsvp-btn text-center">
              {% if (not isPastEvent) and (not isNewEvent)%}
                  {% if userHasRSVPed %}
                    <button type="submit" class="btn btn-danger" value="{{eventData.id}}" id="removeRsvpBtn">Remove RSVP</button>
                  {% elif eventData.isRsvpRequired %}
                    <button type="submit" class="btn btn-primary" value="{{eventData.id}}" id="rsvpBtn">RSVP</button>
                 {% endif %}
              {% endif %}
              {% if g.current_user.isCeltsAdmin or isProgramManager %}
            <div class="d-flex align-items-center">
                <i class="bi bi-eye-fill me-2"></i>
                <span class="me-2">Unique Viewers:</span>
                <span id="viewCount">{{pageViewsCount}}</span>
            </div>
          {% endif %}
            </div> -->
    <!--FIXME-->
{% endblock %}
