{% set title = eventData.name %}
{% extends "base.html" %}

{% block scripts %}
    {{super()}}
    <script src="/static/js/event_list.js"></script>
{% endblock %}

{% block app_content %}
    <div class="text-center mb-3">
        {% if eventData.name != 'All Volunteer Training' and eventData.program == None %}
          <h2>CELTS-Sponsored Event</h2>
        {% elif eventData.program %}
          <h2>{{eventData["program"].programName}} Event</h2>
        {% endif %}
    {% if isPastEvent %}
        <div class="alert-danger pb-2 pt-2" role="alert">This event is in the past.</div>
    {% endif %}
    </div>
    {% if g.current_user.isCeltsAdmin or isProgramManager %}
        <div class="btn-group">
          <ul class="nav nav-tabs nav-fill mx-3 mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" href="#" role="tab" aria-selected="true">View Event</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="/eventsList/{{eventData.id}}/track_volunteers" role="tab" aria-selected="false">Track Volunteers</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="/eventsList/{{eventData.id}}/edit" role="tab" aria-selected="false">Edit Event</a>
            </li>
          </ul>
         </div> <br />
    {% endif %}
    
    {% if isPastEvent %}
        <p class="heading-size"><b>{{eventData.name}}</b> took place on <b>{{eventData.startDate}}</b> </p>
    {% endif %}
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{image}}" class="img-fluid">
                    <!-- Image should be about 1280px x 836px (Width x Height)-->
                </div>
                <div class="col-md-6">
                    <br>
                    <div>   
                        {% set event_title = eventData.name %}
                        <h3 id="title">{{event_title}}</h3>
                    </div>
                    <br>
                    <div style="display: flex; align-items: top;">
                        <i class="bi bi-calendar" style="margin-right: 10px;"></i>
                        {% set event_date = eventData.startDate %}
                        <h5 id="date" style="margin: 0;"> Date: <br>{{event_date}}</h5>
                    </div>
                    <br>
                    <div style="display: flex; align-items: top;">
                        <i class="bi bi-clock" style="margin-right: 10px;"></i>
                        {% set event_time = eventData.timeStart %}
                        <h5 id="time" style="margin: 0;">Time: <br>{{eventData.timeStart}} - {{eventData.timeEnd}}</h5>
                    </div>
                    <br>
                    <div style="display: flex; align-items: top;">
                        <i class="bi bi-geo" style="margin-right: 10px;"></i>
                        {% set event_location = eventData.location %}
                        <h5 id="time">Location: <br>{{eventData.location}}</h5>                  
                    </div>
                    <br>
                    <div>
                        {% if eventData.isRsvpRequired %}
                            <button type="submit" class="btn btn-primary" value="{{eventData.id}}" id="rsvpBtn">RSVP</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            <!--
            <div class="row">
                    <h3><br>Description</h3><p>{{eventData.description|urlize}}</p><br>
                    {% if eventData.isFoodProvided %}
                        <p>Food will be provided at this event. <a href="/profile/{{g.current_user}}?accordion=dietaryInformation"><br><b>Please fill in any dietary restrictions on your "My profile" page.</b></a></p>
                    {% endif %}
                    {% if eventData.isService %}
                        <p>This event earns service hours.</p>
                    {% else %}
                        <p>This event does not earn service hours.</p>
                    {% endif %}

                    {% if eventData.isRsvpRequired %}
                        <p>This event requires RSVP.</p>
                    {% else %}
                        <p>This event does not require RSVP.</p>
                    {% endif %}

                    {% if eventData.recurringId %}
                        <p>This event is a recurring event.
                            {% if eventData.nextRecurringEvent %}
                            The next event in the series occurs on <a href="/eventsList/{{eventData.nextRecurringEvent.id}}/view"><br><b>{{eventData.nextRecurringEvent.startDate.strftime("%B %-d")}}.</b></a>
                            {% else %}
                            <b>However, this is the last event in the series.</b>
                            {% endif %}
                        </p>
                    {% endif %}

                    {% if eventData.isTraining %}
                        <p>This event is a training.</p>
                    {% endif %}

                    {% if eventData['certRequirement'] %}
                        <p>This event satisfies the {{eventData['certRequirement'].name}} requirement for the Bonner program.</p>
                    {% endif %}
                </div>
                
                </div>
                <div class="col-md-6">
                    <div class="col-sm">
                        {% if eventData.contactName and eventData.contactEmail %}
                            <br><h3>Contact Information:</h3>
                                <div>{{eventData.contactName}} - {{eventData.contactEmail}}</div>
                        {% endif %}
                        {% if program or not eventData.isAllVolunteerTraining %}
                            <h3><br>Program Trainings</h3>
                                  {% for training, participated in programTrainings.items() %}
                                      {% if g.current_user.isCeltsAdmin %}
                                        <p>{{training}}</p>
                                      {% else %}
                                      {% if participated == 1 %}
                                              <p><b>{{training}}</b>: Attended</p>
                                          {% elif participated == 0 %}
                                              <p><b>{{training}}</b>: Not attended</p>
                                          {% else %}
                                              <p><b>{{training}}</b>: Upcoming</p>
                                          {% endif%}
                                      {% endif %}
                                  {% endfor %}
                            {% endif %}
                          </div>
                      </div>
            </div>
            {% if filepaths.keys()|count %}
            <div class="form-group mb-5">
                <label class="mb-2" for= "eventAttachments"><strong>Event Attachments</strong></label>
                <table>
                    {% for key, value in filepaths.items() %}
                        <tr id="attachment_{{value[1]}}" class="attachmentRow_{{key}}" data-id= "{{key}}">
                            <td class="pr-5">
                                <a class="mr-5" href="{{value[0]|replace('#','%23')}}" target="_blank">{{key}}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
            <div class="rsvp-btn text-center">
              {% if (not isPastEvent) and (not isNewEvent)%}
                  {% if userHasRSVPed %}
                    <button type="submit" class="btn btn-danger" value="{{eventData.id}}" id="removeRsvpBtn">Remove RSVP</button>
                  {% elif eventData.isRsvpRequired %}
                    <button type="submit" class="btn btn-primary" value="{{eventData.id}}" id="rsvpBtn">RSVP</button>
                 {% endif %}
              {% endif %}
              {% if g.current_user.isCeltsAdmin or isProgramManager %}
            <div class="d-flex align-items-center">
                <i class="bi bi-eye-fill me-2"></i>
                <span class="me-2">Unique Viewers:</span>
                <span id="viewCount">{{pageViewsCount}}</span>
            </div>
          {% endif %}
            </div> 
        </div>-->
    <!--FIXME-->
{% endblock %}
