{% extends "base.html"%}


{% block scripts %}
  {{super()}}
<script src="/static/js/searchStudent.js"></script>
{% endblock %}

{% block styles %}
  {{super()}}

{% endblock %}


{% block app_content %}

<h1 align="center">Student Search Page</h1><br>
<div class="container">
  <div class="input-group justify-content-center row">
    <div class="row mr-auto ml-auto d-inline-flex">
      <div class="p-0 col-5 form-group input-group-x form-outline ui-widget">
        <input type="input" id="searchStudentsInput" class="form-control" placeholder="Search" oninput="searchStudents()" autocomplete="off"/>
      </div>
      <button type="button" class="p-0 row-1 btn btn-secondary btn-sm m-0" style="width: 1rem;">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
</div>
{% endblock %}
