{% extends "base.html"%}


{% block scripts %}
  {{super()}}

{% endblock %}

{% block styles %}
  {{super()}}

{% endblock %}


{% block app_content %}

<h1 >Student Search Page </h1>
  <div class="input-group h-100 row align-items-center">
    <div class="form-group input-group-x form-outline ui-widget" style="width:50%; ">
      <input type="input" id="addVolunteerInput" class="form-control" placeholder="Search" oninput="searchTrackHoursVolunteers()" autocomplete="off"/>
    </div>
    <button type="button" class="btn btn-primary btn-sm">
      <i class="bi bi-search" style="margin-left:0px;"></i>
    </button>
  </div>
{% endblock %}
