<div id="sidebar">
  <h1 class="visually-hidden">Admin sidebar</h1>

  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">CELTS</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">

      {%if g.current_user.isStudent or g.current_user.isCeltsStudentStaff%}
      <li>
        <a href="/profile/{{g.current_user.username}}" class="nav-link text-white {{ 'active' if request.path =='/profile/{g.current_user.username}' }}">
          My Profile
        </a>
      </li>
      {%endif%}

      <li class="nav-item">
        <a href="/" class="nav-link text-white {{ 'active' if request.path =='/' }}" aria-current="page">
          Events List
        </a>
      </li>
      {% if g.current_user.isCeltsAdmin or g.current_user.isCeltsStudentStaff%}
      <li>
        <a href="/search_student" class="nav-link text-white {{ 'active' if request.path =='/search_student' }}">
          Volunteer Search
        </a>
      </li>
      {%endif%}

    </ul>
    <hr>
    <button type="button" class="btn btn-secondary btn-secondary">Log out</button>
  </div>

  <div class="b-example-divider d-none d-xxl-block"></div>

  </div>
