<head>
  <link rel="shortcut icon" href="#">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="/static/js/volunteerIndicateInterest.js"></script>
</head>

<h2>Which programs do you want to receive information about?</h2>
<input id="{{ user.username }}" hidden>
  <div class="form-check form-switch">
  {% for program in programs %}
    {% set status = '' %}
      {% if program.id in interests_ids %}
        {% set status = 'checked' %}
      {% else %}
      {% endif %}
      <input class="form-check-input"  type="checkbox" id="{{ program.id }}" {{ status }}>
      <label class="form-check-label" for="{{ program.id }}">{{program.programName}}</label>
  {% endfor %}
  </div>
  <small>
    <a href="https://www.berea.edu/celts/community-service-programs/volunteer-opportunities/">For more information click here.</a>
  </small>
  <div id="flasher-container">
  </div>
